Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Guard graalpy specific ssl test
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
Due: none

Fix style
  graalpython/com.oracle.graal.python.test/src/tests/test_imports.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
Due: eclipseformat, checkstyle

Move pbkdf2 JCA work behind Truffle boundaries
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
Due: eclipseformat, checkstyle

Update Bouncy Castle artifacts to 1.83
  mx.graalpython/suite.py
Due: pylint

Support @SECLEVEL=1 in SSL cipher strings
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLCipherSelector.java
Due: eclipseformat, checkstyle

Update skill to check PR gates
  .agents/skills/pr-gate-check/SKILL.md
Due: none

Remove unused lazy BouncyCastle provider helper
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/builtins/objects/ssl/LazyBouncyCastleProvider.java
Due: eclipseformat, checkstyle

Normalize SSL PEM and pre-handshake errors
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLContextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLOperationNode.java
Due: eclipseformat, checkstyle

Remove unused BouncyCastle util dependency
  mx.graalpython/suite.py
Due: pylint

Add Truffle boundary to marshal serializer
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
Due: eclipseformat, checkstyle

Split core and BouncyCastle native-image config
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/native-image.properties
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/reflect-config.json
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/reflect-config.json
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonCryptoFeature.java
Due: eclipseformat, checkstyle

Report suppressed exceptions
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLBouncyCastleSupportProvider.java
Due: eclipseformat, checkstyle

Remove unused BouncyCastle provider anchor
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BCSSLBouncyCastleSupport.java
Due: eclipseformat, checkstyle

Fix BC standalone service loading
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BCPrivateKeyLoader.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLBouncyCastleSupportProvider.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonCryptoFeature.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Remove stream usage from SSL security-level parsing
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLCipherSelector.java
Due: eclipseformat, checkstyle

Remove dead code
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BCPrivateKeyLoader.java
Due: eclipseformat, checkstyle

Fix style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLBouncyCastleSupportProvider.java
Due: eclipseformat, checkstyle

Add tests and fallback to bouncycastle for more legacy certificate and private key formats
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BCSSLBouncyCastleSupport.java
  graalpython/com.oracle.graal.python.test/src/tests/ssldata/cert_dsa.pem
  graalpython/com.oracle.graal.python.test/src/tests/ssldata/pk_dsa_legacy.pem
  graalpython/com.oracle.graal.python.test/src/tests/ssldata/pk_ecc_legacy.pem
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
Due: eclipseformat, checkstyle

Inline useless method that just replicates JDK code
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
Due: eclipseformat, checkstyle

Update changelog
  CHANGELOG.md
Due: none

Fix style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLCipherSelector.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLOperationNode.java
Due: eclipseformat, checkstyle

Use import for GeneralSecurityException
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
Due: eclipseformat, checkstyle

Restore BC feature-based provider registration
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/native-image.properties
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BCSSLBouncyCastleSupport.java
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleFeature.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Add allocate-dicts heap benchmark
  graalpython/com.oracle.graal.python.benchmarks/python/heap/allocate-dicts.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Replace third-party github action with github script
  .github/workflows/ci-unittests.yml
Due: none

Enable test_remove_subclass
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
Due: none

[GR-64013] Make BC optional in standalone packaging
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

[GR-74734] Expand entropy subprocess coverage
  graalpython/com.oracle.graal.python.test/src/tests/test_entropy_subprocess.py
Due: none

[GR-74734] Add configurable initialization entropy source
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/runtime/PythonContextEntropyTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/random/RandomBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Add changelog entry
  CHANGELOG.md
Due: none

[GR-74734] Limit entropy tests to Linux
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/runtime/PythonContextEntropyTests.java
  graalpython/com.oracle.graal.python.test/src/tests/test_entropy_subprocess.py
Due: eclipseformat, checkstyle

[GR-74734] Add subprocess entropy routing tests
  graalpython/com.oracle.graal.python.test/src/tests/test_entropy_subprocess.py
Due: none

[GR-74734] Expand subprocess entropy tests
  graalpython/com.oracle.graal.python.test/src/tests/test_entropy_subprocess.py
Due: none

Cleanup tests to be more focused and assert clearly expected entropy use
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/runtime/PythonContextEntropyTests.java
  graalpython/com.oracle.graal.python.test/src/tests/test_entropy_subprocess.py
Due: eclipseformat, checkstyle

Minor cleanup for more readable code
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/random/RandomBuiltins.java
Due: eclipseformat, checkstyle

[GR-74734] Remove unused init random wrapper
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Add interpreter-uncached benchmarks configuration
  graalpython/com.oracle.graal.python.benchmarks/python/harness.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: eclipseformat, checkstyle, pylint

Use support.gc_collect in test_descr + heap dump on support.gc_collect failure
  ci/AGENTS.md
  ci/python-gate.libsonnet
  graalpython/lib-python/3/test/support/__init__.py
  graalpython/lib-python/3/test/test_descr.py
Due: none

Add notes on building standalones for agents
  AGENTS.md
Due: none

Reduce tiny flush copying in _io
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedWriterNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/PTextIO.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/PendingBytesOutputStream.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/TextIOWrapperNodes.java
Due: eclipseformat, checkstyle
