Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Share cached nodes in ReadAttributeFromObjectNode.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromObjectNode.java
Due: eclipseformat, checkstyle

Add inlining cutoffs.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Add host inlining cutoff.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrGet.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrSet.java
Due: eclipseformat, checkstyle

Split and quicken GetAttribute per type
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedModuleAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedObjectAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedTypeAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/MergedObjectTypeModuleGetFixedAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Use DynamicObject.GetKeyArrayNode.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/DynamicObjectStorage.java
Due: eclipseformat, checkstyle

Simplify merged object/type/module GetAttribute: Merge tp_descr_get call sites.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/MergedObjectTypeModuleGetAttributeNode.java
Due: eclipseformat, checkstyle

Remove needless inlining cutoff.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromObjectNode.java
Due: eclipseformat, checkstyle

Assume fixed key in merged object/type/module GetAttribute node.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/ThreadLocalBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/MergedObjectTypeModuleGetFixedAttributeNode.java
Due: eclipseformat, checkstyle

Merge common GetNode code paths.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromPythonObjectNode.java
Due: eclipseformat, checkstyle

Remove StringUtils.EqualNode.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
Due: eclipseformat, checkstyle

Inline ReadAttributeFromPythonObjectNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/DynamicObjectStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PBaseException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/AbstractMethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/MergedObjectTypeModuleGetFixedAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromPythonObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadGlobalOrBuiltinNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/statement/AbstractImportNode.java
Due: eclipseformat, checkstyle

[GR-74994] Update Bouncy Castle artifacts to 1.84
  THIRD_PARTY_LICENSE.txt
  mx.graalpython/suite.py
Due: pylint

Fix failing assertion in stack walk
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
Due: eclipseformat, checkstyle

Fix crash in ExceptionUtils.getLineno on continuation frames
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/ExceptionUtils.java
Due: eclipseformat, checkstyle

Add patches for cython 3.2
  graalpython/lib-graalpython/patches/cython-3.2.0.patch
  graalpython/lib-graalpython/patches/cython-3.2.4.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Add descriptor type check to wrapper_descriptor and method_descriptor
  graalpython/com.oracle.graal.python.test/src/tests/test_mappingproxy.py
  graalpython/com.oracle.graal.python.test/src/tests/test_object.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/MethodDescriptorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/WrapperDescriptorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/getsetdescriptor/DescriptorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/getsetdescriptor/GetSetDescriptorTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/getsetdescriptor/MemberDescriptorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/DescriptorCheckNode.java
Due: eclipseformat, checkstyle

Stop swallowing exceptions in mx graalpytest
  mx.graalpython/mx_graalpython.py
Due: pylint

Refine agent instructions
  AGENTS.md
  mx.graalpython/mx_graalpython.py
Due: pylint

Make it easy to exclude standalone Bouncy Castle packaging
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

Use substitution for standalone BouncyCastle flags
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

Skip transient on macos
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_strptime.txt
Due: none

[GR-74994] Restore JDK 21 compatibility in CertUtils
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
Due: eclipseformat, checkstyle

Bump darwin unittest timeout because it's a bit tight, and fix a gdev-cli buildbot parsing error in ci.jsonnet
  ci.jsonnet
Due: none

Pack dict metadata into ObjectHashMap
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/EconomicMapStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/ObjectHashMap.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/MakeSetStorageNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Add regression coverage for dict storage changes
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/dict/PDictTest.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/objects/ObjectHashMapTests.java
  graalpython/com.oracle.graal.python.test/src/tests/test_dict.py
Due: eclipseformat, checkstyle

Bump copyright year in IteratorNodes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/iterator/IteratorNodes.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_strptime.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Add skill for mirroring github PRs
  .agents/skills/github-pr-mirror/SKILL.md
  AGENTS.md
  mx.graalpython/mx_graalpython.py
Due: pylint

Remove now unused GetFixed{XYZ}AttributeNode classes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedModuleAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedObjectAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedTypeAttributeNode.java
Due: eclipseformat, checkstyle

Fix assertions in PythonObject
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/PythonObject.java
Due: eclipseformat, checkstyle

Interpreter optimizations for attribute lookup
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/PythonObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonManagedClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromModuleNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetClassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetDictIfExistsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/DynamicObjectInternalAccessor.java
Due: eclipseformat, checkstyle

Add InlinedBranchProfile for 'no descriptor' branch in GetAttribute bytecode fast-path
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Use PropertyGetter instead of reaching to Truffle internals
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/DynamicObjectInternalAccessor.java
Due: eclipseformat, checkstyle

Add InlineWeakValueProfile for slots in GetAttribute bytecode fast-path
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Properly maintain the HAS_DICT and HAS_MATERIALIZED_DICT flags
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/DynamicObjectStorage.java
Due: eclipseformat, checkstyle

Fix wrong exitcode for stdin execution
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test/src/tests/test_cmd_line.py
Due: eclipseformat, checkstyle

Use length hint when creating tuples
  graalpython/com.oracle.graal.python.test/src/tests/test_tuple.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/iterator/IteratorNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/TupleNodes.java
Due: eclipseformat, checkstyle

Fix infinite result handling in float nb_power
  graalpython/com.oracle.graal.python.test/src/tests/test_float.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/floats/FloatBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle
