Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Update cpyext test expecatations for 3.13
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abstract.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_bytes.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_complex.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_dict.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_err.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_long.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_set.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_structseq.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_tp_slots.py
Due: none

Regenerate cipher data
  graalpython/com.oracle.graal.python.test/src/tests/ssldata/expected_ciphers.json
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLCipher.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLCipherStringMapping.java
Due: eclipseformat, checkstyle

Update CP_UTF8 codec expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_codecs.py
Due: none

Update stprtime test expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_datetime.py
Due: none

Update test_zipimport expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_zipimport.py
Due: none

Prefer system patchelf in repair_wheels
  scripts/wheelbuilder/repair_wheels.py
Due: none

Update test_weakref test expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_weakref.py
Due: none

Update test_traceback expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
Due: none

Update test_structseq expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_structseq.py
Due: none

Update test_import expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_imports.py
Due: none

Update test_parser expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_parser.py
Due: none

Update test_list expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_list.py
Due: none

Update test_io expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_io.py
Due: none

Update test_int expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_int.py
Due: none

Update test_generators expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_generators.py
Due: none

Update test_inspect expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_inspect.py
Due: none

Update test_pdb expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_pdb.py
Due: none

Update test_descr expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_descr.py
Due: none

Update test expectations regarding locals()
  graalpython/com.oracle.graal.python.test/src/tests/test_exec.py
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
  graalpython/com.oracle.graal.python.test/src/tests/test_scope.py
  graalpython/com.oracle.graal.python.test/src/tests/test_vars.py
Due: none

Fix SSL mapping generation and regenerate
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLCipherStringMapping.java
  scripts/generate_ssl_data.py
Due: eclipseformat, checkstyle

Update patch verifier to use git during pre-commit hook
  .pre-commit-config.yaml
  mx.graalpython/verify_patches.py
Due: pylint

Implement PyErr_FormatUnraisable
  graalpython/com.oracle.graal.python.cext/src/errors.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_err.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/WriteUnraisableNode.java
Due: eclipseformat, checkstyle

Rebase pip patch
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/pip-26.1.2.patch
  scripts/repack-bundled-wheels.sh
Due: none

Allow bytecode iteration again
  graalpython/lib-python/3/dis.py
Due: none

Add PyObject_DelAttrString and PyObject_DelItemString
  graalpython/com.oracle.graal.python.cext/src/abstract.c
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Update complex builtins behavior
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_complex.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextComplexBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/complex/ComplexBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyComplexCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Repack pip wheel
  graalpython/lib-python/3/ensurepip/_bundled/pip-26.1.2-py3-none-any.whl
Due: none

Bump ABI version
  mx.graalpython/mx_graalpython.py
Due: pylint

Implement strong reference GetRef APIs
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_dict.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_list.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Fix platform module
  graalpython/lib-python/3/platform.py
Due: none

Enable PyMapping_GetOptionalItem
  graalpython/com.oracle.graal.python.cext/src/abstract.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Remove _PySet_NextEntry
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/src/setobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_set.py
Due: none

Add predefined signatures for METH_NOARGS and METH_O methods
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/CFunctionDocUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextAbstractBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDescrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextFuncBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextMethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtContext.java
Due: eclipseformat, checkstyle

Update _PyBytes_Resize
  graalpython/com.oracle.graal.python.cext/src/bytesobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_bytes.py
Due: none

Disable deprecation warnings from cpyext tests
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
Due: none

Remove python-style from AGENTS.md
  AGENTS.md
Due: none

Avoid direct tuple access in structseq
  graalpython/com.oracle.graal.python.cext/src/structseq.c
Due: none

Implement new changes in ssl module
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SSLModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/PSSLCertificate.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/PSSLContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLCertificateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLContextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLSocketBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
  graalpython/lib-python/3/test/test_ssl.py
Due: eclipseformat, checkstyle

Make ctypes import
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Reintroduce adaptations to sysconfig module
  graalpython/lib-python/3/sysconfig/__init__.py
Due: none
