Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Update Python inlined files: pull _ctypes from 3.12.8, remove pypy hashlibs
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes.c
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes_test.c
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes_test.h
  graalpython/com.oracle.graal.python.cext/_ctypes/callbacks.c
  graalpython/com.oracle.graal.python.cext/_ctypes/callproc.c
  graalpython/com.oracle.graal.python.cext/_ctypes/cfield.c
  graalpython/com.oracle.graal.python.cext/_ctypes/ctypes.h
  graalpython/com.oracle.graal.python.cext/_ctypes/malloc_closure.c
  graalpython/com.oracle.graal.python.cext/_ctypes/stgdict.c
Due: none

Add CPython's _ctypes
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes_test.h
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes_test.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes_test.h
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/callbacks.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/callproc.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/cfield.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/ctypes.h
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/malloc_closure.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/stgdict.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes_test.c
  mx.graalpython/copyrights/overrides
  mx.graalpython/mx_graalpython_import.py
Due: pylint

Implement instantiation of native dict subclasses
  graalpython/com.oracle.graal.python.cext/include/cpython/dictobject.h
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/stgdict.c
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictBuiltins.java
Due: eclipseformat, checkstyle

Patch direct slice struct access in _ctypes.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes.c
Due: none

Get _ctypes to build and bundle
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/callbacks.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/callproc.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/ctypes.h
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/stgdict.c
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  mx.graalpython/suite.py
Due: pylint

Fix collection of stgdicts that got assigned to a type
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Use the ptr as id for native objects same as cpython
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
Due: eclipseformat, checkstyle

Fix updating managed types' tp_dict from _ctypes
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
Due: eclipseformat, checkstyle

Patch overflow checking in ctypes test
  graalpython/lib-python/3/test/test_ctypes/test_arrays.py
Due: none

Remove hashlib usage from freeze_modules
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
Due: none

Add PyWeakref_NewProxy
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WeakRefModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextWeakrefBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
Due: eclipseformat, checkstyle

Fix PyWeakRef_GetObject for ProxyType objects
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextWeakrefBuiltins.java
Due: eclipseformat, checkstyle

Update Python inlined files: 3.12.8
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes.c
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes_test.c
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes_test.h
  graalpython/com.oracle.graal.python.cext/_ctypes/callbacks.c
  graalpython/com.oracle.graal.python.cext/_ctypes/callproc.c
  graalpython/com.oracle.graal.python.cext/_ctypes/cfield.c
  graalpython/com.oracle.graal.python.cext/_ctypes/ctypes.h
  graalpython/com.oracle.graal.python.cext/_ctypes/malloc_closure.c
  graalpython/com.oracle.graal.python.cext/_ctypes/stgdict.c
Due: none

statically link libffi from the truffle dist
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  mx.graalpython/suite.py
Due: pylint

Rename method to make intent clear.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonClassNativeWrapper.java
Due: eclipseformat, checkstyle

Clean up code around registering replacement wrappers
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PThreadState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyMemoryViewWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Get rid of NativeObjectReferenceArrayWrapper
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/NativeObjectReferenceArrayWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
Due: eclipseformat, checkstyle

Fix finding LIBFFI_DIST when MX_OUTPUT_ROOT_INCLUDES_CONFIG==false
  mx.graalpython/mx_graalpython.py
Due: pylint

Remove branch for managed sulong from PyMemoryViewWrapper
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyMemoryViewWrapper.java
Due: eclipseformat, checkstyle

Fix building _ctypes extension on windows
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  mx.graalpython/suite.py
Due: pylint

Set sys.dllhandle when loading ctypes
  graalpython/lib-python/3/ctypes/__init__.py
Due: none

Move replacement logic from all wrappers to the 3 classes that use it
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CPyObjectArrayWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ManagedMethodWrappers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PThreadState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyMemoryViewWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyProcsWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonClassNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GetReplacementNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Update ctypes compiler defines for macos
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
Due: none

Remove PythonBuiltinClassType#type field
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonBuiltinClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetClassNode.java
Due: eclipseformat, checkstyle

Fix running with TTY but without readline initialized
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/JLineConsoleHandler.java
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ReadlineModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix optimization for unboxing only in compiled code
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/OpCodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Export the shell package unconditionally
  graalpython/com.oracle.graal.python.shell/src/META-INF/native-image/org.graalvm.python.shell/python-launcher/native-image.properties
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Also open the potentially duplicated libpython so on posix
  graalpython/lib-python/3/ctypes/__init__.py
Due: none

Give more info in windows meson test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_ctypes.py
Due: none

Order our deallocations during shutdown
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Make sure sys.dllhandle points to the right libpython-native.so in multi-context
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/cext/CExtContextTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtContext.java
  graalpython/lib-python/3/ctypes/__init__.py
Due: eclipseformat, checkstyle

Only call tp_dealloc on objects that were only referenced from managed by now
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Avoid double-free when calling tp_deallocs during shutdown that may cause GC
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Update windows-only ctypes test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_ctypes.py
Due: none

Sync test_export_symbols test between bytecode dsl and manual interpreter
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
Due: none

Clean up our two remaining wrappers with full off-heap memory
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyMemoryViewWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonClassNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GetReplacementNode.java
Due: eclipseformat, checkstyle

Skip failing test on Darwin
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
Due: none

Untag transient
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_int.txt
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
