Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Add devcontainer.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.md
  docs/contributor/CONTRIBUTING.md
Due: none

Cleanup wheel builder workflow
  .github/workflows/build-linux-aarch64-wheels.yml
  .github/workflows/build-linux-amd64-wheels.yml
  .github/workflows/build-macos-aarch64-wheels.yml
  .github/workflows/build-macos-amd64-wheels.yml
  .github/workflows/build-wheels.yml
  .github/workflows/build-windows-amd64-wheels.yml
Due: none

Avoid direct structure access
  graalpython/lib-graalpython/patches/librt-0.7.8.patch
Due: none

Resize before set items
  graalpython/lib-graalpython/patches/librt-0.7.8.patch
Due: none

Update pydantic-core downstream test to use new repo
  mx.graalpython/downstream_tests.py
Due: pylint

fix failed test due to end of lines mismatch
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
Due: none

Disable list_resize optimization
  graalpython/lib-graalpython/patches/librt-0.7.8.patch
Due: none

Revert ob_item change
  graalpython/lib-graalpython/patches/librt-0.7.8.patch
Due: none

fix style issue : Copyright year
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
Due: none

Rewrite test_keep_gil_around_interop to use a dedicated debug builtin
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix standalone unittests running on github
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix running style gate on Github
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittest-retagger.yml
Due: none

Run the style gate early as well
  .github/workflows/ci-unittests.yml
Due: none

Simplify unittest selection
  .github/workflows/ci-unittests.yml
Due: none

Add missing exclusions for github unittests
  graalpython/com.oracle.graal.python.test/src/tests/conftest.toml
Due: none

Fix deopt in frame sync by always making a fresh copy of the frame
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/superobject/SuperBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/GetFrameLocalsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_imaplib.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pty.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_atexit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bigmem.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bytes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_code_module.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_cn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_dataclasses.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_email.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_float.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_flufl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_generators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_genericalias.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_int.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_lib2to3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_lzma.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_memoryview.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multibytecodec.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_nntplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ntpath.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_os.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_posix.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_posixpath.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_quopri.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_resource.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_shutil.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socketserver.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_stat.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_struct.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tabnanny.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_threading.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tokenize.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_userstring.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_warnings.txt
Due: none

Fix downstream test darwin to macos
  .github/workflows/downstream-tests.yml
Due: none

Bytecode DSL: optimize the ReadGlobal and ReadName operations for interpreter performance
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/PythonModule.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/PythonObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectGetItem.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadGlobalOrBuiltinNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadNameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetDictIfExistsNode.java
Due: eclipseformat, checkstyle

update graal import
  mx.graalpython/suite.py
Due: pylint

Auth git api request to avoid rate limiting
  .github/workflows/downstream-tests.yml
Due: none

exception group pretty printing: context is now mutable; minor improvements
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

fix constants
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

forgotten debug print rm
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTraceBackPrint.java
Due: eclipseformat, checkstyle

style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyExceptionGroupInstanceCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTraceBackPrint.java
Due: eclipseformat, checkstyle

accidentally removed a return
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

Ensure all CallTarget#call calls have location
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PolyglotModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/TRegexCache.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/InvokeArrowReleaseCallbackNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/arrow/ArrowSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/arrow/ArrowUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Fix: proxy.__bool__ should use BoundaryCallContext.enter/exit
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/Parser.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/SlotsMapping.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/weakref/ProxyTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotInquiry.java
Due: eclipseformat, checkstyle

Remove dead code from PythonUtils
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Python async handlers: push dummy encapsulating node if cached location is not available
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
Due: eclipseformat, checkstyle

set untag_failed to false
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

[GR-72788] Update to 25.0.2
  README.md
  docs/user/Embedding-Build-Tools.md
  docs/user/Interoperability.md
  docs/user/Python-Runtime.md
  docs/user/README.md
Due: none

Add windows wheels for 25.0 in wheel index
  docs/site/_plugins/graalpy_wheels.txt
Due: none

Fix retagger untagging missing tests from report on github ci
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Remove debugs
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
