Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Test invalid parameters to PyUnicode_New
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
Due: none

Optimize PyUnicode_New native representation
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSlotBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ToNativeTypeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
Due: eclipseformat, checkstyle

Use @CApiConstant for GRAALPY_ATTACH_NATIVE_*
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CConstants.java
Due: eclipseformat, checkstyle

[GR-49936] Fix struct P unsigned pointer packing
  graalpython/com.oracle.graal.python.test/src/tests/test_struct.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/struct/StructNodes.java
Due: eclipseformat, checkstyle

[GR-67706] Handle empty cProfile stats
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/lib-python/3/pstats.py
Due: none

[GR-53387] Address C API leak test review
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/LeakTest.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Harden faulthandler thread dump test
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
Due: none

Update onnxruntime patch coverage
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/onnxruntime-1.25.1.patch
Due: none

Add a skill for creating patches
  .agents/skills/third-party-package-patches/SKILL.md
  scripts/check_patch_updates.py
  scripts/get_pypi_source.py
Due: none

Update pandas patch coverage
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/pandas-2.3.3.patch
  graalpython/lib-graalpython/patches/pandas-3.0.2.patch
Due: none

Update librt patch coverage
  graalpython/lib-graalpython/patches/librt-0.10.0.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Update numpy patch coverage
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/numpy-2.4.4.patch
Due: none

Update orjson patch coverage
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/orjson-3.11.9.patch
Due: none

Update pyarrow patch coverage
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/pyarrow-22.0.0.patch
  graalpython/lib-graalpython/patches/pyarrow-24.0.0.patch
Due: none

[GR-50212] Free native weakrefs during shutdown
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_shutdown.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextWeakrefBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Preserve undecodable launcher argv bytes
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Validator.java
Due: eclipseformat, checkstyle

Update imports
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cppext.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ctypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_genericalias.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_os.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_userstring.txt
Due: none

Update datetime unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
Due: none

Add true multi-context test with IsolateNativeModules
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

Add -repeated run option for testing multiple contexts
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Fix false sharing with IsolatedNativeModules
  ci.jsonnet
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/TpSlotWrapper.java
Due: eclipseformat, checkstyle

Avoid false sharing of deallocated native TruffleStrings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ToNativeTypeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/capsule/ArrowArrayCapsuleDestructor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/capsule/ArrowSchemaCapsuleDestructor.java
Due: eclipseformat, checkstyle

Proactively check for panama availability
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupportJdk21.java
Due: eclipseformat, checkstyle

Make test_indirect_call more resilient against splitting
  graalpython/com.oracle.graal.python.test/src/tests/test_indirect_call.py
Due: none

Copy contents of constant object tuples
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Disable transiently failing test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_pystate.py
Due: none

Fix recreating invalidated MRO shapes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonClass.java
Due: eclipseformat, checkstyle

Avoid leaking native-backed TruffleStrings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextStructSeqBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSysBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
Due: eclipseformat, checkstyle

Fix builtin class tp_name
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ToNativeTypeNode.java
Due: eclipseformat, checkstyle

Fix restoring signal handlers
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SignalModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix sys.settrace return events after cleanup
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Enable bdb generator return tracing test
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
Due: none

Enable passing sys.setprofile generator tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
Due: none

Fix trace line counts for decorators and comprehensions
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Register escaped exception frame owner thread
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/TracebackBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PException.java
Due: eclipseformat, checkstyle

Remove too strict assert from PyCFunction_NewEx
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextMethodBuiltins.java
Due: eclipseformat, checkstyle

Fix PyDict_Next not updating HAS_MATERIALIZED_DICT flag
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_object.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
Due: eclipseformat, checkstyle

Fix list clearing
  graalpython/com.oracle.graal.python.cext/src/listobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_list.py
Due: none

Add oracledb downstream test
  .github/workflows/downstream-tests.yml
  mx.graalpython/downstream_tests.py
Due: pylint

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
