Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

[GH-526] Reading named pipes with Java posix fails with Illegal seek
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/OSErrorEnum.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
Due: eclipseformat, checkstyle

Document ReadAttributeFromPythonObjectNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromPythonObjectNode.java
Due: eclipseformat, checkstyle

Document StgDictObject
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/StgDictObject.java
Due: eclipseformat, checkstyle

Document how to print a Python traceback in the Java debugger
  docs/contributor/CONTRIBUTING.md
Due: none

Avoid subclasses in WriteAttributeToObjectNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/LazyPyCArrayTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/LazyPyCSimpleTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/StructSequence.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Create the dict eagerly for modules so it's always there
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/PythonModule.java
Due: eclipseformat, checkstyle

Backport orjson 3.10.18 patch 24.2.2
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/orjson-3.10.18.patch
Due: none

Adapt orjson 3.10.18 patch to 24.2.2
  graalpython/lib-graalpython/patches/orjson-3.10.18.patch
Due: none

Add gensim rule to fetch sources from github
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Backport gensim fix to 24.2.2
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Compare bytes instead of decoded text if rebuilding parser generator
  graalpython/com.oracle.graal.python.pegparser.generator/main_asdl_gen.py
Due: none

Add command and weekly job to generate pgo profile
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

Update PGO build to also save lcov file
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Automatically try to use PGO profiles when building GraalPy EE standalones
  mx.graalpython/mx_graalpython.py
  mx.graalpython/native-ee
Due: pylint

Remove dead commented out assert
  graalpython/com.oracle.graal.python.test/src/tests/test_venv.py
Due: none

Fix a few more pyright errors
  mx.graalpython/mx_graalpython.py
Due: pylint

Make sure we only pick up GRAALPY_HOME for a custom benchmark config
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

gzip the pgo profile
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix using the profile when some parts of the download fails
  mx.graalpython/mx_graalpython.py
Due: pylint

Update imports
  ci/graal/ci/ci_common/ci-check.libsonnet
  ci/graal/ci/ci_common/run-spec-impl.libsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Comment part removing
  docs/site/03-compatibility.md
Due: none

[GR-64741] Implement unstar operation just using Variadic annotations
  graalpython/com.oracle.graal.python.test/src/tests/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Update test tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
Due: none

Add downstream test for pydantic-core
  .github/workflows/downstream-tests.yml
  mx.graalpython/downstream_tests.py
Due: pylint

Mark hypothesis patch upstreamed
  graalpython/lib-graalpython/patches/metadata.toml
  mx.graalpython/downstream_tests.py
Due: pylint

Add patch for msgpack
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/msgpack.patch
Due: none

Add patch for lxml 6
  graalpython/lib-graalpython/patches/lxml-6.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Add patch for Cython 3.1.2
  graalpython/lib-graalpython/patches/cython-3.1.2.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

pydantic-core merged graalpy PR
  mx.graalpython/downstream_tests.py
Due: pylint

Update orjson 3.10.18 patch: numpy support & fix empty unicode refcounting
  graalpython/lib-graalpython/patches/orjson-3.10.18.patch
Due: none

add automatic setup helper for GraalPy Tkinter support on macOS
  graalpython/lib-python/3/@test_90040_tmpÃ
  graalpython/lib-python/3/_tkinter/__pycache__/_cffi__x993bc6b9x15ee1dff.c
  graalpython/lib-python/3/_tkinter/tklib_build.py
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

add automatic setup helper for GraalPy Tkinter support on macOS
  graalpython/lib-python/3/@test_90040_tmpÃ
  graalpython/lib-python/3/_tkinter/__pycache__/_cffi__x993bc6b9x15ee1dff.c
Due: none

add automatic setup helper for GraalPy Tkinter support on macOS
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

replace 'mx python' with sys.executable
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Add comments about the configs in mx_graalpython_bench_param.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Fix post-merge benchmarks
  ci/python-gate.libsonnet
Due: none

Refactor Tkinter setup script: dynamic path resolution, package installation, and system dependency handling
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Simplify tierConfig and just use the direct target name instead of extra indirection
  ci/python-gate.libsonnet
Due: none
