Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Quicken attribute reads for int return value
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Fix incremental build of com.oracle.graal.python.cext
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
Due: none

new dev cycle 25.0.4.1
  mx.graalpython/suite.py
Due: pylint

Add ujson-loads benchmark
  graalpython/com.oracle.graal.python.benchmarks/python/macro/c-ujson-loads.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Disable tagged SelectSelectorTestCase.test_select_read_write on darwin/aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_selectors.txt
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
Due: none

Remove unused GraalPyPrivate_Set_NextEntry
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSetBuiltins.java
Due: eclipseformat, checkstyle

Fix Py_GetConstant
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_limited_api.py
Due: none

Use git tacking information for file selection in mx_graalpython_import
  mx.graalpython/mx_graalpython_import.py
Due: pylint

Handle invalid utf-8 in PyUnicode_EqualToUTF8AndSize
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
Due: eclipseformat, checkstyle

Convert PyUnicode_FromString to an upcall
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Preserve existing exceptions in PyDict_GetItemString
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_dict.py
Due: none

Implement PyDict_Pop
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_dict.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
Due: eclipseformat, checkstyle

Convert PyLong_From/AsNativeBytes to static methods
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
Due: eclipseformat, checkstyle

Update comment in PFrame#getBytecodeFrame
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
Due: eclipseformat, checkstyle

Avoid building asv native extension
  graalpython/lib-graalpython/patches/asv-0.5.1.patch
Due: none

Use an upcall for PyThread_get_thread_ident to have consistent identifiers
  graalpython/com.oracle.graal.python.cext/src/thread_nt.h
  graalpython/com.oracle.graal.python.cext/src/thread_pthread.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_thread.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextPyThreadBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Fix extra locals not being visible in locals()
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/GetFrameLocalsNode.java
Due: eclipseformat, checkstyle

Update Python inlined files: 3.13.14
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_frame.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_freelist.h
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/blob.o
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/connection.o
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/cursor.o
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/microprotocols.o
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/module.o
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/prepare_protocol.o
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/row.o
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/statement.o
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/util.o
  graalpython/com.oracle.graal.python.cext/src/condvar.h
  graalpython/com.oracle.graal.python.cext/src/invalid_parameter_handler.c
Due: none

Disable unapplicable assertion
  graalpython/com.oracle.graal.python.cext/src/object.c
Due: none

Add missing Windows exports
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_unicodeobject.h
Due: none

Update tox test dependencies
  graalpython/com.oracle.graal.python.test/src/tox/leftpad/tox.ini
  mx.graalpython/mx_graalpython.py
Due: pylint

Use newer CPython in tox gate
  ci.jsonnet
Due: none

Use file execution in startup benchmarks instead of -c
  graalpython/com.oracle.graal.python.benchmarks/python/fast_subprocess.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/startup-imports.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/startup.py
Due: none

Add PyList_Extend
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_list.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: pylint

Implement strict mode of itertools.batch
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/BatchedBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/PBatched.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add mmap trackfd support
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/PMMap.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Update mmap size and resize behavior
  graalpython/com.oracle.graal.python.test/src/tests/test_mmap.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Update stdlib_module_names list
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

Remove lib2to3 leftovers
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_lib2to3.txt
  graalpython/lib-python/3/lib2to3/Grammar3.8.2.dev.0.pickle
  graalpython/lib-python/3/lib2to3/PatternGrammar3.8.2.dev.0.pickle
Due: none

Remove crypt module
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CryptModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
Due: eclipseformat, checkstyle

Implement math.fma
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add new sys builtins
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
Due: eclipseformat, checkstyle

Update str.replace signature
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
Due: eclipseformat, checkstyle

Fix NPE in SyntaxError construction
  graalpython/com.oracle.graal.python.test/src/tests/test_parser.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Allow module names to be non-strings
  graalpython/com.oracle.graal.python.test/src/tests/test_metaclass.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Fix crash on top-level starred expression
  graalpython/com.oracle.graal.python.test/src/tests/test_starred_expr.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle
