Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Add -J-XX:MaxRAMPercentage=90.0 on graalpy native / libpythonvm builds
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

test: python 3.12.8 on linux aarch64
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  ci/python-gate.libsonnet
Due: none

Revert "Applied diff with 'retagg failed' to true"
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_isinstance.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_math.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_userdict.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile64.txt
Due: none

WIP: Github tagged test exclusion character
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

revert aarch64 retag
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_math.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile64.txt
Due: none

Test MX_REPORT_SUFFIX with os-arch
  ci/python-gate.libsonnet
Due: none

Use ci-matrix-gen to call retagger and run retagger merge script
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittest-retagger.yml
Due: none

Fix workflow
  .github/workflows/ci-unittest-retagger.yml
Due: none

Tmp workflow retagger filter
  .github/workflows/ci-unittest-retagger.yml
Due: none

Use CURRENT_PLATFORM as mx report suffix while running in GITHUB_CI
  .github/workflows/ci-unittest-retagger.yml
  ci/python-gate.libsonnet
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

rm redundant check
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

PR workflow, rename job
  .github/workflows/ci-unittests.yml
Due: none

Extract PR test to a single workflow
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittests.yml
Due: none

Allow retagger fiter for windows
  .github/scripts/extract_matrix.py
  .github/workflows/ci-unittest-retagger.yml
Due: none

Disable PR test runs while in draft
  .github/workflows/ci-matrix-gen.yml
Due: none

wip: ci-unittest-retagger workflow file
  .github/workflows/ci-unittest-retagger.yml
  ci.jsonnet
Due: none

Fix Windows build
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  ci.jsonnet
  ci/graal/ci/common.jsonnet
  ci/python-gate.libsonnet
  graalpython/com.oracle.graal.python.test/src/runner.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Add retagger label to PR
  .github/workflows/ci-unittest-retagger.yml
Due: none

Set build allocated memory relative system's available
  mx.graalpython/mx_graalpython.py
Due: pylint

Rm redundant check
  .github/scripts/merge_retagger_results.py
Due: none

Update PR unittest trigger
  .github/workflows/ci-unittests.yml
Due: none

Clean some debugs
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/com.oracle.graal.python.test/src/tests/test_sequence_strategies.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix Windows arch name in retagger merge
  .github/workflows/ci-unittest-retagger.yml
Due: none

unpack-artifact.cmd
  .github/scripts/unpack-artifact.cmd
Due: none

Remove debugs
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittest-retagger.yml
  graalpython/com.oracle.graal.python.test/src/runner.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix GITHUB_CI not set on merge job
  .github/workflows/ci-unittest-retagger.yml
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
Due: none

Run retagger on Linux aarch64
  .github/workflows/ci-unittest-retagger.yml
  .github/workflows/ci-unittests.yml
Due: none

Open PR on weekly retagger (#8)
  .github/workflows/ci-unittest-retagger.yml
Due: none

Run PR tests on synchronize
  .github/workflows/ci-unittests.yml
Due: none

disable tests on draft
  .github/workflows/ci-unittests.yml
Due: none

Merge oracle/graalpython master and fixes issues
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_code.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_genexps.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_grammar.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_strptime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_threading.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/todo.sh
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Enable Windows in ci-unittest workflow
  .github/workflows/ci-unittests.yml
Due: none

Rm debugs, fix github_ci_build_args not used
  .github/workflows/ci-unittests.yml
  graalpython/com.oracle.graal.python.test/src/runner.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
