Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Fix calling interop behavior
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PolyglotModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/interop/GetInteropBehaviorValueNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/interop/InteropBehavior.java
Due: eclipseformat, checkstyle

Create code objects only once
  graalpython/com.oracle.graal.python.test/src/tests/test_code.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/MakeFunctionNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Remove BytecodeDSLCodeUnitAndRoot
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnitAndRoot.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Force cached for MakeFunction operation and cache assumption
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Set WarnInterpreterOnly to false in PythonDebugTest
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
Due: eclipseformat, checkstyle

Pass code objects into non-function python frames
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Fix skip_file_prefixes facility
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WarningsModuleBuiltins.java
Due: eclipseformat, checkstyle

Add a source option NewGlobals for executing in a clean namespace
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/interop/SourceOptionsTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
Due: eclipseformat, checkstyle

Fix repr to include result in TypeError
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectReprAsObjectNode.java
Due: eclipseformat, checkstyle

Update .gitignore
  .gitignore
Due: none

Fix Windows venv base executable propagation for pypa/cibuildwheel#2754
  graalpy_virtualenv_seeder/graalpy_virtualenv_seeder/graalpy.py
  graalpython/com.oracle.graal.python.test/src/tests/test_venv.py
  graalpython/lib-python/3/venv/__init__.py
  graalpython/python-venvlauncher/src/venvlauncher.c
Due: none

[GR-74045] Skip hanging pandas benchmark in periodic run
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

[GR-74044] Run ASV without distutils
  graalpython/lib-graalpython/patches/asv-0.5.1.patch
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_isinstance.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Update imports
  mx.graalpython/suite.py
Due: pylint

Add retries to signal raise test
  graalpython/lib-python/3/test/test_signal.py
Due: none

Remove tags for test_multiprocessing_fork, it should be excluded
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
Due: none

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
Due: none

Fix complex add/sub handling of negative zero
  graalpython/com.oracle.graal.python.test/src/tests/test_complex.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/complex/ComplexBuiltins.java
Due: eclipseformat, checkstyle

Add a test for repr error message
  graalpython/com.oracle.graal.python.test/src/tests/test_repr.py
Due: none

Update copyright
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectReprAsObjectNode.java
Due: eclipseformat, checkstyle

[GR-73540] Force more GC for those weakref tests that we still hope to run
  graalpython/lib-python/3/test/test_weakref.py
Due: none

[GR-72044] Serialize faulthandler raw fd writes to avoid interleaving
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/FaulthandlerModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-73732] Avoid cross-thread tstate TLS clearing on shutdown
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

[GR-73006] Split test_tarfile across tagged partial batches
  graalpython/lib-python/3/test/conftest.toml
Due: none

Ascii builtin should return a subclass
  graalpython/com.oracle.graal.python.test/src/tests/test_builtin.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/TemplateFormatter.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectAsciiAsObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectAsciiAsTruffleStringNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/BytesFormatProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/StringFormatProcessor.java
Due: eclipseformat, checkstyle

Fix wrong exitcode for stdin execution
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test/src/tests/test_cmd_line.py
Due: eclipseformat, checkstyle

Add a little helper for debugging benchmarks with native problems
  docs/contributor/CONTRIBUTING.md
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Validate raw allocator headers
  graalpython/com.oracle.graal.python.cext/src/obmalloc.c
Due: none

Keep symbols and capture debug artifacts for native failures
  ci/python-gate.libsonnet
Due: none

Combine helpers for capturing stack traces and make them try harder to print symbolic names
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/graalpy_stacktrace.c
  graalpython/com.oracle.graal.python.cext/src/obmalloc.c
Due: none

Add optional raw allocator diagnostics
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/obmalloc.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Fix native raw allocator accounting
  graalpython/com.oracle.graal.python.cext/src/obmalloc.c
Due: none

some refactoring of NodeFootprintAnalyzer, and my runner for basic benchmarks
  benchmarks/interpreter/deltablue.py
  benchmarks/interpreter/fibonacci.py
  benchmarks/interpreter/richards.py
  benchmarks/interpreter/runner.py
  benchmarks/interpreter/sieve.py
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/NodeFootprintAnalyzer.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
  run_benchmarks_prof.sh
Due: eclipseformat, checkstyle, pylint

Add changelog entry
  CHANGELOG.md
Due: none

Fix NPE in assertion message construction
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/TracebackBuiltins.java
Due: eclipseformat, checkstyle

Add thread._excepthook and _ExceptHookArgs builtins
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PExceptHookArgs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PExceptHookArgsBuiltins.java
Due: eclipseformat, checkstyle

Set _ExceptHookArgs as a PTuple/Seq
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PExceptHookArgs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PExceptHookArgsBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/InstantiableStructSequenceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/StructSequenceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Avoid copying
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PyExpatModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle
