Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

[GR-74145] Simplify POSIX stack depth fix
  graalpython/com.oracle.graal.python.cext/src/graalpy_stacktrace.c
Due: none

[GR-74145] Fix obmalloc sample depth define order
  graalpython/com.oracle.graal.python.cext/src/obmalloc.c
Due: none

Split sandboxed gate into two batches
  ci.jsonnet
Due: none

Start warning about using the graalpy multiprocessing backend
  graalpython/lib-python/3/multiprocessing/context.py
Due: none

Remve unwanted tests for co_consts
  graalpython/com.oracle.graal.python.test/src/tests/test_code.py
  graalpython/com.oracle.graal.python.test/src/tests/test_parser.py
Due: none

[GR-72218] Clarify GraalPy gcmodule assertions
  graalpython/com.oracle.graal.python.cext/src/gcmodule.c
Due: none

[GR-68227] Support named sequences in unicodedata.lookup
  graalpython/com.oracle.graal.python.test/src/tests/test_unicodedata.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/UnicodeDataModuleBuiltins.java
Due: eclipseformat, checkstyle

Modify Jira skill
  .agents/skills/jira/SKILL.md
Due: none

Keep the unicode database fallback behind a context option
  CHANGELOG.md
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/UnicodeDataModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_isinstance.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Fix to use overridden `__qualname__` when that is set on a method's function
  graalpython/com.oracle.graal.python.test/src/tests/test_methods.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/AbstractMethodBuiltins.java
Due: eclipseformat, checkstyle

[GR-74243] Add faulthandler self-signaling functions
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/FaulthandlerModuleBuiltins.java
Due: eclipseformat, checkstyle

Disable unicode fallback in sandboxed tests
  mx.graalpython/mx_graalpython.py
Due: pylint

fix faulthandler signaling test to run on cpython
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
Due: none

Provide a shim ucd_3_2_0 object when we do not allow the fallback
  graalpython/com.oracle.graal.python.test/src/tests/test_unicodedata.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/UnicodeDataModuleBuiltins.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

[GR-74243] Limit faulthandler self-signals to native standalone
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_faulthandler.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/FaulthandlerModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Add missing O_* posix constants
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstants.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstantsDarwin.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstantsLinux.java
  scripts/gen_native_cfg.py
Due: eclipseformat, checkstyle

Harden test and self-segfault causing native posix method
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
  graalpython/python-libposix/src/posix.c
  graalpython/python-libposix/src/posix_signal_self_segv.c
Due: eclipseformat, checkstyle

Replace ol-cli with gdev-cli in agent files
  .agents/skills/graalpython-rota/SKILL.md
  .agents/skills/jira/SKILL.md
  .agents/skills/pr-gate-check/SKILL.md
  AGENTS.md
Due: none

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_faulthandler.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
Due: none

Remove explicit eclipse download
  ci/python-gate.libsonnet
Due: none

Use sys.stderr as excepthook outfile
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/InstantiableStructSequenceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/StructSequenceBuiltins.java
  graalpython/lib-python/3/test/test_threading.py
Due: eclipseformat, checkstyle

Refactor reference queue polling state
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Add branch probabilities for code creation
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
Due: eclipseformat, checkstyle

Implement ForeignTime methods
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignTimeBuiltins.java
Due: eclipseformat, checkstyle

Add foreign temporal trait plumbing
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetForeignObjectClassNode.java
Due: eclipseformat, checkstyle

Add shared temporal projection helpers
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TemporalNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeNodes.java
Due: eclipseformat, checkstyle

Implement ForeignDate methods
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TemporalNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignDateBuiltins.java
Due: eclipseformat, checkstyle

Get rid of more PTimeDelta intermediate objects
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TemporalNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaBuiltins.java
Due: eclipseformat, checkstyle

[GR-62450] Implement ForeignDateTime methods
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TemporalNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignDateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignTimeBuiltins.java
Due: eclipseformat, checkstyle

Refactor all other trivial temp conversions to managed datetime objects
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DatetimeModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TemporalNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignDateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignDateTimeBuiltins.java
Due: eclipseformat, checkstyle

Get rid of AsManagedTimeNode for intermediate results
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TemporalNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeNodes.java
Due: eclipseformat, checkstyle

[GR-62450] Add lib temporal check nodes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyDateCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyDateTimeCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTZInfoCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTimeCheckNode.java
Due: eclipseformat, checkstyle

Support foreign timezone objects
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TemporalNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TzInfoNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignTimeZoneBuiltins.java
Due: eclipseformat, checkstyle

[GR-62450] Move temporal check helpers to lib
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TemporalNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeZoneBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TzInfoBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TzInfoNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignDateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignDateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignTimeZoneBuiltins.java
Due: eclipseformat, checkstyle

Get rid of AsManagedDateNode for intermediate results
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TemporalNodes.java
Due: eclipseformat, checkstyle

Fix compilation
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
