Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Delay getting bytecode location for generator state
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
Due: eclipseformat, checkstyle

Create a new root when converting a generator into a coroutine
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/PAsyncGen.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeGeneratorFunctionRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

test: python 3.12.8 on linux aarch64
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  ci/python-gate.libsonnet
Due: none

Update imports
  mx.graalpython/suite.py
Due: pylint

Update tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Improve specializations for CheckAndLoadLocal node.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Avoid the accessor check if the slot is specialized, because it is not necessary in that case.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Use @StoreBytecodeIndex for specializations raising unbound local error
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Updated text description; Optimized img sizes
  docs/site/assets/img/python/devoxx2024-cover.png
  docs/site/assets/img/python/intellij2025-cover.png
  docs/site/assets/img/python/jfocus2025-cover.png
  docs/site/index.md
Due: none

Bytecode DSL: use @Bind BytecodeNode instead of PBytecodeDSLRootNode where possible, remove unused operations
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Use an intermediate C launcher in startup benchmark
  graalpython/com.oracle.graal.python.benchmarks/python/micro/startup.py
Due: none

Remove -Wignore from startup benchmark
  graalpython/com.oracle.graal.python.benchmarks/python/micro/startup.py
Due: none

Don't remove relaunch args from orig_argv
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/lib-python/3/test/test_sys.py
Due: eclipseformat, checkstyle

Remove -snapshot-startup from startup benchmark
  graalpython/com.oracle.graal.python.benchmarks/python/micro/startup.py
Due: none

Enabling GraalPy on GraalOS
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysconfigModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
  scripts/generate-fsmappings.sh
Due: eclipseformat, checkstyle

WIP: Github tagged test exclusion character
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

revert aarch64 retag
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_math.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile64.txt
Due: none

Revert "Applied diff with 'retagg failed' to true"
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_isinstance.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_math.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_userdict.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile64.txt
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Disable PR test runs while in draft
  .github/workflows/ci-matrix-gen.yml
Due: none

wip: ci-unittest-retagger workflow file
  .github/workflows/ci-unittest-retagger.yml
  ci.jsonnet
Due: none

docs: update requirements file description to indicate no lock-file and pip-managed freezing
  docs/user/Embedding-Build-Tools.md
Due: none

Delete arguments of generators after the prolog
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_contextlib.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Bytecode DSL tracing fix: pop tracing data even if trace function raises
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Pass RootNode directly to CalleeContext.enter to avoid the loop in getRootNode()
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/modules/ConversionNodeTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SortNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTraceBackPrint.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/function/BuiltinFunctionRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Bytecode DSL: construct native int storage for list literals if --python.UseNativePrimitiveStorageStrategy=true
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

test_grammar test fix
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_grammar.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix workflow
  .github/workflows/ci-unittest-retagger.yml
Due: none

Use CURRENT_PLATFORM as mx report suffix while running in GITHUB_CI
  .github/workflows/ci-unittest-retagger.yml
  ci/graal/common.json
  ci/python-gate.libsonnet
  graalpython/com.oracle.graal.python.test/src/runner.py
  mx.graalpython/suite.py
Due: pylint

Test MX_REPORT_SUFFIX with os-arch
  ci/python-gate.libsonnet
Due: none

Use ci-matrix-gen to call retagger and run retagger merge script
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittest-retagger.yml
Due: none

Fix compilation errors with build type Debug
  graalpython/com.oracle.graal.python.cext/src/abstract.c
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
Due: none

Fix: unaligned pointer caused crashes
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_object.h
Due: none

Fix: zero whole object in GraalPyPrivate_Tuple_Alloc
  graalpython/com.oracle.graal.python.cext/src/tupleobject.c
Due: none

Enable LTO for C API
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
