Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Make native slot wrappers context-specific
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyProcsWrapper.java
Due: eclipseformat, checkstyle

Use custom closure allocation on macos
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
Due: none

Untag most ctypes tests on darwin
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ctypes.txt
Due: none

Update changelog
  CHANGELOG.md
Due: none

Fix missing descriptor for __hash__ in __slots__
  graalpython/com.oracle.graal.python.test/src/tests/test_descr.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Update tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ctypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hmac.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_readline.txt
Due: none

Fix set mutation tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_set.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/ObjectHashMap.java
Due: eclipseformat, checkstyle

Upgrade to 25.0.1 and fix link
  README.md
  docs/user/Embedding-Build-Tools.md
  docs/user/Interoperability.md
  docs/user/Python-Runtime.md
  docs/user/README.md
Due: none

Update help strings for -O and -OO
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
Due: eclipseformat, checkstyle

Extend Cython 3.1.x patch and add workaround for https://github.com/cython/cython/issues/7269
  graalpython/lib-graalpython/patches/cython-3.1.2.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Cache closure pointer of native slot wrapper in single context mode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyProcsWrapper.java
Due: eclipseformat, checkstyle

Pull and build graalpy-extensions as part of standalone tests
  ci/python-gate.libsonnet
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_gradleproject.py
Due: pylint

Implement sre parse_template as a Truffle Node.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TRegexUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/lib-graalpython/_sre.py
Due: eclipseformat, checkstyle

Add node for raising regex errors
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add Truffle Node implementation of re.sub
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TRegexUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
  graalpython/lib-graalpython/_sre.py
Due: eclipseformat, checkstyle

Deprecate WithTRegex and TRegexUsesSREFallback options
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextHashBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/lib-graalpython/_sre.py
Due: eclipseformat, checkstyle

Add Truffle Node implementation of re.findall
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TRegexUtil.java
  graalpython/lib-graalpython/_sre.py
Due: eclipseformat, checkstyle

A little more warning about multi-context C extensions
  docs/user/Native-Extensions.md
Due: none

Make check a bit clearer
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Fix style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Add assertion that we are on the correct side of the class' split personality
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

fix identity comparison for foreign types
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

return a better bases tuple for foreign types
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignAbstractClassBuiltins.java
Due: eclipseformat, checkstyle

Chain cause for debugging
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignAbstractClassBuiltins.java
Due: eclipseformat, checkstyle

New style subclassing from Java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/lib-graalpython/__graalpython__.py
Due: eclipseformat, checkstyle

Tweak precision of type check for new style Java subclasses
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/lib-graalpython/__graalpython__.py
Due: eclipseformat, checkstyle

use ld_classic and no openblas for scipy builds on darwin
  scripts/wheelbuilder/darwin/scipy.sh
Due: none

Add script to build gensim with appropriate gcc-toolset
  scripts/wheelbuilder/darwin/gensim.sh
  scripts/wheelbuilder/linux/gensim.sh
Due: none

Adjusting darwin scipy script to use GNU gcc and lld
  scripts/wheelbuilder/darwin/scipy.sh
Due: none

Adding MacOS numpy 2.0.2 build script
  scripts/wheelbuilder/darwin/numpy.2.0.2.sh
Due: none

Update imports
  ci/graal/ci/ci_common/common.jsonnet
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Make tag exclusions per platform
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Add more cleanups to test_mmap
  graalpython/lib-python/3/test/test_mmap.py
Due: none

Support bytecode DSL in bisect script
  mx.graalpython/mx_graalpython_bisect.py
Due: pylint

Add script for building docling-parse
  scripts/wheelbuilder/linux/docling-parse.4.7.0.sh
Due: none

Move a few bytecodes to infrequent section to reduce method size
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Remove darwin-amd64 jobs
  ci.jsonnet
Due: none

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ctypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hmac.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_readline.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_set.txt
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
