Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Adapt test_sys_settrace to new test utils
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
Due: none

Ignore GC tests in test_memoryio, issue: GR-71890
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_memoryio.txt
Due: none

Ignore few more tagged tests, issues: GR-71869, GR-71867, GR-71866
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
Due: none

Deploy only org.graalvm.python.embedding from graalpy-extensions for standalone tests
  mx.graalpython/mx_graalpython.py
Due: pylint

Workaround Gradle failure in CI
  ci/python-gate.libsonnet
Due: none

Properly disable PythonDebugTest on Bytecode DSL, issue GR-71618
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
Due: eclipseformat, checkstyle

Fix local repo uri in deploy_graalpy_extensions_to_local_maven_repo
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix graalpy-extensions deployment
  mx.graalpython/mx_graalpython.py
Due: pylint

Ignore few tests in test_inspect, issue: GR-71889
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
Due: none

Fix PGO profile generation for Bytecode DSL
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix java_args overriding in mx_graalpython
  mx.graalpython/mx_graalpython.py
Due: pylint

Ignore HPy test_HPyErr_WarnEx, issue GR-71943
  graalpython/hpy/test/test_hpyerr.py
Due: none

Remove Bytecode DSL handling in fork_exec to fix pip installation in venv
  graalpython/com.oracle.graal.python.test/src/tests/standalone/test_standalone.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixSubprocessModuleBuiltins.java
Due: eclipseformat, checkstyle

Ignore TestExpressionStackSize.test_if_else, issue GR-64307
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
Due: none

Ignore test_print_exception_gh_102056
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_threading.txt
Due: none

Bytecode DSL: fix f-strings with non-TruffleString components
  graalpython/com.oracle.graal.python.test/src/tests/test_string.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Ignore tests in test_sys_setprofile and test_trace, issue GR-71865
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
Due: none

Trash temporary locals after destructive assignment to pass test_callbacks_on_callback, more systematic fix will be GR-64479
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Fix PythonContext leak through bytecode parser
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
Due: eclipseformat, checkstyle

Try to partition test to subprocesses better
  .gitignore
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/com.oracle.graal.python.test/src/tests/timings-darwin.json
  graalpython/com.oracle.graal.python.test/src/tests/timings-linux.json
  graalpython/com.oracle.graal.python.test/src/tests/timings-win32.json
Due: none

Skip test_wheel on linux-aarch64 for now
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
Due: none

Mark prompt_toolkit patch upstreamed
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Add few missing error specializations
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSetBuiltins.java
Due: eclipseformat, checkstyle

Fix specialization consistency issue in complex.__format__
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/complex/ComplexBuiltins.java
Due: eclipseformat, checkstyle

Simplify generating posix constants
  scripts/gen_native_cfg.py
Due: none

Set correct DLL flags in ctypes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/NtModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CtypesModuleBuiltins.java
  graalpython/lib-graalpython/_nt.py
Due: eclipseformat, checkstyle

Add winapi LOAD_* constants
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstants.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstantsWin32.java
  scripts/gen_native_cfg.py
Due: eclipseformat, checkstyle

Force ninja in testlib cmake build on windows
  graalpython/com.oracle.graal.python.test/src/tests/testlib_helper.py
Due: none

Run test subprocesses without JIT
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/lib-python/3/test/test_sys.py
Due: none

Add retry to test_tarfile_vs_tar
  graalpython/lib-python/3/test/test_shutil.py
Due: none

Run test_wheel only on SVM
  graalpython/com.oracle.graal.python.test/src/tests/conftest.toml
Due: none

Stop hardcoding manylinux glibc version in wheelbuilder
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
  scripts/wheelbuilder/repair_wheels.py
Due: none

Remove deprecated getDefaultLanguages
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
Due: eclipseformat, checkstyle

Log worker ID when running tests
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Use posix constants for winapi load flags
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/NtModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CtypesModuleBuiltins.java
Due: eclipseformat, checkstyle

Adapt fix
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  scripts/wheelbuilder/repair_wheels.py
Due: eclipseformat, checkstyle

Fix: do not deploy unused graalpy-native-bc-dsl-standalonelinux
  ci.jsonnet
Due: none

Remove all manual interpreter benchmarks
  ci.jsonnet
Due: none

Fix parsing of an empty module
  graalpython/com.oracle.graal.python.test/src/tests/test_ast.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  mx.graalpython/mx_graalpython_bisect.py
Due: eclipseformat, checkstyle, pylint

Fix path executables not found on windows
  ci/python-gate.libsonnet
Due: none
