Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Add special list self-extension path
  graalpython/com.oracle.graal.python.test/src/tests/test_list.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/ListBuiltins.java
Due: eclipseformat, checkstyle

Add origin to circular import message
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Reduce patch branch CI to patch check
  ci.jsonnet
Due: none

Update weak proxy repr
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/weakref/ProxyTypeBuiltins.java
Due: eclipseformat, checkstyle

Adjust overflow behavior of int.to_bytes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

Add patch for meson
  graalpython/lib-graalpython/patches/meson-1.11.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Update test_startup
  graalpython/com.oracle.graal.python.test/src/tests/test_startup.py
Due: none

Update stdout flush error message
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Implement missing _operator methods
  graalpython/com.oracle.graal.python.test/src/tests/test_operator.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/OperatorModuleBuiltins.java
Due: eclipseformat, checkstyle

Update attribute error messages
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToObjectNode.java
Due: eclipseformat, checkstyle

Fix PyUnicode_AsUTF8AndSize error handling
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
Due: none

Replace CP_UTF8 with cp65001
  graalpython/com.oracle.graal.python.test/src/tests/test_codecs.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
Due: eclipseformat, checkstyle

Update hashlib constructors
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/Blake2bObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/Md5ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/Sha1ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/Sha2ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/Sha3Builtins.java
Due: eclipseformat, checkstyle

Create a fresh locals dict for every locals() call
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/GetFrameLocalsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Implement syncing materialized frame locals
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/CallerFlags.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/IndirectCallData.java
Due: eclipseformat, checkstyle

Revert "Tune some inlining cutoffs"
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/PythonObject.java
Due: eclipseformat, checkstyle

Improve PyTupleCheckNode for interpreter performance
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyMappingCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PySequenceCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTupleCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/TupleNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/function/builtins/clinic/TupleConversionNode.java
Due: eclipseformat, checkstyle

Use cached PyTupleCheckNode in PPickler.SaveNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pickle/PPickler.java
Due: eclipseformat, checkstyle

Materialize frame when escaping
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/CallerFlags.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Implement FrameLocalsProxy for f_locals
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/FrameBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/FrameLocalsProxyBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrameLocalsProxy.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Unset generator frame f_back after finishing
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_nntplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_nntplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_nntplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
Due: none

Try to emulate new pdb behavior without opcode tracing
  graalpython/lib-python/3/bdb.py
Due: none

Support _IncompleteInputError
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/AbstractParser.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/ParserCallbacks.java
  graalpython/com.oracle.graal.python.test/src/tests/test_parser.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PBaseException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/SyntaxErrorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/ParserCallbacksImpl.java
Due: eclipseformat, checkstyle

Avoid pdb tracing stepping into internals
  graalpython/lib-python/3/bdb.py
Due: none

Fix anext_awaitable not being awaitable
  graalpython/com.oracle.graal.python.test/src/tests/test_builtin.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/ANextAwaitableBuiltins.java
Due: eclipseformat, checkstyle

Implement anext_awaitable protocol methods
  graalpython/com.oracle.graal.python.test/src/tests/test_builtin.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/ANextAwaitableBuiltins.java
Due: eclipseformat, checkstyle

[GR-77493] Update mcd and pyperformance results for readme. fixes #979
  README.md
  docs/user/assets/mcd-dark.svg
  docs/user/assets/mcd.svg
  docs/user/assets/performance-dark.svg
  docs/user/assets/performance.svg
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_nntplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_uuid.txt
Due: none

Pin package "build==1.0.3" in test_wheel
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
Due: none

Introduce PyCoroGetAwaitableIterNode
  graalpython/com.oracle.graal.python.test/src/tests/test_builtin.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/ANextAwaitableBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/GetAwaitableNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/PyCoroGetAwaitableIterNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Avoid dis in pdb for getting first executable line
  graalpython/lib-python/3/pdb.py
Due: none

Implement PyUnicode_EqualToUTF8
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Import _testlimitedcapi from CPython
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/abstract.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/bytearray.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/bytes.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/clinic/file.c.h
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/clinic/long.c.h
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/clinic/vectorcall_limited.c.h
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/complex.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/dict.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/eval.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/file.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/float.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/heaptype_relative.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/import.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/list.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/long.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/object.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/parts.h
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/pyos.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/set.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/sys.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/testcapi_long.h
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/tuple.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/unicode.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/util.h
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/vectorcall_limited.c
  graalpython/com.oracle.graal.python.cext/modules/_testlimitedcapi/weakref.c
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/cext/test/MultithreadedImportTestBase.java
  graalpython/graalpy-pyconfig/CMakeLists.txt
  graalpython/graalpy-pyconfig/pyconfig_template.h
  graalpython/lib-python/3/test/test_capi/test_opt.py
  mx.graalpython/copyrights/overrides
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Implement PyWeakref_GetRef
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_weakref.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextWeakrefBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Skip tests that require CPython internals
  graalpython/lib-python/3/test/support/__init__.py
  graalpython/lib-python/3/test/test_class.py
  graalpython/lib-python/3/test/test_code.py
  graalpython/lib-python/3/test/test_compile.py
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
