Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Default to native compression backend on standalone
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Fix multiple zlib decoding bugs
  graalpython/com.oracle.graal.python.test/src/tests/test_zlib.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/JavaDecompress.java
Due: eclipseformat, checkstyle

Add CompressionModulesBackend context option to be able to prefer java impls
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIBz2Support.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFILZMASupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIZlibSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Fix handling negative max_length of zlib decompressor
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/JavaDecompress.java
Due: eclipseformat, checkstyle

Wrap UnsupportedPosixFeatureException in pwd builtins
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PwdModuleBuiltins.java
Due: eclipseformat, checkstyle

Raise io.UnsupportedOperation from raiseOSErrorUnsupported
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PConstructAndRaiseNode.java
Due: eclipseformat, checkstyle

Test remote patches on windows
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/com.oracle.graal.python.test/src/tests/conftest.toml
  graalpython/com.oracle.graal.python.test/src/tests/test_patched_pip.py
Due: none

Allow missing getpwuid/getrpgid in tarfile
  graalpython/lib-python/3/tarfile.py
Due: none

[GR-68437] Make sysconf test more robust against valid results
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
Due: none

Do not build native image with assertions when profiling
  mx.graalpython/mx_graalpython.py
Due: pylint

Re-encode patch files downloaded from patch branch in pip patch
  graalpython/lib-graalpython/patches/pip-24.3.1.patch
Due: none

Repack pip wheel
  graalpython/lib-python/3/ensurepip/_bundled/pip-24.3.1-py3-none-any.whl
Due: none

Use CRLF by default on win32 in TextIOWrapper
  graalpython/com.oracle.graal.python.test/src/tests/test_io.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/TextIOWrapperNodes.java
Due: eclipseformat, checkstyle

Ensure classloading for builtins happens at context initialize, not context create
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Allow users to opt-out of early failure on unsupported platforms.
  CHANGELOG.md
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/PythonResource.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonOS.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstants.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixResources.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Add workflow for weekly smoke tests on unusual platforms
  .github/workflows/platforms-tests.yml
Due: none

Use run-on-arch action which seems a bit simpler
  .github/workflows/platforms-tests.yml
Due: none

Change expected exception in mmap test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_mmap.py
Due: none

Fix spurious rebuilds of pegparser
  graalpython/com.oracle.graal.python.pegparser.generator/main_asdl_gen.py
  graalpython/com.oracle.graal.python.pegparser.generator/main_parser_gen.py
  graalpython/com.oracle.graal.python.pegparser.generator/pegjava/java_generator.py
Due: none

Test openj9 and ppc separately
  .github/workflows/platforms-tests.yml
Due: none

Handle windows newlines in JavaInteropTest
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/interop/JavaInteropTest.java
Due: eclipseformat, checkstyle

Fix checking the version of resources on unsupported platforms
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/PythonResource.java
Due: eclipseformat, checkstyle

Warn loudly and report native access as denied for PythonContext on unsupported platforms
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonOS.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Deduplicate empty cellEffectivelyFinalAssumptions arrays
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Remove fixed varargs and kwargs from PArguments
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/modules/ClinicTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/Signature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/argument/CreateArgumentsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/argument/ReadVarArgsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/argument/ReadVarKeywordsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/function/BuiltinFunctionRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/interop/InteropBehavior.java
Due: eclipseformat, checkstyle

Store OSR frame in a Pair with previous value
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Don't use keyword arguments for isPythonFrame check
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
Due: eclipseformat, checkstyle

Remove uneccessary user arguments bounds checks
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/argument/ReadIndexedArgumentNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/function/builtins/WrapperDescrCall.java
Due: eclipseformat, checkstyle

Avoid allocating empty arrays in code units
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/OSErrorEnum.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/Signature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CompilationUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

[GR-69004] Lazy initialize PythonContext#polyglotForeignClasses
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetForeignObjectClassNode.java
Due: eclipseformat, checkstyle

Remove unused FinishArgNode for ArgBehavior
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
Due: eclipseformat, checkstyle

Use checkout-downstream and sforceimports in the correct order for graalpy
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
Due: none

Exclude transient test
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_concurrent_futures.txt
Due: none

Update Java version in OpenJ9 test workflow
  .github/workflows/platforms-tests.yml
Due: none

Update imports
  ci/graal/ci/ci_common/common.jsonnet
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Exclude transients on windows
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
Due: none

Allow overriding the G1GC from the mx commandline
  mx.graalpython/mx_graalpython.py
Due: pylint

Implement unicodedata.digit and unicodedata.decimal
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/UnicodeDataModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Untag a transient that depends on the PID
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
Due: none
