Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Avoid mypy in pyo3 downstream tests
  mx.graalpython/downstream_tests.py
Due: pylint

Fix dummy thread cleanup
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-77469] Modify racy pipe test (jvm threads may reuse same fds)
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
Due: none

[GR-76933] Ignore pending polyglot threads in test same as in launcher.
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/PythonTests.java
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/module/ThreadPoolTests.java
Due: eclipseformat, checkstyle

Fix style
  graalpython/com.oracle.graal.python.test.integration/pom.xml
Due: none

Add patch for urllib3
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/urllib3-2.7.patch
Due: none

Make pegparser 3.8 compatible for the CI
  graalpython/com.oracle.graal.python.pegparser.generator/pegen/build.py
  graalpython/com.oracle.graal.python.pegparser.generator/pegen/c_generator.py
  graalpython/com.oracle.graal.python.pegparser.generator/pegen/grammar.py
  graalpython/com.oracle.graal.python.pegparser.generator/pegen/parser.py
  graalpython/com.oracle.graal.python.pegparser.generator/pegen/parser_generator.py
  graalpython/com.oracle.graal.python.pegparser.generator/pegen/python_generator.py
  graalpython/com.oracle.graal.python.pegparser.generator/pegen/sccutils.py
  graalpython/com.oracle.graal.python.pegparser.generator/pegen/tokenizer.py
Due: none

Add pycore_frame.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_frame.h
  graalpython/com.oracle.graal.python.cext/src/frameobject.c
  mx.graalpython/copyrights/overrides
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_nntplib.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_nntplib.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
Due: none

Add workaround for object.__getattribute__ getting flagged with frame materialization
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PRootNode.java
Due: eclipseformat, checkstyle

Store BytecodeNode in PFrame instead of Node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/GeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/PTraceback.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Fix patchelf installation in repair_wheels
  scripts/wheelbuilder/repair_wheels.py
Due: none

Add condvar.h
  graalpython/com.oracle.graal.python.cext/src/condvar.h
  mx.graalpython/copyrights/overrides
  mx.graalpython/mx_graalpython_import.py
Due: pylint

Use -X jit=0 instead of --engine.Compilation=false in test runners
  graalpython/com.oracle.graal.python.test/src/runner.py
  mx.graalpython/downstream_tests.py
Due: pylint

Add dummy dis.opmap
  graalpython/lib-python/3/dis.py
Due: none

Add cython note to pycore_frame.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_frame.h
Due: none

Remove pycore_freelist.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_dict.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_floatobject.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_freelist.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_gc.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_object_stack.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_pystate.h
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  mx.graalpython/copyrights/overrides
Due: none

Update imports
  ci/graal/ci/ci_common/pr-bench-settings.libsonnet
  ci/graal/common.json
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_nntplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_timeout.txt
Due: none

Add patch for coverage
  graalpython/lib-graalpython/patches/coverage-7.10.0.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Implement _PyType_LookupRef
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Enable host filesystem for GraalOS standalone
  graalpython/graalpy_graalos_standalone_payload/config.json
Due: none

Fix build on Windows
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_pyerrors.h
  graalpython/com.oracle.graal.python.cext/src/fileutils.c
  graalpython/com.oracle.graal.python.cext/src/import.c
  graalpython/com.oracle.graal.python.cext/src/invalid_parameter_handler.c
  graalpython/com.oracle.graal.python.cext/src/thread.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/graalpy-pyconfig/CMakeLists.txt
  graalpython/graalpy-pyconfig/pyconfig_template.h
  graalpython/lib-python/3/ctypes/__init__.py
  mx.graalpython/copyrights/overrides
  mx.graalpython/mx_graalpython_import.py
Due: eclipseformat, checkstyle, pylint

Implement PyThreadState_Swap
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_pystate.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextPyStateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Implement _syconfig.config_vars()
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysconfigModuleBuiltins.java
Due: eclipseformat, checkstyle

Optimize large integer nb_floor_divide
  graalpython/com.oracle.graal.python.test/src/tests/test_binary_arithmetic.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

Add optimized PInt path to integer divmod
  graalpython/com.oracle.graal.python.test/src/tests/test_binary_arithmetic.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

Fix a few float/complex formatting cases
  graalpython/com.oracle.graal.python.test/src/tests/test_float.py
  graalpython/com.oracle.graal.python.test/src/tests/test_formatting.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/ComplexFormatter.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/FloatFormatter.java
Due: eclipseformat, checkstyle

Implement `z` format specifier
  graalpython/com.oracle.graal.python.test/src/tests/test_float.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/floats/FloatBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/ComplexFormatter.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/FloatFormatter.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/FormatProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/InternalFormat.java
Due: eclipseformat, checkstyle

Use BigInteger.sqrt to implement math.isqrt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
Due: eclipseformat, checkstyle

Use PyLongFromDoubleNode in math.round
  graalpython/com.oracle.graal.python.test/src/tests/test_float.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/floats/FloatBuiltins.java
Due: eclipseformat, checkstyle

Fix formatter grouping in non-finite floats
  graalpython/com.oracle.graal.python.test/src/tests/test_formatting.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/FloatFormatter.java
Due: eclipseformat, checkstyle

Pin hpy test dependencies
  mx.graalpython/downstream_tests.py
Due: pylint

Add missing errno.ENOTSUP
  graalpython/com.oracle.graal.python.test/src/tests/test_exception.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/OSErrorEnum.java
Due: eclipseformat, checkstyle

Introduce autopatch_cargo
  .agents/skills/third-party-package-patches/SKILL.md
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_cargo.py
  graalpython/lib-graalpython/modules/autopatch_cargo.py
  graalpython/lib-graalpython/modules/graalpy_pip_extensions.py
  graalpython/lib-graalpython/patches/README.md
  graalpython/lib-graalpython/patches/crates/metadata.toml
  graalpython/lib-graalpython/patches/crates/pyo3-ffi-0.28.patch
  graalpython/lib-graalpython/patches/crates/pyo3-ffi-0.29.0.patch
  mx.graalpython/mx_graalpython.py
  mx.graalpython/verify_patches.py
  scripts/get_pypi_source.py
Due: pylint

Use CPython 3.13 CI artifact
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
Due: none

Fix benchmarks for CPython 3.13
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-dict-iterating.py
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
