Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Schedule micro-small GraalPy benchmarks after merges
  ci.jsonnet
Due: none

Configure GraalPy PR-bench data sources
  ci.jsonnet
Due: none

Preserve string-valued Unicorn dimension filters
  ci.jsonnet
Due: none

Ignore unsupported POLLPRI/POLLRDBAND/POLLWRBAND in emulated posix
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
Due: eclipseformat, checkstyle

Fix regex findall compilation failure
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternBuiltins.java
Due: eclipseformat, checkstyle

Document emulated select.poll limitations
  docs/user/Embedding-Permissions.md
Due: none

Limit stable MRO assumption invalidation
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/MroSequenceStorage.java
Due: eclipseformat, checkstyle

Restore inlining for PyLong primitive conversions
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
Due: eclipseformat, checkstyle

release GraalVM 25.0.4.1.1
  mx.graalpython/suite.py
Due: pylint

Removed unused and buggy delta().
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePapiSupport.java
Due: eclipseformat, checkstyle

Add per-call PAPI attribution via a flat call/return event log
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePapiSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Support pre-allocating the PAPI call log's capacity
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePapiSupport.java
Due: eclipseformat, checkstyle

Reuse the PAPI values buffer instead of malloc/free per call
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePapiSupport.java
Due: eclipseformat, checkstyle

Fix stop() to fully tear down even if PAPI_stop itself fails
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePapiSupport.java
Due: eclipseformat, checkstyle

chore: simplified comments
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePapiSupport.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_poll.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_select.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_selectors.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_subprocess.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_poll.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_select.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_selectors.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_subprocess.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ftplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Use CApiTiming in static PyLong upcalls
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
Due: eclipseformat, checkstyle

Optimize instance attribute loads/stores using MRO stable lookup assumptions
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_mro_lookup_cache_invalidation.py
  graalpython/com.oracle.graal.python.test/src/tests/test_descr.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/DynamicObjectStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonManagedClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromObjectNoSideEffects.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Handle unavailable locations during frame materialization
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/SafepointALotCurrentFramesTest.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/UnavailableFrameLocationTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/FrameLocalsProxyBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/GetFrameLocalsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
Due: eclipseformat, checkstyle

Pass caller frame to async call root
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
Due: eclipseformat, checkstyle

Add LazyCyclicAssumption helper class and use it where appropriate
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/util/LazyCyclicAssumptionTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonManagedClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/MroSequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/LazyCyclicAssumption.java
Due: eclipseformat, checkstyle

Update imports
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ftplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_poll.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_select.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_selectors.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_subprocess.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Stop freezing inspect, it has too many non-frozen deps
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
Due: eclipseformat, checkstyle

Build bytecode files into resources jar
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

Pin GraalPy CI to rebased PR-bench overlay
  ci.jsonnet
Due: none

Optimize ReadAttributeFromPythonObjectNode using the HAS_MATERIALIZED_DICT Shape flag
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromPythonObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetDictIfExistsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetDictIfMaterializedNode.java
Due: eclipseformat, checkstyle

Write back the internal dict instance in type.__dict__
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
Due: eclipseformat, checkstyle

Move itemsize into PythonBuiltinClassType
  graalpython/com.oracle.graal.python.test/src/tests/test_type.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Move builtin type flags into PythonBuiltinClassType
  graalpython/com.oracle.graal.python.test/src/tests/test_type.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Fast path for type.dir()
  graalpython/com.oracle.graal.python.test/src/tests/test_type.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
Due: eclipseformat, checkstyle

Cache length in DynamicObjectStorage
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/dict/PDictTest.java
  graalpython/com.oracle.graal.python.test/src/tests/test_dict.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/DynamicObjectStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/namespace/SimpleNamespaceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToPythonObjectNode.java
Due: eclipseformat, checkstyle

Guard direct attribute stores with object dictionaries
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Add regression test for fixed bug in SimpleNamespace
  graalpython/com.oracle.graal.python.test/src/tests/test_dict.py
Due: none

Fix native tzinfo registration
  graalpython/com.oracle.graal.python.cext/src/datetime.c
Due: none

Fix managed-native flag inconsistencies
  graalpython/com.oracle.graal.python.test/src/tests/test_type.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WeakRefModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ToNativeTypeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeFlags.java
Due: eclipseformat, checkstyle

Simplify getting flags for builtin types
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/StructSequence.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

[GR-79539] Optimize mappingproxy set updates and format-field parsing
  graalpython/com.oracle.graal.python.test/src/tests/test_formatting.py
  graalpython/com.oracle.graal.python.test/src/tests/test_mappingproxy.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/set/SetBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/TemplateFormatter.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
