Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Avoid PyObjectGetIter call in co_positions
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
Due: eclipseformat, checkstyle

Pass the right graal version into standalone tests
  mx.graalpython/mx_graalpython.py
Due: pylint

Add a workaround for test_gzip transients
  mx.graalpython/mx_graalpython.py
Due: pylint

Suppress method scoping warning
  mx.graalpython/mx_graalpython.py
Due: pylint

Add dummy opmap constants to make unpatched coverage work
  graalpython/lib-python/3/dis.py
Due: none

Update greenlet patch
  graalpython/lib-graalpython/patches/greenlet-3.0.0.patch
  graalpython/lib-graalpython/patches/greenlet-3.1.1.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Bump version in integration test pom
  graalpython/com.oracle.graal.python.test.integration/pom.xml
Due: none

Implement AST optimizer
  graalpython/com.oracle.graal.python.pegparser.generator/asdl/asdl_java.py
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/ArgTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/ComprehensionTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/ConstantValue.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/ExceptHandlerTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/ExprTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/KeywordTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/MatchCaseTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/ModTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/PatternTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/StmtTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/TypeParamTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/WithItemTy.java
  graalpython/com.oracle.graal.python.test/src/tests/test_parser.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/AstOptimizer.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BaseBytecodeDSLVisitor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

[GR-77822] Make JVM coverage deadlock tests serial
  graalpython/lib-python/3/test/test_concurrent_futures/test_deadlock.py
  mx.graalpython/mx_graalpython.py
Due: pylint

[GR-78201] Disable Windows whichdb tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_dbm.txt
Due: none

[GR-78174] Implement msvcrt.setmode
  graalpython/com.oracle.graal.python.test/src/tests/test_msvcrt.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MsvcrtModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixResources.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

[GR-78172] Disable Windows file-backed shelve tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_shelve.txt
Due: none

Make PythonOptimizeFlag an engine option
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonSourceOptions.java
Due: eclipseformat, checkstyle

Implement -X cpu_count option
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test/src/tests/test_cmd_line.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_os.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Work around emulated backend limitations
  graalpython/com.oracle.graal.python.test/src/tests/test_mmap.py
Due: none

[GR-78216] Update Bouncy Castle artifacts to 1.85
  THIRD_PARTY_LICENSE.txt
  mx.graalpython/suite.py
  pom.xml
Due: pylint

Add patch for pip-26.2
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/pip-26.2.patch
Due: none

Fix using UTC timezone from interop before initializing datetime
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/interop/HostInteropTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DatetimeModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeZoneBuiltins.java
Due: eclipseformat, checkstyle

Implement PyList_Clear
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_list.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Implement PyLong_FromUnsignedNativeBytes
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_long.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Implement PyAIter_Check
  graalpython/com.oracle.graal.python.cext/src/abstract.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abstract.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Update PyFrame_GetLocals and implement PyEval_GetLocals
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_ceval.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_frame.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCEvalBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextFrameBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
Due: eclipseformat, checkstyle

Remove bogus object storage decref
  graalpython/com.oracle.graal.python.cext/src/listobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
Due: eclipseformat, checkstyle

Add more dis dummies for coverage
  graalpython/lib-python/3/dis.py
Due: none

Implement PyLong_GetInfo
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_long.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Implement PyObject_GetAIter
  graalpython/com.oracle.graal.python.cext/src/abstract.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abstract.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectGetAIter.java
Due: eclipseformat, checkstyle

Initialize dtoa cache
  graalpython/com.oracle.graal.python.cext/src/capi.c
Due: none

Fix resetting generator f_back
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
Due: eclipseformat, checkstyle

Format slice repr members with repr() instead of toString()
  graalpython/com.oracle.graal.python.test/src/tests/test_slice.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/slice/SliceBuiltins.java
Due: eclipseformat, checkstyle

Fix enumerate() start argument handling
  graalpython/com.oracle.graal.python.test/src/tests/test_enumerate_start.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/enumerate/EnumerateBuiltins.java
Due: eclipseformat, checkstyle

Coerce the enumerate() start argument through __index__
  graalpython/com.oracle.graal.python.test/src/tests/test_enumerate_start.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/enumerate/EnumerateBuiltins.java
Due: eclipseformat, checkstyle

Merge test_enumerate_start into test_enumerate
  graalpython/com.oracle.graal.python.test/src/tests/test_enumerate.py
  graalpython/com.oracle.graal.python.test/src/tests/test_enumerate_start.py
Due: none

Fix Truffle warning
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/enumerate/EnumerateBuiltins.java
Due: eclipseformat, checkstyle

[GR-74718] Update vendored XZ to 5.8.3
  THIRD_PARTY_LICENSE.txt
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/module/LzmaTests.java
  graalpython/python-liblzma/CMakeLists.txt
  graalpython/python-liblzma/config.h
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

[GR-75928] Sync 25.0 Graal imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

follow up : sync Graal imports and common.json
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

[GR-78217] Fix conflicts
  THIRD_PARTY_LICENSE.txt
  mx.graalpython/suite.py
  pom.xml
Due: pylint

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
