Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Add deploysArtifacts to bisect-benchmark
  ci/python-bench.libsonnet
Due: none

Drop --assume-modified from pre-commit check
  scripts/pre-commit-checkcopyrights.sh
Due: none

Update Python inlined files: 3.12.8
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes_test.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes_test.h
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/callbacks.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/callproc.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/cfield.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/ctypes.h
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/malloc_closure.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/stgdict.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes_test.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes_test.h
Due: none

release GraalVM 25.0.1
  mx.graalpython/suite.py
Due: pylint

Upgrade GitHub Actions
  .github/workflows/build-macos-aarch64-wheels.yml
  .github/workflows/build-macos-amd64-wheels.yml
  .github/workflows/build-windows-amd64-wheels.yml
  .github/workflows/downstream-tests.yml
  .github/workflows/platforms-tests.yml
Due: none

Sync version in exotic platform test
  .github/workflows/platforms-tests.yml
Due: none

Fix passing NULL modulus from 2-argument pow
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_tp_slots.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberPowerNode.java
Due: eclipseformat, checkstyle

Fix PyMapping_(Items|Keys|Values) with dict subclasses
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abstract.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextAbstractBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

new dev cycle GraalVM 25.0.2
  graalpython/com.oracle.graal.python.test.integration/pom.xml
  graalpython/graalpy-jbang/examples/hello.java
  graalpython/graalpy-jbang/templates/graalpy-template.java.qute
  graalpython/graalpy-jbang/templates/graalpy-template_local_repo.java.qute
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

update Graal import
  mx.graalpython/suite.py
Due: pylint

Do not intern strings in AstState
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstState.java
  mx.graalpython/mx_graalpython_bisect.py
Due: eclipseformat, checkstyle, pylint

Fix builtins.modules.io.TextIOWrapperNodes.CheckClosedNode and use inliningTarged as current node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/TextIOWrapperNodes.java
Due: eclipseformat, checkstyle

Make separate PGO profile for bytecode DSL
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

sync common.json
  ci/graal/common.json
Due: none

Copy variable state when cloning bytecode root node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Unbox variables with no loads
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CompilationUnit.java
Due: eclipseformat, checkstyle

Disable GraalPy patching in ensurepip
  graalpython/lib-python/3/ensurepip/__init__.py
Due: none

Convenience env variables for debugging frozen modules build
  mx.graalpython/mx_graalpython.py
Due: pylint

Improve __graalpython__.dis for Bytecode DSL
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/BytecodeCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
Due: eclipseformat, checkstyle

Avoid unconditional transferToInterpreterAndDeopt in AbstractImportNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/statement/AbstractImportNode.java
Due: eclipseformat, checkstyle

Pass location node to boundary code that raises
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsTruffleModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstTypeFactory.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLOperationNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLSocketBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonBuiltinClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonManagedClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetForeignObjectClassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetRegisteredClassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Move all deprecated itertools __setstate__ and __reduce__ builtins behind TruffleBoundary
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ItertoolsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/AccumulateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/ChainBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/CombinationsBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/CompressBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/CountBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/CycleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/DropwhileBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/FilterfalseBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/GroupByBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/GrouperBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/IsliceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/PCycle.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/PermutationsBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/ProductBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/RepeatBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/StarmapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/TakewhileBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/TeeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/TeeDataObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/ZipLongestBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyIterCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectTypeCheck.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
Due: none

Move builtin input behind a boundary
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectStrAsObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/util/CastToTruffleStringNode.java
Due: eclipseformat, checkstyle

Update imports
  mx.graalpython/suite.py
Due: pylint

Wait for pgo profiles in post merge bench jobs
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

Support JLine in input builtin
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/ConsoleHandler.java
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/JLineConsoleHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
Due: eclipseformat, checkstyle

Run test_readline
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_readline.txt
  graalpython/lib-python/3/test/test_readline.py
Due: none

Initialize JLine during readline import
  graalpython/com.oracle.graal.python.shell/src/META-INF/native-image/org.graalvm.python.shell/python-launcher/native-image.properties
  graalpython/com.oracle.graal.python.shell/src/META-INF/native-image/org.graalvm.python.shell/python-launcher/reflect-config.json
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/ConsoleHandler.java
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/DefaultConsoleHandler.java
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/JLineConsoleHandler.java
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ReadlineModuleBuiltins.java
Due: eclipseformat, checkstyle

Make pdb completion work
  graalpython/com.oracle.graal.python.shell/src/META-INF/native-image/org.graalvm.python.shell/python-launcher/reflect-config.json
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/JLineConsoleHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ReadlineModuleBuiltins.java
Due: eclipseformat, checkstyle

Don't return 1 on error in REPL
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
Due: eclipseformat, checkstyle

Add changelog entry
  CHANGELOG.md
Due: none

Fix multiple links in Javadoc
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/StaticmethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/ThreadLocalBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/MergedObjectTypeModuleGetAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/IsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Add rule to import _ctypes from CPython
  mx.graalpython/mx_graalpython_import.py
Due: pylint

Remove unused files imported from pypy
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/lib-python/3/_md5.py
  graalpython/lib-python/3/_sha1.py
  graalpython/lib-python/3/_sha256.py
  graalpython/lib-python/3/_sha512.py
  mx.graalpython/mx_graalpython_import.py
Due: pylint

Add missing graalpy-config.py rule
  mx.graalpython/mx_graalpython_import.py
Due: pylint
