Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

[GR-75291] Skip RaiseSignalTest.test_handler on Windows
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
Due: none

Add array __deepcopy__ support
  graalpython/com.oracle.graal.python.test/src/tests/test_array.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayBuiltins.java
Due: eclipseformat, checkstyle

Avoid direct access to PyLongObject in librt
  graalpython/lib-graalpython/patches/librt-0.9.0.patch
Due: none

Fix IllegalArgumentException on ast nodes with no end column
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Add array __class_getitem__ support
  graalpython/com.oracle.graal.python.test/src/tests/test_array.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayBuiltins.java
Due: eclipseformat, checkstyle

Fix islice negative stop handling
  graalpython/com.oracle.graal.python.test/src/tests/test_itertools.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/IsliceBuiltins.java
Due: eclipseformat, checkstyle

Add array __copy__ support
  graalpython/com.oracle.graal.python.test/src/tests/test_array.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayBuiltins.java
Due: eclipseformat, checkstyle

Unpin uvloop patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Run GraalPy JUnit gates with compiler
  ci.jsonnet
Due: none

Fail GraalPy JUnit on compiler failures
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/CompilerFailureExitTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Adjust ICU4J call sites for now build-time initialized parts of ICU4J.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringUtils.java
Due: eclipseformat, checkstyle

Skip async trace signal test on Java POSIX backend
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
Due: none

[GR-75288][GR-75289] Add generic recursion guard for repr/str
  graalpython/com.oracle.graal.python.test/src/tests/test_repr.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Obj2SstBase.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyEnterRecursiveCallNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectReprAsObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectStrAsObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

[GR-75288][GR-75289] Guard nested dict and simplenamespace repr recursion
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictReprBuiltin.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/namespace/SimpleNamespaceBuiltins.java
Due: eclipseformat, checkstyle

[GR-75288][GR-75289] Tweak recursion helper naming
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Obj2SstBase.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyEnterRecursiveCallNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectReprAsObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectStrAsObjectNode.java
Due: eclipseformat, checkstyle

[GR-75288][GR-75289] Stabilize repr recursion tests
  graalpython/com.oracle.graal.python.test/src/tests/test_repr.py
Due: none

Reduce LookupAndCall inline cache footprint
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/AbstractCallMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/BuiltinInliningPolicy.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/LookupAndCallBinaryNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/LookupAndCallUnaryNode.java
Due: eclipseformat, checkstyle

Cache builtin post-initialize need
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltins.java
Due: eclipseformat, checkstyle

Initialize codecs during preinitialization
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/CodecsRegistry.java
Due: eclipseformat, checkstyle

[GR-75160] Fix GitHub issues helper script
  scripts/gh-issues.py
Due: none

[GR-75160] Trigger CI failure comments on workflow completion
  .github/workflows/ci-post-merge.yml
Due: none

Replace NFI with direct panama calls in ensureCapiWasLoaded
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_thread.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NativePointer.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/Nfi2.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiBoundFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiSignature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiType.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Disable ECJ, windows and JDK21 gates, fix maven config for NFI2
  ci.jsonnet
  mx.graalpython/suite.py
Due: pylint

Remove "uncached" suffixes and do not use inheritance in multi-release jar
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/Nfi.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiBoundFunction.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiSignature.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/Nfi.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiBoundFunction.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiSignature.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/TpSlotsTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
Due: eclipseformat, checkstyle

Allow NativeToPythonInternalNode to release the native stub
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Use direct node for closures instead of interop executable
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiClosureBaseNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiDirectClosureRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiSignature.java
Due: eclipseformat, checkstyle

Move NFI2 to separate project, move graalpy back to JDK 17+
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/Nfi.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiBoundFunctionImpl.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiDirectClosureRootNode.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiFeature.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiSignatureImpl.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/ConvertArgJavaToNativeNode.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NativeMemory.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NativePointer.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/Nfi.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiBoundFunction.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiClosureBaseNode.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiSignature.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiType.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/TpSlotsTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GcModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlot.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Add reachability fences for args during downcalls, deallocate upcall stubs when closing context
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/Nfi.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiBoundFunction.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiContext.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiSignature.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiBoundFunction.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiContext.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiSignature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
Due: eclipseformat, checkstyle

Use panama directly for creating builtins upcall stubs
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/ConvertArgJavaToNativeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiInteropClosureRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiSignature.java
Due: eclipseformat, checkstyle

NfiBoundFunction no longer implements interop protocol, added missing TruffleBoundary annotations
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyMethodDefHelper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlot.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/Nfi2.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiBoundFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiDirectClosureRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiInteropClosureRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiSignature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiType.java
Due: eclipseformat, checkstyle

Fix assertions
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiGCSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Use the new ForeignFunctions API for downcalls
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/BouncyCastleFeature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/Nfi2.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiBoundFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nfi/NfiSignature.java
Due: eclipseformat, checkstyle

Refactor NativeToPython[Transfer]Node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Remove obsolete CExtAsPythonObjectNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiMemberAccessNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtAsPythonObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtToJavaNode.java
Due: eclipseformat, checkstyle

Release native stub if return via native slots
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotBinaryFunc.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotBinaryOp.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrGet.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotIterNext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotNbPower.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotRepr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotRichCompare.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotSizeArgFun.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotUnaryFunc.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotVarargs.java
Due: eclipseformat, checkstyle

Remove checked exceptions from NFI2
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/Nfi.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiBoundFunctionImpl.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiSignatureImpl.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/ConvertArgJavaToNativeNode.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/Nfi.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiBoundFunction.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiSignature.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
Due: eclipseformat, checkstyle

Remove interop from ExternalFunctionInvokeNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
Due: eclipseformat, checkstyle

Avoid PythonObjectReferences if possible
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CDataObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiGCSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PrimitiveNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyMemoryViewWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonClassNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonObjectNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/TruffleObjectNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
Due: eclipseformat, checkstyle

Allow releasing stub on native return
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CDataObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Accept static method handle instead of Node supplier when creating closures
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiDirectClosureRootNode.java
  graalpython/com.oracle.graal.python.nfi2.jdk22/src/com/oracle/graal/python/nfi2/NfiSignatureImpl.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiClosureBaseNode.java
  graalpython/com.oracle.graal.python.nfi2/src/com/oracle/graal/python/nfi2/NfiSignature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
Due: eclipseformat, checkstyle
