Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_site.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_site.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_math.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_site.txt
Due: none

Merge test_reports
  .github/scripts/merge_reports.py
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittest-retagger.yml
  .github/workflows/ci-unittests.yml
Due: none

Temporarily ignore ContextManagerTestCase.test_nokeepref due to memory leak in DSL generated code (GR-73564)
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
Due: none

The -Dtck.inlineVerifierInstrument=false workaround is not necessary anymore
  ci/python-gate.libsonnet
Due: none

Improve CPython's gc_collect to accept optional condition for repeated GC runs; update tests to use it
  graalpython/lib-python/3/test/_test_multiprocessing.py
  graalpython/lib-python/3/test/support/__init__.py
  graalpython/lib-python/3/test/test_ast/test_ast.py
  graalpython/lib-python/3/test/test_concurrent_futures/executor.py
  graalpython/lib-python/3/test/test_concurrent_futures/test_as_completed.py
  graalpython/lib-python/3/test/test_contextlib.py
  graalpython/lib-python/3/test/test_descr.py
  graalpython/lib-python/3/test/test_functools.py
  graalpython/lib-python/3/test/test_importlib/test_locks.py
  graalpython/lib-python/3/test/test_memoryview.py
  graalpython/lib-python/3/test/test_unittest/test_assertions.py
Due: none

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Untag transient
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_dictviews.txt
Due: none

Use new source section builder API
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix handling of nested objects when running with object_hook or object_pairs_hook in CallScannerNode
  graalpython/com.oracle.graal.python.test/src/tests/test_json.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONScannerBuiltins.java
Due: eclipseformat, checkstyle

Update imports
  mx.graalpython/suite.py
Due: pylint

Avoid sed in downstream tests
  mx.graalpython/downstream_tests.py
Due: pylint

Fix building pandas for benchmarks
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

Fix PGenerator#handleResult assertion
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
Due: eclipseformat, checkstyle

Move test_patched_pip back to our tests
  graalpython/com.oracle.graal.python.test/src/tests/test_patched_pip.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_patched_pip.txt
Due: none

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_patched_pip.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_site.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_statistics.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Make ordering tag exclusions deterministic
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Exclude datetime tests that don't pass on darwin
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
Due: none

Fix virtualenv downstream test
  mx.graalpython/downstream_tests.py
Due: pylint

Untag failing test on github
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
Due: none

Disable GraalPy patching in ensurepip
  graalpython/lib-python/3/ensurepip/__init__.py
Due: none

TruffleString constructor optimizations
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonFileDetector.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibytecodecModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/CharmapNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pickle/PPickler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pickle/PUnpickler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pickle/PickleUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pickle/PicklerNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/NativeStringData.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/struct/StructBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberLongNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectAsciiNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/util/CastToTruffleStringNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/CharsetMapping.java
Due: eclipseformat, checkstyle

node footprint analyzer new version
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/NodeFootprintAnalyzer.java
Due: eclipseformat, checkstyle

node footprint analyzer better help
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/NodeFootprintAnalyzer.java
Due: eclipseformat, checkstyle

Revert "Temporarily ignore ContextManagerTestCase.test_nokeepref due to memory leak in DSL generated code (GR-73564)"
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Adjust the uncached Bytecode DSL interpreter limit
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Refactor LookupAndCallUnaryNode missing-method handling
  graalpython/com.oracle.graal.python.test/src/tests/test_float.py
  graalpython/com.oracle.graal.python.test/src/tests/test_int.py
  graalpython/com.oracle.graal.python.test/src/tests/test_math.py
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/complex/ComplexBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectDir.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/LookupAndCallUnaryNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/util/CoerceToComplexNode.java
Due: eclipseformat, checkstyle

Add branch profile when raising SpecialMethodNotFound
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/LookupAndCallBinaryNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/LookupAndCallUnaryNode.java
Due: eclipseformat, checkstyle

Simplify the code
  graalpython/com.oracle.graal.python.test/src/tests/test_complex.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/complex/ComplexBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/util/CoerceToComplexNode.java
Due: eclipseformat, checkstyle

json.loads accepts only callables as object_hook and object_pairs_hook
  graalpython/com.oracle.graal.python.test/src/tests/test_json.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONScannerBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
Due: none

Remove unnecessary SuppressWarnings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
