Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Add critical downcall signature support
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/DowncallSignature.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/GenerateNativeDowncallsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
Due: eclipseformat, checkstyle

Disable tagged test_select_read_write on darwin/aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_selectors.txt
Due: none

Revert unnecessary formatting changes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/python-libposix/src/fork_exec.c
Due: eclipseformat, checkstyle

Add patches for newer numba/tables/llvmlite/fastparquet versions
  graalpython/lib-graalpython/patches/fastparquet-2026.5.0.patch
  graalpython/lib-graalpython/patches/llvmlite-0.47.patch
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/numba-0.65.1.patch
  graalpython/lib-graalpython/patches/tables-3.11.1.patch
Due: none

Mark frames as escaped even when the first escape happens after the transition to cached.
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PException.java
Due: eclipseformat, checkstyle

Add fast path variant for LookupAttributeInMRONode
  graalpython/com.oracle.graal.python.test/src/tests/test_mro.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadBuiltinNode.java
Due: eclipseformat, checkstyle

Fast-path for builtin reads, improve get/set attribute @Operations fast-paths
  graalpython/com.oracle.graal.python.test/src/tests/test_builtin.py
  graalpython/com.oracle.graal.python.test/src/tests/test_mro.py
  graalpython/com.oracle.graal.python.test/src/tests/test_slot.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/DynamicObjectStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/PythonModule.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadBuiltinNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetDictIfExistsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetOrCreateDictNode.java
Due: eclipseformat, checkstyle

Add unittest run with only uncached interpreter and only cached interpreter
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix rebase
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
Due: eclipseformat, checkstyle

Update parser
  graalpython/com.oracle.graal.python.pegparser.generator/input_files/Python.asdl
  graalpython/com.oracle.graal.python.pegparser.generator/pegjava/java_generator.py
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/NodeFactory.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/Parser.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/sst/TypeParamTy.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/tokenizer/Tokenizer.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Obj2Sst.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Sst2ObjVisitor.java
Due: eclipseformat, checkstyle

Update the implemented language version
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/SREModuleBuiltins.java
  mx.graalpython/mx_pominit.py
  mx.graalpython/suite.py
  pom.xml
Due: eclipseformat, checkstyle, pylint

Update C signatures
  graalpython/com.oracle.graal.python.cext/CAPIFunctions.txt
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
Due: eclipseformat, checkstyle

Update FrozenModules
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
Due: eclipseformat, checkstyle

Make dis importable
  graalpython/lib-python/3/dis.py
Due: none

Implement typing defaults
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TypingModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/typing/NoDefaultBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/typing/PNoDefault.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/typing/PParamSpec.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/typing/PTypeVar.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/typing/ParamSpecBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/typing/TypeVarBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/typing/TypeVarTupleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetClassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Add readline.backend
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ReadlineModuleBuiltins.java
Due: eclipseformat, checkstyle

Declare subinterpreter exception types
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_crossinterp.h
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
Due: eclipseformat, checkstyle

Import pytime.c
  graalpython/com.oracle.graal.python.cext/src/pytime.c
  graalpython/com.oracle.graal.python.cext/src/thread.c
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/graalpy-pyconfig/CMakeLists.txt
  graalpython/graalpy-pyconfig/pyconfig_template.h
  mx.graalpython/copyrights/overrides
Due: eclipseformat, checkstyle

More fixes for C API
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  graalpython/com.oracle.graal.python.cext/src/exceptions.c
  graalpython/com.oracle.graal.python.cext/src/pystate.c
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Sync asdl file during python import
  mx.graalpython/mx_graalpython_import.py
Due: pylint

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_os.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicode_file.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_os.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicode_file.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecs.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_gc.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mimetypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_platform.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_site.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sysconfig.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicode_file.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_venv.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_winapi.txt
Due: none

Update imports
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_jp.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecs.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_gc.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mimetypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_os.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_platform.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_site.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sysconfig.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicode_file.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_uuid.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_venv.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_winapi.txt
Due: none

Add missing _PyType_GetFullyQualifiedName and _Py_FatalErrorFormat
  graalpython/com.oracle.graal.python.cext/src/pylifecycle.c
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Update docs for changes introduced in GraalPy 25.1.3
  docs/user/Embedding-Build-Tools.md
  docs/user/Embedding-Getting-Started.md
  docs/user/Interoperability.md
  docs/user/Performance.md
  docs/user/Python-on-JVM.md
  docs/user/Standalone-Getting-Started.md
Due: none

Import C threading primitives from CPython
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_parking_lot.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_runtime.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_semaphore.h
  graalpython/com.oracle.graal.python.cext/src/ceval.c
  graalpython/com.oracle.graal.python.cext/src/lock.c
  graalpython/com.oracle.graal.python.cext/src/parking_lot.c
  graalpython/com.oracle.graal.python.cext/src/thread.c
  graalpython/com.oracle.graal.python.cext/src/thread_nt.h
  graalpython/com.oracle.graal.python.cext/src/thread_pthread.h
  graalpython/com.oracle.graal.python.cext/src/thread_pthread_stubs.h
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextPyThreadBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  mx.graalpython/copyrights/overrides
Due: eclipseformat, checkstyle

Add a stub for _Py_CalculateSuggestions
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
Due: eclipseformat, checkstyle

Remove GraalPyPrivate_Set_Native_Slots
  graalpython/com.oracle.graal.python.cext/src/datetime.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
Due: eclipseformat, checkstyle

Clean up references to _PyLong_AsInt
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_long.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyLongAsIntNode.java
Due: eclipseformat, checkstyle

Add _PyWeakref_IsDead
  graalpython/com.oracle.graal.python.cext/src/call.c
  graalpython/com.oracle.graal.python.cext/src/longobject.c
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextWeakrefBuiltins.java
Due: eclipseformat, checkstyle

Add missing _testcapi modules
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/modules/_testcapi.c
  graalpython/com.oracle.graal.python.cext/modules/_testcapi/hash.c
  graalpython/com.oracle.graal.python.cext/modules/_testcapi/monitoring.c
  graalpython/com.oracle.graal.python.cext/modules/_testcapi/object.c
  graalpython/com.oracle.graal.python.cext/modules/_testcapi/pyatomic.c
  graalpython/com.oracle.graal.python.cext/modules/_testcapi/time.c
  graalpython/com.oracle.graal.python.cext/modules/_testcapi/weakref.c
  mx.graalpython/copyrights/overrides
Due: none

Add _PyUnicode_Copy
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
Due: eclipseformat, checkstyle

Remove unnecessary NO_INLINE
  graalpython/com.oracle.graal.python.cext/src/getargs.c
  graalpython/com.oracle.graal.python.cext/src/tupleobject.c
Due: none

Support Py_mod_gil module slot
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
Due: eclipseformat, checkstyle

Fix parsing sdist names with dashes in name
  graalpython/com.oracle.graal.python.test/src/tests/test_patched_pip.py
  graalpython/lib-graalpython/modules/graalpy_pip_extensions.py
Due: none

Remove patch for old pip
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/pip-23.2.1.patch
Due: none

Make autopatch_capi opt-out
  graalpython/lib-graalpython/modules/graalpy_pip_extensions.py
  graalpython/lib-graalpython/patches/README.md
  mx.graalpython/verify_patches.py
  scripts/get_pypi_source.py
Due: pylint

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
