Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    entry: mx python-checkcopyrights --assumed-modified --fix --files
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    entry: mx --primary pylint --primary
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'

Add GraalPySlice_Start/Stop/Step
  graalpython/com.oracle.graal.python.cext/include/sliceobject.h
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_slice.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSliceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Move experimental configuration to daily
  ci.jsonnet
Due: none

Rename GraalPy-speficic PyCode/PyFrame functions
  graalpython/com.oracle.graal.python.cext/include/cpython/code.h
  graalpython/com.oracle.graal.python.cext/include/cpython/frameobject.h
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextFrameBuiltins.java
  graalpython/lib-graalpython/patches/Cython-0.29.32.patch
  graalpython/lib-graalpython/patches/Cython-0.29.37.patch
  graalpython/lib-graalpython/patches/Cython-3.0.10.patch
  graalpython/lib-graalpython/patches/catboost-1.2.2.patch
  graalpython/lib-graalpython/patches/catboost-1.2.3.patch
  graalpython/lib-graalpython/patches/torch-1.13.1.patch
  graalpython/lib-graalpython/patches/torch-2.2.1.patch
  graalpython/lib-graalpython/patches/torch-2.4.1.patch
  graalpython/lib-graalpython/patches/torch-2.7.0.patch
Due: eclipseformat, checkstyle

Rename GraalPy-speficic PyArray functions
  graalpython/com.oracle.graal.python.cext/include/listobject.h
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_array.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextArrayBuiltins.java
  graalpython/lib-graalpython/patches/Cython-0.29.32.patch
  graalpython/lib-graalpython/patches/Cython-0.29.37.patch
  graalpython/lib-graalpython/patches/Cython-3.0.10.patch
  graalpython/lib-graalpython/patches/catboost-1.2.2.patch
  graalpython/lib-graalpython/patches/catboost-1.2.3.patch
Due: eclipseformat, checkstyle

Make more list and tuple functions public
  graalpython/com.oracle.graal.python.cext/include/abstract.h
  graalpython/com.oracle.graal.python.cext/include/cpython/listobject.h
  graalpython/com.oracle.graal.python.cext/include/cpython/tupleobject.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_tuple.h
  graalpython/com.oracle.graal.python.cext/modules/_sqlite/clinic/connection.c.h
  graalpython/com.oracle.graal.python.cext/modules/clinic/sha3module.c.h
  graalpython/com.oracle.graal.python.cext/src/abstract.c
  graalpython/com.oracle.graal.python.cext/src/listobject.c
  graalpython/com.oracle.graal.python.cext/src/tupleobject.c
  graalpython/lib-graalpython/patches/nanobind.patch
Due: none

Remove GraalPyPrivate_Sequence_ITEM
  graalpython/com.oracle.graal.python.cext/include/cpython/abstract.h
  graalpython/com.oracle.graal.python.cext/src/abstract.c
Due: none

Export GraalPy functions for refount/type/size
  graalpython/com.oracle.graal.python.cext/include/object.h
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/lib-graalpython/patches/nanobind.patch
Due: none

Publish API functions for unicode macros
  graalpython/com.oracle.graal.python.cext/include/cpython/unicodeobject.h
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
Due: none

Hide our handles and object layout from headers
  graalpython/com.oracle.graal.python.cext/include/cpython/floatobject.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_gc.h
  graalpython/com.oracle.graal.python.cext/include/object.h
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/floatobject.c
Due: none

Include graalpy/handles.h header in numpy for now
  graalpython/lib-graalpython/patches/numpy-1.26.2.patch
  graalpython/lib-graalpython/patches/numpy-1.26.4.patch
  graalpython/lib-graalpython/patches/numpy-2.0.0.patch
Due: none

Add public functions for accessing datetime members
  graalpython/com.oracle.graal.python.cext/include/datetime.h
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyDateTimeCAPIWrapper.java
Due: eclipseformat, checkstyle

GraalPy standalone module falls back to older version of python-embedding artifact if the current version is not available
  graalpython/lib-graalpython/modules/standalone/__main__.py
Due: none

Fix: Java switch expression w/o default branch does not PE well
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectRichCompareBool.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/RichCmpOp.java
Due: eclipseformat, checkstyle

Avoid slowpath in FillKwDefaultsNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/argument/CreateArgumentsNode.java
Due: eclipseformat, checkstyle

Ensure calls to materializeNativeExceptionTraceback are not compiled if the code never raises at runtime
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ManagedMethodWrappers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyCFunctionWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyProcsWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
Due: eclipseformat, checkstyle

Remove virtual call to PythonNativeWrapper#getReplacement
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyMemoryViewWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonClassNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PythonNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GetReplacementNode.java
Due: eclipseformat, checkstyle

Ensure IndirectCallState can be escape analyzed
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Merge complex code paths in PrimitiveNativeWrapper#toNative
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PrimitiveNativeWrapper.java
Due: eclipseformat, checkstyle

Do not hide Unsafe.alloc behind TruffleBoundary
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CPyObjectArrayWrapper.java
Due: eclipseformat, checkstyle

Add message to assertion in setNativeThreadLocalVarPointer
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Update imports to release branch of graal
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

[GR-67249] Remove "javac.lint.overrides": "none" as it prevents failing with mx build --warning-as-error
  mx.graalpython/suite.py
Due: pylint

Remove unnecessary `@Cached(inline = false)`
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotVarargs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/CallDispatchers.java
Due: eclipseformat, checkstyle

Remove @GenerateInline on non-DSL node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadCallerFrameNode.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/ci/ci_common/common.jsonnet
  ci/graal/ci/ci_common/galahad-common.libsonnet
  ci/graal/ci/ci_common/musl-common.libsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Fix 2 @Bind("this") warnings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
Due: eclipseformat, checkstyle

Add env files to conveniently dump host inlining decisions
  mx.graalpython/native-ce-host-inlining
  mx.graalpython/native-ee-host-inlining
Due: none

Remove extra specialization for ObjectBuiltins.GetAttributeNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
Due: eclipseformat, checkstyle

Replace GetAttributeNode by GetFixedAttributeNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/AsyncioModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PolyglotModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSlotBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CDataBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CDataTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CtypesModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/StgDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONScannerBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/getsetdescriptor/DescriptorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/AbstractBuiltinMethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/AbstractMethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/BuiltinFunctionOrMethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/MethodWrapperBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectGetAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Use CompilerAsserts.neverPartOfCompilation() instead of comment
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectLookupAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedAttributeNode.java
Due: eclipseformat, checkstyle

Use an explicit guard for GetClassNode#getForeign to save code size
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetClassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/IsForeignObjectNode.java
Due: eclipseformat, checkstyle

Remove duplicate specializations in GetClassNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetClassNode.java
Due: eclipseformat, checkstyle

Refactor ObjectBuiltins.GetAttributeNode to be as similar as possible to TypeBuiltins.GetattributeNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/ThreadLocalBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectGetAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectGetMethod.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PRaiseNode.java
Due: eclipseformat, checkstyle

Make PythonObject#initialPythonClass non-final and rename to PythonObject#pythonClass
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/DigestObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/ANextAwaitableBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PBaseException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/PythonObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotVarargs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetClassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Fix docs
  docs/contributor/CONTRIBUTING.md
Due: none

Do not use DynamicObjectLibrary for just getting the Shape flags
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
Due: eclipseformat, checkstyle

GetPythonObjectClassNode#doInitialClass should replace doConstantClass
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetClassNode.java
Due: eclipseformat, checkstyle

Remove duplicate specialization in ModuleBuiltins.ModuleGetattributeNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/ModuleBuiltins.java
Due: eclipseformat, checkstyle

Add @InliningCutoff in PRaiseNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PRaiseNode.java
Due: eclipseformat, checkstyle
