Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

[GR-76434] Adjust GraalPy raised JIT thresholds
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
Due: eclipseformat, checkstyle

Fix missing specialization in itertools.product
  graalpython/com.oracle.graal.python.test/src/tests/test_itertools.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/ProductBuiltins.java
Due: eclipseformat, checkstyle

Fix cython patches to be valid c++
  graalpython/lib-graalpython/patches/cython-3.1.2.patch
  graalpython/lib-graalpython/patches/cython-3.1.7.patch
  graalpython/lib-graalpython/patches/cython-3.2.0.patch
  graalpython/lib-graalpython/patches/cython-3.2.4.patch
Due: none

Mark mmap buffer as readonly when appropriate
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
Due: eclipseformat, checkstyle

Parse native type names from last dot
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_classobject.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/PythonAbstractNativeObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
Due: eclipseformat, checkstyle

Accept native str subclasses in fspath
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_misc.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyOSFSPathNode.java
Due: eclipseformat, checkstyle

Fix itertools.product error behavior
  graalpython/com.oracle.graal.python.test/src/tests/test_itertools.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/ProductBuiltins.java
Due: eclipseformat, checkstyle

t
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_misc.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyOSFSPathNode.java
Due: eclipseformat, checkstyle

Use _strptime module for datetime.strptime instead of our own impl
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
Due: eclipseformat, checkstyle

Add tests for upper case datetime parsing
  graalpython/com.oracle.graal.python.test/src/tests/test_datetime.py
Due: none

Configure benchmarks for peak performance measurements.
  ci/graal/common.json
  graalpython/com.oracle.graal.python.benchmarks/python/peak/attribute-access.py
  graalpython/com.oracle.graal.python.benchmarks/python/peak/call-method-polymorphic.py
  graalpython/com.oracle.graal.python.benchmarks/python/peak/deltablue.py
  graalpython/com.oracle.graal.python.benchmarks/python/peak/fibonacci.py
  graalpython/com.oracle.graal.python.benchmarks/python/peak/richards.py
  mx.graalpython/copyrights/gpl2cpe-python.copyright.hash
  mx.graalpython/copyrights/gpl2cpe-python.copyright.hash.regex
  mx.graalpython/copyrights/overrides
  mx.graalpython/polybench-stable-run-config.json
  mx.graalpython/suite.py
Due: pylint

[GR-76470] Adjust wheeltags when built with swcfi and hwcfi toolchains.
  mx.graalpython/mx_graalpython.py
Due: pylint

[GR-76434] Guard Windows core file initialization at call site
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
Due: eclipseformat, checkstyle

Improve PyTupleCheckNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTupleCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
Due: eclipseformat, checkstyle

Accept native tuples in public tuple paths
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_tuple.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibyteCodecUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONEncoderBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictViewBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/memoryview/MemoryViewBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/socket/SocketNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
Due: eclipseformat, checkstyle

[GR-76470] Use build-generated extension suffix metadata
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/PythonResource.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/NativeLibraryLocator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/graalpy-versions/CMakeLists.txt
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Skip or avoid windows jdk21 test paths that trigger native access
  graalpython/com.oracle.graal.python.test/src/tests/test_indirect_call.py
  graalpython/com.oracle.graal.python.test/src/tests/test_startup.py
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WinapiModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/lib-graalpython/modules/_winapi.py
  graalpython/lib-graalpython/modules/winreg.py
  graalpython/lib-python/3/test/test_xml_etree.py
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Update graal import
  ci/graal/common.json
  mx.graalpython/mx_graalpython_bench_param.py
  mx.graalpython/suite.py
Due: pylint

Enable dis Bytecode iteration
  graalpython/com.oracle.graal.python.test/src/tests/test_dis.py
  graalpython/lib-python/3/dis.py
Due: none

Package GraalOS runtime to make graalos standalone and add smoke tests
  ci.jsonnet
  graalpython/com.oracle.graal.python.test/src/tests/test_graalos_standalone.py
  graalpython/graalpy_graalos_standalone_payload/CMakeLists.txt
  graalpython/graalpy_graalos_standalone_payload/config.json
  graalpython/graalpy_graalos_standalone_payload/graalpy-sandbox-expand-config.sh
  graalpython/graalpy_graalos_standalone_payload/graalpy-sandbox-fsmappings.sh
  graalpython/graalpy_graalos_standalone_payload/graalpy-sandbox-launcher.sh
  graalpython/graalpy_graalos_standalone_payload/launcher-wrapper.sh
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_graalos.py
  mx.graalpython/suite.py
  scripts/generate-fsmappings.sh
Due: pylint

Fix negative sequence slot index handling.
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abstract.py
  graalpython/com.oracle.graal.python.test/src/tests/test_deque.py
  graalpython/com.oracle.graal.python.test/src/tests/test_list.py
  graalpython/com.oracle.graal.python.test/src/tests/test_mmap.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/deque/DequeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/ListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotSqAssItem.java
Due: eclipseformat, checkstyle

Update version numbers for upcoming release.
  .github/workflows/platforms-tests.yml
  CHANGELOG.md
  docs/user/Standalone-Getting-Started.md
  graalpython/com.oracle.graal.python.test.integration/pom.xml
  mx.graalpython/mx_pominit.py
  mx.graalpython/suite.py
  scripts/wheelbuilder/README.md
Due: pylint

Manually install uv and rustup in downstream-tests GitHub action
  .github/actions/downstream-test/action.yml
Due: none

Remove bytecode DSL interpreter build switch
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Drop manual bytecode interpreter CI variants
  ci.jsonnet
Due: none

Remove bytecode DSL interpreter marker
  graalpython/com.oracle.graal.python.benchmarks/python/harness.py
  graalpython/com.oracle.graal.python.benchmarks/python/heap/import-a-lot.py
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/runtime/ProfileTests.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
  graalpython/com.oracle.graal.python.test/src/tests/test_reparse.py
  graalpython/com.oracle.graal.python.test/src/tests/util.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/lib-python/3/test/support/__init__.py
  graalpython/lib-python/3/test/test_sys_settrace.py
Due: eclipseformat, checkstyle

Simplify locals sync
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/GetFrameLocalsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
Due: eclipseformat, checkstyle

Remove compiler utility class
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/compiler/UnparserTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/Compiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Cleanup PGenerator
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/PAsyncGen.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Remove CollectionBits
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CollectionBits.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix REPL exception printing
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
Due: eclipseformat, checkstyle

Remove skipIfBytecodeDSL
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
  graalpython/com.oracle.graal.python.test/src/tests/util.py
Due: none

Remove node footprint analyzer
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/NodeFootprintAnalyzer.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Remove unused bytecode nodes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/QuickeningTypes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/AbstractKwargsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/BinarySubscrSeq.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/CallComprehensionNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/EndAsyncForNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/ExitAWithNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/ExitWithNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/ForIterINode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/ForIterONode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/GetAExitCoroNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/HashingStorageFromListSequenceStorageNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/InNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/InstrumentationMaterializationForwarder.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/KeywordsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/KwargsMergeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/MakeGenericNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/MakeTypeAliasNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/MakeTypeParamNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PRaiseCachedNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/QuickeningGeneralizeException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/ReadFromDictOrGlobalsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/SendNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/SequenceFromStackNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/SetupAwithNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/SetupWithNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/StoreSubscrSeq.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/ThrowNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/UnpackExNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/UnpackSequenceNode.java
Due: eclipseformat, checkstyle

Unskip passing test
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/runtime/ProfileTests.java
Due: eclipseformat, checkstyle

Inline bytecode DSL code metadata classes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/PythonFrozenModule.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/superobject/SuperBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/LazyTraceback.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/OpCodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/FrameInfo.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLFrameInfo.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/ExceptionUtils.java
Due: eclipseformat, checkstyle

Remove OpCodes
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/GenerateEnumConstants.java
  graalpython/com.oracle.graal.python.processor/src/META-INF/services/javax.annotation.processing.Processor
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/GenerateEnumConstantsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CollectionBits.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/MakeTypeParamKind.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/OpCodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/UnaryOps.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/MakeTypeParamNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Remove skipUnlessBytecodeDSL
  graalpython/com.oracle.graal.python.test/src/tests/test_except_star.py
  graalpython/com.oracle.graal.python.test/src/tests/test_generators.py
  graalpython/com.oracle.graal.python.test/src/tests/test_scope.py
  graalpython/com.oracle.graal.python.test/src/tests/test_string.py
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
  graalpython/com.oracle.graal.python.test/src/tests/util.py
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
