Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Move setting func.__kwdefaults__ behind boundary
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PFunction.java
Due: eclipseformat, checkstyle

Add UPL header to generated pom.xml files
  graalpython/com.oracle.graal.python.annotations/pom.xml
  graalpython/com.oracle.graal.python.bouncycastle/pom.xml
  graalpython/com.oracle.graal.python.pegparser/pom.xml
  graalpython/com.oracle.graal.python.processor/pom.xml
  graalpython/com.oracle.graal.python.resources/pom.xml
  graalpython/com.oracle.graal.python.shell/pom.xml
  graalpython/com.oracle.graal.python/pom.xml
  mx.graalpython/mx_pominit.py
  pom.xml
Due: pylint

Build the site using the theme from GitHub, not a locally built .gem
  ci.jsonnet
Due: none

Set the Bundler local override to the relative path ../../graal-languages-jekyll-theme instead of /Users/ogupalo/graalvm-workspace/graalpython
  ci.jsonnet
Due: none

Increase benchmark iterations
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Implement sys._current_frames using TLAs
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
  graalpython/com.oracle.graal.python.test/src/tests/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/FrameBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
Due: eclipseformat, checkstyle

Fix JSON hooks for nested list values
  graalpython/com.oracle.graal.python.test/src/tests/test_json.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONScannerBuiltins.java
Due: eclipseformat, checkstyle

GraalPy version update in user docs
  docs/user/Embedding-Build-Tools.md
  docs/user/Embedding-Getting-Started.md
  docs/user/Interoperability.md
  docs/user/Standalone-Getting-Started.md
Due: none

Fix co_lines deduplication and continuity
  graalpython/com.oracle.graal.python.test/src/tests/test_code.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
Due: eclipseformat, checkstyle

Use mx URL rewrites for graalpy-extensions clone.
  mx.graalpython/mx_graalpython.py
Due: pylint

Raise IndexError for deque indices below -len. Fixes oracle/graalpython#923
  graalpython/com.oracle.graal.python.test/src/tests/test_deque.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/deque/DequeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotSizeArgFun.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotSqAssItem.java
Due: eclipseformat, checkstyle

Fix GraalPython stdin TTY guard backport
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
Due: eclipseformat, checkstyle

Use `:git` source for Jekyll theme.
  docs/site/Gemfile
  docs/site/Gemfile.lock
Due: none

fix wrong release version
  graalpython/com.oracle.graal.python.test.integration/pom.xml
  graalpython/graalpy-jbang/examples/hello.java
  graalpython/graalpy-jbang/templates/graalpy-template.java.qute
  graalpython/graalpy-jbang/templates/graalpy-template_local_repo.java.qute
Due: eclipseformat, checkstyle

Update graal import
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

fix
  README.md
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_isinstance.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
Due: none

Update imports
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_isinstance.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
Due: none

Capture nested Graal diagnostic dumps in CI
  ci/python-gate.libsonnet
Due: none

[GR-76369] Wait for faulthandler thread dumps
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/FaulthandlerModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-76253] Make pyc reparse rendezvous more robust
  graalpython/com.oracle.graal.python.test/src/tests/test_reparse.py
Due: none

Use new delvewheel replace-needed command
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/NativeExtTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/PEFile.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Use native standalone for multi-context tests for performance reasons
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

Use graalpy for delvewheel-venv if cpython is too old
  mx.graalpython/mx_graalpython.py
Due: pylint

Abbreviate commits in bisect branch names
  scripts/bisect_benchmark_regression.py
Due: none

Unpin librt patch
  graalpython/lib-graalpython/patches/librt-0.9.0.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Revert to using WITH_SOURCE bytecode config
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Make finalizable reference release idempotent
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/FileIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/PFileIO.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/memoryview/PMemoryView.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/PMMap.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/posix/PScandirIterator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
Due: eclipseformat, checkstyle

Use standalone for delvewheel in junit job as well
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix GraalPy PGO profile selection
  mx.graalpython/mx_graalpython.py
Due: pylint

Migrate zlib native support to NativeAccess
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/NativeZlibCompObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZLibCompObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZLibModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibCompressBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibDecompressBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibDecompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibDecompressorObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIZlibSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeCompressionSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
  graalpython/python-libzsupport/src/zlib.c
Due: eclipseformat, checkstyle

Remove unused InvokeNativeFunction node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeLibrary.java
Due: eclipseformat, checkstyle

Remove any LLVM reference
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/LeakTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Rename native compression support classes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/bz2/BZ2CompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/bz2/BZ2DecompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/bz2/BZ2Object.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/bz2/Bz2Nodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMACompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMADecompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMAModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMANodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMAObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/NativeZlibCompObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZLibModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibCompressBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibDecompressBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibDecompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibDecompressorObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/ZlibNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeBz2Support.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeLZMASupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeZlibSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
  graalpython/python-libbz2/src/bz2.c
  graalpython/python-liblzma/src/lzma.c
  graalpython/python-libzsupport/src/zlib.c
Due: eclipseformat, checkstyle

Migrate bz2 native support to NativeAccess
  graalpython/com.oracle.graal.python.test/src/tests/test_bz2.py
  graalpython/com.oracle.graal.python.test/src/tests/util.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/bz2/BZ2CompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/bz2/BZ2DecompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/bz2/BZ2Object.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/bz2/Bz2Nodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIBz2Support.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
  graalpython/python-libbz2/src/bz2.c
Due: eclipseformat, checkstyle

Remove unused NFI generator
  scripts/nfi_gen.py
Due: none

Migrate lzma native support to NativeAccess
  graalpython/com.oracle.graal.python.test/src/tests/test_lzma.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMACompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMADecompressorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMAModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMANodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMAObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFILZMASupport.java
  graalpython/python-liblzma/src/lzma.c
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
