Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  entry: mx --primary pylint --primary

Exclude lib-python from pre-commit
  .pre-commit-config.yaml
Due: none

Enable pyo3 downstream test
  .github/workflows/downstream-tests.yml
Due: none

Avoid 3rd-party github actions
  .github/workflows/downstream-tests.yml
Due: none

untag another transient
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compileall.txt
Due: none

Better pipelining resource usage
  ci.jsonnet
  ci/python-gate.libsonnet
Due: none

skip transient in test_itertools.py
  graalpython/lib-python/3/test/test_itertools.py
Due: none

Remove dead CI code
  ci/python-gate.libsonnet
Due: none

Split style gate into javac and ecj
  ci.jsonnet
  ci/python-gate.libsonnet
Due: none

Separate building of standalones into separate smoke test jobs
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

Add graalpy-config.py to copyrights/overrides
  mx.graalpython/copyrights/overrides
Due: none

Improve error message in test_waitpid_group_child
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
Due: none

Launcher: give native permission to JLine FFM provider
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

Skip test_waitpid_group_child
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
Due: none

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Make windows maven plugin tests post-merge
  ci.jsonnet
Due: none

set release flag to False
  mx.graalpython/suite.py
Due: pylint

update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_posix.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_re.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_shutil.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_warnings.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Add missing @Idempotent
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
Due: eclipseformat, checkstyle

Remove unnecessary create() method
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Add missing @NeverDefault annotations
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

use libffi by default instead of Panama for NFI backend
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Add missing check for negative value to int.__lshift__
  graalpython/com.oracle.graal.python.test/src/tests/test_int.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

Update patch for orjson 3.10.5
  graalpython/lib-graalpython/patches/orjson-3.10.5.patch
Due: none

Fix: add use_modules=image for the legacy GraalVM launcher
  mx.graalpython/mx_graalpython.py
Due: pylint

Add test for SandboxPolicy.UNTRUSTED
  graalpython/com.oracle.graal.python.test.integration/pom.xml
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/SandboxPolicyUntrustedTest.java
  graalpython/com.oracle.graal.python/.checkstyle_checks.xml
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Re-enable tests that were fixed on the Truffle external polyglot isolate side
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/engine/SharedEngineMultithreadingTestBase.java
  graalpython/com.oracle.graal.python.test.integration/src/org/graalvm/python/embedding/test/integration/VirtualFileSystemIntegrationTest.java
Due: eclipseformat, checkstyle

Do not try to get the debugger if we're sandboxed
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
Due: eclipseformat, checkstyle

Increase the default time limit for tier3 jobs
  ci/utils.libsonnet
Due: none

Ignore transiently failing test_waitpid_no_child
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
Due: none

Changed texts location
  docs/site/03-compatibility.md
  docs/site/assets/img/python/info-icon.svg
Due: none

Last comments implementation
  docs/site/03-compatibility.md
Due: none

Removed comments
  docs/site/03-compatibility.md
Due: none

add test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
Due: none

Add support for PyUnicode_FSDecoder
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Remove @ReportPolymorphism on node with a single specialization instance
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/PythonAbstractObject.java
Due: eclipseformat, checkstyle

disable transient tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_concurrent_futures.txt
Due: none

implement _sha2 builtin module
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/Sha1ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/Sha2ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/Sha512ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
Due: eclipseformat, checkstyle

objects with *set_attr slots is not immutable
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/PythonAbstractObject.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
