Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Fix aiter TypeError messages
  graalpython/com.oracle.graal.python.test/src/tests/test_builtin.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add fix-issues command and gen-repro util for codex
  .codex
  scripts/gh-issues.py
Due: none

Fetch github issues, call codex to sort
  scripts/gh-issues.py
Due: none

rm commented code
  scripts/gh-issues.py
Due: none

add --apply-labels options
  scripts/gh-issues.py
Due: none

remove .codex
  .codex
Due: none

Remove storage requirement from devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Add GETTING_STARTED.md
  docs/contributor/GETTING_STARTED.md
  docs/contributor/assets/issue_form_selector.png
Due: none

Bump contributing to the top in readme.me and add video
  README.md
Due: none

Properly set pend output arg in PyLong_FromString
  graalpython/com.oracle.graal.python.cext/src/longobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_long.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
Due: eclipseformat, checkstyle

[GR-75175] Keep path-producing mx commands quiet
  mx.graalpython/mx_graalpython.py
Due: pylint

Applied suggestion
  docs/contributor/GETTING_STARTED.md
Due: none

Applied suggestion
  README.md
Due: none

Add a skill for rota benchmark analysis
  .agents/skills/rota-bench-regression-analysis/SKILL.md
Due: none

Add a rota mode to the regression script
  scripts/compare_bench_regressions.py
Due: none

Add script for checking regressions on a PR
  scripts/compare_bench_regressions.py
Due: none

Automate bisecting benchmarks
  .agents/skills/rota-bench-regression-analysis/SKILL.md
  bisect-benchmark.ini
  ci/python-bench.libsonnet
  mx.graalpython/mx_graalpython_bisect.py
  scripts/bisect_benchmark_regression.py
Due: pylint

Refactor rota skills
  .agents/skills/github-pr-mirror/SKILL.md
  .agents/skills/graalpython-bitbucket-pr/SKILL.md
  .agents/skills/graalpython-rota/SKILL.md
  .agents/skills/rota-check-periodic-jobs/SKILL.md
  .agents/skills/rota-update-import/SKILL.md
Due: none

Add a script to fetch periodic failures and update the skill to use it
  .agents/skills/rota-check-periodic-jobs/SKILL.md
  scripts/rota_ci_failures.py
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_strptime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Fix Validator.java formatting
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Validator.java
Due: eclipseformat, checkstyle

Untag transient
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_time.txt
Due: none

[GR-75252] Fix qualified exception names in PyErr_NewException
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_object.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
Due: eclipseformat, checkstyle

Implement alarm and setitimer in posix library
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SignalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Make signal.raise_signal use posix raise
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SignalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Add AllowSignalHandlers option
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/AsyncActionThreadingTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SignalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Add changelog entry
  CHANGELOG.md
Due: none

Reintroduce emulated alarm and setitimer
  graalpython/com.oracle.graal.python.test/src/tests/test_signal.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SignalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
Due: eclipseformat, checkstyle

Skip c++03 test on darwin
  graalpython/lib-python/3/test/test_cppext/__init__.py
Due: none

Fix bytecode DSL generator trace events
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Validator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Flush stdio after interactive REPL statements
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Validator.java
Due: eclipseformat, checkstyle

Redirect Graal logs in stdout-sensitive tests
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_shutdown.py
  graalpython/com.oracle.graal.python.test/src/tests/test_entropy_subprocess.py
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_time.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_time.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_time.txt
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
