Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Add test of multi-threaded import of Python packages
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/cext/test/MultithreadedImportTestBase.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/cext/test/MultithreadedImportTestJava.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/cext/test/MultithreadedImportTestNative.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/cext/test/package-info.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

_imp.acquire_lock: acquire the lock interruptibly
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
Due: eclipseformat, checkstyle

Do not swallow interrupt in PythonContext.acquireGil
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Avoid broken pytest-rerunfailures
  mx.graalpython/downstream_tests.py
Due: pylint

Add workaround for running hpy tests under jacoco
  mx.graalpython/downstream_tests.py
Due: pylint

Untag failing tests on Darwin amd64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
Due: none

Add MacOS launcher
  graalpython/lib-python/3/venv/__init__.py
  graalpython/python-macos-launcher/src/venvlauncher.c
  mx.graalpython/suite.py
Due: pylint

Improved logging when home is initialized
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Do not require nfi when creating frozen modules
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

Enable multitarget for all cmake and ninja projects in graalpy to use either default or musl-swcfi toolchains
  mx.graalpython/suite.py
Due: pylint

Get lzma.c to compile on musl toolchain
  graalpython/python-liblzma/src/lzma.c
Due: none

compiler thinlauncher with llvm toolchain or musl swcfi only on linux
  mx.graalpython/suite.py
Due: pylint

Preinitialize context on all platforms
  mx.graalpython/mx_graalpython.py
Due: pylint

Modify native image builder args for graalos
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

do not put dists on the classpath that are not built
  mx.graalpython/mx_graalpython.py
Due: pylint

choose correct exe suffix for think launcher
  mx.graalpython/suite.py
Due: pylint

Add script to generate FS mappings for graalhost
  scripts/generate-fsmappings.sh
Due: none

Remove confusing `def python` in mx_graalpython
  mx.graalpython/mx_graalpython.py
Due: pylint

[GR-69288] feat: make Gemfile source configurable via RUBYGEMS_MIRROR env variable
  docs/site/Gemfile
Due: none

[GR-69311] Avoid sneaking in our default extra index if the user was overriding the main index already
  mx.graalpython/mx_graalpython.py
Due: pylint

ci: replace run-on-arch-action with docker/qemu for ppc64le testing
  .github/workflows/platforms-tests.yml
Due: none

Fix pgo profile upload
  mx.graalpython/mx_graalpython.py
Due: pylint

Run {micro|meso}-small benchmarks on CPython
  ci.jsonnet
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Ignore MultithreadedImportTest on Windows for now
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix: when locking C API init lock we should release the GIL not acquire
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
Due: eclipseformat, checkstyle

Fix looking up CPython for benchmarks
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

yieldFrom Bytecode DSL implementation
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_grammar.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_regrtest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_trace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_unicode_identifiers.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/GeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Fix excessive graph size with tracing active
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/GetFrameLocalsNode.java
Due: eclipseformat, checkstyle

Fix installing cmake in downstream-tests on Mac OS
  .github/workflows/downstream-tests.yml
Due: none

Transfer to interpreter eariler on tracing jumps
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Use copyTo for syncing frame locals
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Pack tracing helper nodes into a node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Avoid syncing locals back to frame if not accessed
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/FrameBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

untag failing test
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_asyncio.txt
Due: none

untag all variations of test_yield_wait_does_not_shield_cancel test for bytecode DSL
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_asyncio.txt
Due: none

Wrap UnsupportedPosixFeatureException in pwd builtins
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PwdModuleBuiltins.java
Due: eclipseformat, checkstyle

Raise io.UnsupportedOperation from raiseOSErrorUnsupported
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PConstructAndRaiseNode.java
Due: eclipseformat, checkstyle

Allow missing getpwuid/getrpgid in tarfile
  graalpython/lib-python/3/tarfile.py
Due: none

Test remote patches on windows
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/com.oracle.graal.python.test/src/tests/conftest.toml
  graalpython/com.oracle.graal.python.test/src/tests/test_patched_pip.py
Due: none

Re-encode patch files downloaded from patch branch in pip patch
  graalpython/lib-graalpython/patches/pip-24.3.1.patch
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
