Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Build oracledb downstream wheels separately
  .github/workflows/_downstream-test-oracledb.yml
  .github/workflows/downstream-tests.yml
  mx.graalpython/downstream_tests.py
Due: pylint

Add test for shutdown crash
  graalpython/com.oracle.graal.python.test/src/tests/test_threading.py
Due: none

Refactor downstream test action
  .github/actions/downstream-test/action.yml
  .github/workflows/_downstream-test-common.yml
  .github/workflows/_downstream-test-oracledb.yml
  .github/workflows/downstream-tests.yml
Due: none

Disable faulty assert
  graalpython/lib-python/3/threading.py
Due: none

Call GraalPyPrivate_ManagedObject_GC_Del from _Py_Dealloc
  graalpython/com.oracle.graal.python.cext/src/object.c
Due: none

Promote values in PyDict_SetDefault
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_dict.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
Due: eclipseformat, checkstyle

Fix replacement in cython test runner
  mx.graalpython/downstream_tests.py
Due: pylint

Loosen failing assertion
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Disable strict xfails in pybind11 downstream test
  mx.graalpython/downstream_tests.py
Due: pylint

Add profiling to improve PE performance of ObjectHashMap
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/objects/ObjectHashMapTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/ObjectHashMap.java
Due: eclipseformat, checkstyle

Fix gzip decompression with bounded output
  graalpython/com.oracle.graal.python.test/src/tests/test_zlib.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/JavaDecompress.java
Due: eclipseformat, checkstyle

Harden against two more transients
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_time.txt
  graalpython/lib-python/3/test/test_ssl.py
  graalpython/lib-python/3/test/test_time.py
Due: none

No longer materializing source sections by default
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_modulefinder.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
  graalpython/lib-python/3/test/test_modulefinder.py
Due: eclipseformat, checkstyle

Fix gzip CRC, optional header, and post trailer data handling for emulated backend
  graalpython/com.oracle.graal.python.test/src/tests/test_zlib.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/JavaCompress.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/JavaDecompress.java
Due: eclipseformat, checkstyle

Add a workaround for GraalPy bug that affects cryptography
  graalpython/lib-graalpython/patches/cryptography-48.0.0.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Add a test for missing delvewheel
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/NativeExtTest.java
Due: eclipseformat, checkstyle

Improve delvewheel error reporting
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/NativeExtTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/NativeLibraryLocator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/PEFile.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Improve error handling for patchelf
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/NativeExtTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/ElfFile.java
Due: eclipseformat, checkstyle

[GR-50212] Avoid shutdown dealloc of native-owned weakrefs
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_shutdown.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

[GR-75555] Preserve zlib copy input progress
  graalpython/com.oracle.graal.python.test/src/tests/test_zlib.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/JavaDecompress.java
Due: eclipseformat, checkstyle

Refactor patchelf/delvewheel error handling
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/NativeExtTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/ElfFile.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/NativeLibraryLocator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/NativeLibraryToolException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/PEFile.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/SharedObject.java
Due: eclipseformat, checkstyle

Update Cython patch
  graalpython/lib-graalpython/patches/Cython-3.0.10.patch
Due: none

Delegate suite release metadata to the sdk suite.
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

Enable shutdown threading unittest tag. GR-69282
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_threading.txt
Due: none

Use conditional GC wait in memoryio tests. GR-71890
  graalpython/lib-python/3/test/test_memoryio.py
Due: none

Add pdb coverage for supported debug behavior. GR-71866
  graalpython/com.oracle.graal.python.test/src/tests/test_pdb.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
Due: none

Fix decorator application source locations.
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

[GR-75630] Avoid overflow in C API logging
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_capi_logging.py
Due: none

Handle super descriptor binding for subclasses
  graalpython/com.oracle.graal.python.test/src/tests/test_super.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/superobject/SuperBuiltins.java
Due: eclipseformat, checkstyle

Mark Generic as heaptype
  graalpython/com.oracle.graal.python.test/src/tests/test_type.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
Due: eclipseformat, checkstyle

Avoid forceCached for MakeFunction
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Enable uncached for CopyDictWithoutKeys
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/CopyDictWithoutKeysNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Extract PyObjectIsInstanceNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WarningsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PrepareExceptionNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/types/UnionTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectIsInstanceNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectIsSubclassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectRecursiveBinaryCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/MatchClassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Use PyObjectFormat instead of the builtin function node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/TemplateFormatter.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectFormat.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Remove forceCached from yield from operations
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/StopIterationBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyGenFetchStopIterationValue.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/SendNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/ThrowNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Fix specialization inconsistency in dict view xor/sub
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictViewBuiltins.java
Due: eclipseformat, checkstyle

Fix __new__ lookup for custom metatypes.
  graalpython/com.oracle.graal.python.test/src/tests/test_class.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotVarargs.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_buffer.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_file.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_fractions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_buffer.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_file.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_fractions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
