Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

increase buffer size for logging
  graalpython/python-macos-launcher/src/venvlauncher.c
Due: none

Store CodeUnits directly in frozen modules
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/PythonFrozenModule.java
Due: eclipseformat, checkstyle

Remove unnecessary frozen modules
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
Due: eclipseformat, checkstyle

Remove leftover calls to _call_with_frames_removed
  graalpython/lib-python/3/importlib/_bootstrap_external.py
Due: none

Move _imp module builtins behind a boundary
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/LoadCExtException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/memoryview/MemoryViewNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/ModuleGetNameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyMemoryViewFromObject.java
Due: eclipseformat, checkstyle

Fail loudly on SVM when frozen module cannot be loaded
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/PythonFrozenModule.java
Due: eclipseformat, checkstyle

GraalPy Truffle resources: treat pyconfig.h as platform dependent
  mx.graalpython/suite.py
Due: pylint

Remove some useless conversions for primitive NFI arguments
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
Due: eclipseformat, checkstyle

A little more warning about multi-context C extensions
  docs/user/Native-Extensions.md
Due: none

return a better bases tuple for foreign types
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignAbstractClassBuiltins.java
Due: eclipseformat, checkstyle

fix identity comparison for foreign types
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

New style subclassing from Java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/lib-graalpython/__graalpython__.py
Due: eclipseformat, checkstyle

add automatic setup helper for GraalPy Tkinter support on macOS
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Refactor Tkinter setup script: dynamic path resolution, package installation, and system dependency handling
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Add support for tkinter
  graalpython/lib-python/3/_tkinter/__init__.py
  graalpython/lib-python/3/_tkinter/app.py
  graalpython/lib-python/3/_tkinter/tclobj.py
  graalpython/lib-python/3/_tkinter/tklib_build.py
Due: none

add automatic setup helper for GraalPy Tkinter support on macOS
  graalpython/lib-python/3/@test_90040_tmpÃ
  graalpython/lib-python/3/_tkinter/__pycache__/_cffi__x993bc6b9x15ee1dff.c
  graalpython/lib-python/3/_tkinter/tklib_build.py
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

replace 'mx python' with sys.executable
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

add automatic setup helper for GraalPy Tkinter support on macOS
  graalpython/lib-python/3/@test_90040_tmpÃ
  graalpython/lib-python/3/_tkinter/__pycache__/_cffi__x993bc6b9x15ee1dff.c
Due: none

refactor: ask user permission before each package installation
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Distinguish system packages from Python packages in install prompts
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Adding check for pip
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Update to language version
  README.md
  docs/site/_config.yml
  docs/user/Embedding-Build-Tools.md
  docs/user/Interoperability.md
  docs/user/Python-Runtime.md
  docs/user/README.md
Due: none

Fix style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Add few more checks to pre-commit
  .pre-commit-config.yaml
Due: none

Update GraalPy Build Tools docs, fixes #541
  docs/user/Embedding-Build-Tools.md
Due: none

Remove vestigial reference to pythonjni
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

Honour output substitutions in GraalpythonProject
  mx.graalpython/mx_graalpython.py
Due: pylint

update test tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
Due: none

Update imports
  mx.graalpython/suite.py
Due: pylint

Add compatibility results for 25.0
  docs/site/03-compatibility.md
  docs/site/module_results/python-module-testing-v250.csv
Due: none

Update wheel index for 25.0
  docs/site/_plugins/graalpy_wheels.txt
Due: none

Avoid Security.getAlgorithms, it bloats heap needlessly
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Load text sources for bytecode programs lazily
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/MakeFunctionNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/LazySource.java
Due: eclipseformat, checkstyle

Delete any graal_dumps from successful gates to save buildbot disk space
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
Due: none

Track also private memory size and run heap benchmarks for small benchmarks, on SVM, and on cpython
  ci.jsonnet
  ci/python-bench.libsonnet
  mx.graalpython/live_heap_tracker.py
  mx.graalpython/mx_graalpython_bench_param.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Give more time and also track memory for micro-native benchmarks
  ci.jsonnet
  ci/python-bench.libsonnet
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Improve footprint of unquickening data
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/BytecodeCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CompilationUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/Compiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Add casts to quiet clangd
  graalpython/com.oracle.graal.python.cext/src/datetime.c
Due: none

Run benchmark once before tracking memory to generate pyc files
  mx.graalpython/live_heap_tracker.py
Due: pylint

Fix exception state handling in Bytecode DSL generators
  graalpython/com.oracle.graal.python.test/src/tests/test_exception.py
  graalpython/com.oracle.graal.python.test/src/tests/test_generators.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_generators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_zipimport_support.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/util/ExceptionStateNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle
