Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Add jsonrpc pipe microbenchmark to mx harness
  graalpython/com.oracle.graal.python.benchmarks/python/micro/jsonrpc-pipe.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Add io perf investigation notes and scripts
  graalpython/com.oracle.graal.python.benchmarks/python/micro/jsonrpc-pipe.py
  investigations/io_perf/notes.org
  scripts/profile-jsonrpc-pipe-async-buffer.sh
  scripts/profile-jsonrpc-pipe-async-text.sh
  scripts/profile-jsonrpc-pipe-gprofng-buffer.sh
  scripts/profile-jsonrpc-pipe-gprofng-text.sh
  scripts/profile_jsonrpc_pipe_worker.py
Due: none

Add lower-level readInto fast path for buffered reads
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedReaderMixinBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
Due: eclipseformat, checkstyle

Revert buffered _io readInto fast path
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedReaderMixinBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  investigations/io_perf/notes.org
Due: eclipseformat, checkstyle

Split build-time and runtime cached call targets
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
Due: eclipseformat, checkstyle

[GR-64013] Unify optional BouncyCastle support
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/services/com.oracle.graal.python.builtins.objects.ssl.SSLBouncyCastleSupport
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/services/com.oracle.graal.python.runtime.crypto.BouncyCastleSupport
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleSupportImpl.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonCryptoFeature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/crypto/BouncyCastleSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/crypto/BouncyCastleSupportProvider.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

[GR-64013] Stop globally installing BouncyCastle
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleFeature.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Revert "[GR-64013] Make BC optional in standalone packaging"
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

Add GitHub Pages workflow for GraalPy site.
  .github/workflows/build-site.yml
  docs/user/Python-Standalone-Applications.md
Due: none

Update actions/upload-pages-artifact to v5
  .github/workflows/build-site.yml
Due: none

new dev cycle GraalVM 25.0.4
  mx.graalpython/suite.py
Due: pylint

[GR-74843] Preserve safe buffered io write fast path
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedIONodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedWriterNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/PBuffered.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/TextIOWrapperNodes.java
Due: eclipseformat, checkstyle

Fix optional BC SSL support to cover both Blake2 hashes and older ssl crypt
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/native-image.properties
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/reflect-config.json
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleFeature.java
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleSupportImpl.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/crypto/BouncyCastleSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/crypto/BouncyCastleSupportProvider.java
Due: eclipseformat, checkstyle

Refine cached call target initialization
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
Due: eclipseformat, checkstyle

Fix BC usage in native images
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/native-image.properties
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleFeature.java
Due: eclipseformat, checkstyle

Add interpreter-uncached benchmark runs
  ci.jsonnet
  ci/constants.libsonnet
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  mx.graalpython/mx_graalpython_benchmark.py
Due: eclipseformat, checkstyle, pylint

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Preserve exception context on bare reraises
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PException.java
Due: eclipseformat, checkstyle

Gitingore files generated by mx
  .gitignore
Due: none

Fix MatchSingleton None AST conversion
  graalpython/com.oracle.graal.python.test/src/tests/test_ast.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Obj2SstBase.java
Due: eclipseformat, checkstyle

Use uv workspace flow for jiter downstream test
  .github/workflows/downstream-tests.yml
  mx.graalpython/downstream_tests.py
Due: pylint

Add import warmup benchmarks
  graalpython/com.oracle.graal.python.benchmarks/python/warmup/import/OWNERS.toml
  graalpython/com.oracle.graal.python.benchmarks/python/warmup/import/complex_stdlib_import.py
  graalpython/com.oracle.graal.python.benchmarks/python/warmup/import/matplotlib_import.py
  graalpython/com.oracle.graal.python.benchmarks/python/warmup/import/simple_stdlib_import.py
  mx.graalpython/polybench-stable-run-config.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_uuid.txt
Due: none

Untag transient
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
Due: none

Automate more of the weekly import update
  .agents/skills/graalpython-rota/SKILL.md
  mx.graalpython/mx_graalpython.py
Due: pylint

Update imports
  mx.graalpython/suite.py
Due: pylint

Sync PyO3 downstream test harness with upstream CI
  mx.graalpython/downstream_tests.py
Due: pylint

Fix unicodedata fallback boundary context
  graalpython/com.oracle.graal.python.test/src/tests/test_unicodedata.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/UnicodeDataModuleBuiltins.java
Due: eclipseformat, checkstyle

Add GraalPy patch for librt 0.9.0
  graalpython/lib-graalpython/patches/librt-0.9.0.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Disable devtags by default
  mx.graalpython/mx_graalpython.py
Due: pylint

Sync pydantic-core test setup with upstream
  mx.graalpython/downstream_tests.py
Due: pylint

Remove synchronized from attach/disposeThread
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Fix error type for inalid length hint
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/iterator/IteratorNodes.java
Due: eclipseformat, checkstyle

add a nano benchmark for attribute read
  graalpython/com.oracle.graal.python.benchmarks/python/micro/nano-attribute.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Add a nano benchmark for property access
  graalpython/com.oracle.graal.python.benchmarks/python/micro/nano-property.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Add new oracledb wheels to the index
  docs/site/_plugins/graalpy_wheels.txt
Due: none

Simplify specialization for final attributes in single-context mode.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromPythonObjectNode.java
Due: eclipseformat, checkstyle

Introduce HashingStorageGetItemStringKey.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromModuleNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromObjectNode.java
Due: eclipseformat, checkstyle

Fix typo.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/DynamicObjectStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrGet.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
