Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Make pyright typechecking happy with mx_graalpython
  mx.graalpython/mx_graalpython.py
  mx.graalpython/pyrightconfig.json
Due: pylint

Ignore urllib3 warning about not using OpenSSL by default
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SSLModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-68661] Use artifacts and ensure we get PGO profiles for the right commit.
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

Remove unused build-wheels job
  ci.jsonnet
Due: none

[GR-68498] Undo the magic-iter.py benchmark change and document why it was how it was
  graalpython/com.oracle.graal.python.benchmarks/python/micro/magic-iter.py
Due: none

Exclude a test that needs internet access
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
Due: none

Make it very clear if we're automatically using some PGO profile or not
  mx.graalpython/mx_graalpython.py
Due: pylint

We need to declare deploysArtifacts in our buildspec
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
Due: none

Skip transient recv_into on java posix backend
  graalpython/com.oracle.graal.python.test/src/tests/test_socket.py
Due: none

Split windows unittests after recent test additions
  ci.jsonnet
Due: none

Refactor test_wheel
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
  graalpython/com.oracle.graal.python.test/src/tests/testlib/CMakeLists.txt
  graalpython/com.oracle.graal.python.test/src/tests/testlib/answer.c
  graalpython/com.oracle.graal.python.test/src/tests/testlib/answer.h
  graalpython/com.oracle.graal.python.test/src/tests/testlib_helper.py
  graalpython/com.oracle.graal.python.test/src/tests/testwheel/pyproject.toml
  graalpython/com.oracle.graal.python.test/src/tests/testwheel/setup.py
  graalpython/com.oracle.graal.python.test/src/tests/testwheel/testwheel/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/testwheel/testwheel/module.c
Due: none

Simplify generating posix constants
  scripts/gen_native_cfg.py
Due: none

Extract repair_wheels to be testable
  scripts/wheelbuilder/build_wheels.py
  scripts/wheelbuilder/repair_wheels.py
Due: none

Add winapi LOAD_* constants
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstants.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstantsWin32.java
  scripts/gen_native_cfg.py
Due: eclipseformat, checkstyle

Stop hardcoding manylinux glibc version in wheelbuilder
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
  scripts/wheelbuilder/repair_wheels.py
Due: none

Try to partition test to subprocesses better
  .gitignore
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/com.oracle.graal.python.test/src/tests/timings-darwin.json
  graalpython/com.oracle.graal.python.test/src/tests/timings-linux.json
  graalpython/com.oracle.graal.python.test/src/tests/timings-win32.json
Due: none

Skip test_wheel on linux-aarch64 for now
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
Due: none

Add test for loading libraries via ctypes
  graalpython/com.oracle.graal.python.test/src/tests/test_ctypes.py
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
  graalpython/com.oracle.graal.python.test/src/tests/testlib_helper.py
Due: none

Mark prompt_toolkit patch upstreamed
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Add retry to test_tarfile_vs_tar
  graalpython/lib-python/3/test/test_shutil.py
Due: none

Force ninja in testlib cmake build on windows
  graalpython/com.oracle.graal.python.test/src/tests/testlib_helper.py
Due: none

Set correct DLL flags in ctypes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/NtModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CtypesModuleBuiltins.java
  graalpython/lib-graalpython/_nt.py
Due: eclipseformat, checkstyle

Log worker ID when running tests
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Fix _add_dll_directory
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/lib-graalpython/_nt.py
Due: eclipseformat, checkstyle

Use posix constants for winapi load flags
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/NtModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CtypesModuleBuiltins.java
Due: eclipseformat, checkstyle

Avoid using platform.processor() in repair_wheels
  scripts/wheelbuilder/repair_wheels.py
Due: none

Use system python for running wheel repair in wheel test
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
Due: none

Run test_wheel only on SVM
  graalpython/com.oracle.graal.python.test/src/tests/conftest.toml
Due: none

Add a test for building and loading vendored wheels
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/answerlib/CMakeLists.txt
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/answerlib/answer.c
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/answerlib/answer.h
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/testwheel/pyproject.toml
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/testwheel/setup.py
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/testwheel/testwheel/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/testwheel/testwheel/module.c
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
Due: none

Run test subprocesses without JIT
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/lib-python/3/test/test_sys.py
Due: none

Add few missing error specializations
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSetBuiltins.java
Due: eclipseformat, checkstyle

Fix specialization consistency issue in complex.__format__
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/complex/ComplexBuiltins.java
Due: eclipseformat, checkstyle

Remove deprecated getDefaultLanguages
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
Due: eclipseformat, checkstyle

Various improvements on TruffleString usages.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSlotBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CFieldBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/CtypesNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/LazyPyCArrayTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ctypes/memory/PointerNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedReaderMixinBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/Compiler.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bz2.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_calendar.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_gzip.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_lzma.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pathlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pydoc.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_shutil.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tempfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xml_etree.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xml_etree_c.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zlib.txt
Due: none

Simplify checkouts in bisect-benchmark
  mx.graalpython/mx_graalpython_bisect.py
Due: pylint

Disable async actions during C API init
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
Due: eclipseformat, checkstyle

Fix race condition in C API init
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/statement/AbstractImportNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Use TruffleSafepoint.setBlockedThreadInterruptible for blocking operations in LRUCache
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/StructModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/Cache.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/LRUCache.java
Due: eclipseformat, checkstyle
