Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Update docs on Python inheritance from Java classes
  docs/user/Python-on-JVM.md
Due: none

Allow and document fine-grained control over GIL behaviour around interop
  docs/user/Interoperability.md
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PolyglotModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/lib-graalpython/modules/_polyglot.py
Due: eclipseformat, checkstyle

[GR-71339] Permissions for Python Embeddings run through
  docs/user/Embedding-Permissions.md
Due: none

Disable Truffle optimizing runtime in JDK21 gates
  ci/python-gate.libsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

In JVM mode honor also BYTECODE_DSL_INTERPRETER environment variable
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

[GR-71341] GraalPy Troubleshooting run through
  docs/user/Troubleshooting.md
Due: none

release GraalVM 25.0.2
  mx.graalpython/suite.py
Due: pylint

Minor simplification for TRegexCache and SearchNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/TRegexCache.java
Due: eclipseformat, checkstyle

[GR-72465] Make sure to actually use constants for PE constant args
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/Parser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternBuiltins.java
Due: eclipseformat, checkstyle

Reapply pyarrow patch
  graalpython/lib-graalpython/patches/pyarrow-20.0.0.patch
Due: none

GraalPyArray_Data should return NULL for empty arrays
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextArrayBuiltins.java
Due: eclipseformat, checkstyle

Add missing __class_getitem__ to Pattern and Match
  graalpython/com.oracle.graal.python.test/src/tests/test_re.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/MatchBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternBuiltins.java
Due: eclipseformat, checkstyle

Tooling Support for Python run through
  docs/user/Tooling.md
Due: none

Fix test_keep_gil_around_interop
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
Due: none

Improve Bytecode DSL generators to work better with PE
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/Parser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/GeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
Due: eclipseformat, checkstyle

Fix PATH on ci
  .github/workflows/ci-matrix-gen.yml
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
Due: none

Add documentation.
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup_baseline.py
Due: none

Retag more Bytecode DSL tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_doctest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pathlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pickle.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pickletools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pkgutil.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_platform.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pyclbr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_re.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_runpy.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_shlex.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_shutil.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_strptime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_subprocess.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_tempfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_zipapp.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_zipimport_support.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/todo.sh
Due: none

Add phase shift warmup benchmark.
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup_baseline.py
Due: none

Disabled OOM/Buff Overflow tests
  .github/scripts/extract_matrix.py
Due: none

Forked from oracle/graalpython - Initial Commit with ci
  .github/scripts/extract_matrix.py
  .github/scripts/set-export
  .github/scripts/set-export.cmd
  .github/scripts/unpack-artifact
  .github/scripts/unpack-artifact.cmd
  .github/workflows/ci-matrix-gen.yml
  ci.jsonnet
  ci/python-gate.libsonnet
  graalpython/com.oracle.graal.python.test/src/tests/test_sequence_strategies.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Use succinct option format.
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup_baseline.py
Due: none

Retag more Bytecode DSL tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_argparse.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_ast.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_codecs.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_ctypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_deque.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_enum.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_fileinput.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_hmac.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_httplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_importlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_keyword.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pydoc.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_urllib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_webbrowser.txt
Due: none

Fix set-export / unpack-artifact permissions
  .github/scripts/extract_matrix.py
  .github/scripts/set-export
  .github/scripts/unpack-artifact
  .github/workflows/ci-matrix-gen.yml
Due: none

Ignore some flaky ZoneInfoTest tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_datetime.txt
Due: none

Retag more Bytecode DSL tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_re.txt
Due: none

Update TCK provider to communicate that subscripting works with types on Python
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
Due: none

Untag test failing in CI although it passes locally
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_descr.txt
Due: none

Remove transiently timing out test_threading:test_print_exception_gh_102056
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_threading.txt
Due: none

Fix test_custom_iterator_return
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix PATH error on Linux/MacOS + Update imports
  .github/workflows/ci-matrix-gen.yml
Due: none

Disable Linux aarch64 svm build
  .github/scripts/extract_matrix.py
Due: none

Construct download links using string format + Disable linux aarch64 jobs
  .github/scripts/extract_matrix.py
  .github/scripts/set-export
  .github/scripts/unpack-artifact
  .github/workflows/ci-matrix-gen.yml
Due: none

Split python-unittest-retagger to 8 batches like python-tagged-unittests
  ci.jsonnet
Due: none

Windows set-export / unpack-artifact scripts
  .github/scripts/extract_matrix.py
  .github/scripts/set-export.cmd
  .github/workflows/ci-matrix-gen.yml
  mx.graalpython/mx_graalpython.py
Due: pylint

Add build arg -Ob on libpythonvm library build
  mx.graalpython/mx_graalpython.py
Due: pylint

Add env: ${{ matrix.env }} to tier2 and 3 jobs Default PATH seems to not be evaluated even in defined in jsonnet file, manually set
  .github/workflows/ci-matrix-gen.yml
  ci/python-gate.libsonnet
Due: none

Build: disable -g and enable -Ob while GITHUB_CI env is set
  .github/scripts/extract_matrix.py
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
  mx.graalpython/mx_graalpython.py
Due: pylint

upload report.json artifact
  ci/python-gate.libsonnet
Due: none
