Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Remove unused Checkstyle import
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
Due: eclipseformat, checkstyle

[GR-79535] Increase Windows multi-context unittest timeout
  ci.jsonnet
Due: none

[GR-79461] Fix unsigned byte boxing in itertools input pools
  graalpython/com.oracle.graal.python.test/src/tests/test_itertools.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/ByteSequenceStorage.java
Due: eclipseformat, checkstyle

Run patchelf in temporary current working directory
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/ElfFile.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/PEFile.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/SharedObject.java
Due: eclipseformat, checkstyle

Push comprehension iterator to stack before first yield.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

bump graal import
  mx.graalpython/suite.py
Due: pylint

[GR-79666] Run Python JMH benchmarks on Native Image
  ci.jsonnet
  ci/constants.libsonnet
  ci/python-bench.libsonnet
  docs/contributor/CONTRIBUTING.md
  graalpython/com.oracle.graal.python.benchmarks/java/com/oracle/graal/python/benchmarks/jmh/ContextInitSharedEngineBenchmark.java
  graalpython/com.oracle.graal.python.benchmarks/java/com/oracle/graal/python/benchmarks/jmh/HostInteropMicroBenchmarks.java
  mx.graalpython/env_files.md
  mx.graalpython/jmh-agent-filter.json
  mx.graalpython/jmh-native-ce
  mx.graalpython/jmh-native-ee
  mx.graalpython/mx_graalpython_benchmark.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

[GR-79460] Fix hashing collection fast paths for subclasses
  graalpython/com.oracle.graal.python.test/src/tests/test_dict.py
  graalpython/com.oracle.graal.python.test/src/tests/test_set.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingCollectionNodes.java
Due: eclipseformat, checkstyle

Use -X jit=0 for venv etc
  graalpython/lib-python/3/ensurepip/__init__.py
  graalpython/lib-python/3/multiprocessing/resource_tracker.py
  graalpython/lib-python/3/test/test_venv.py
  graalpython/lib-python/3/venv/__init__.py
Due: none

Clear generator frame when finished
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
Due: eclipseformat, checkstyle

Mark scipy patch upstreamed
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Avoid deleting bytecode files in test process
  graalpython/com.oracle.graal.python.test/src/tests/test_load_bytecode_file.py
  graalpython/com.oracle.graal.python.test/src/tests/test_reparse.py
  graalpython/com.oracle.graal.python.test/src/tests/util.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_generators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_generators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_generators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
Due: none

Keep source alive in leak test
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/LeakTest.java
Due: eclipseformat, checkstyle

Add a leak tests for importing a module without bytecode
  mx.graalpython/mx_graalpython.py
Due: pylint

Add a mx command for running all leak tests (without junit tests)
  mx.graalpython/mx_graalpython.py
Due: pylint

Add marker file to frozen module build
  mx.graalpython/mx_graalpython.py
Due: pylint

Inline only relevant parts of CompileNode into compile_import_source
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Evict source target cache entries superseded by bytecode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
Due: eclipseformat, checkstyle

Set dont_inherit for compile_import_source
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/lib-python/3/importlib/_bootstrap_external.py
Due: eclipseformat, checkstyle

Cache CallTargets for source compilations in multi-context mode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/lib-python/3/importlib/_bootstrap_external.py
Due: eclipseformat, checkstyle

Store child root nodes on parent bytecode root
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Update imports
  ci/graal/common.json
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_generators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
Due: none

[GR-79461] Simplify itertools byte combinatorics tests
  graalpython/com.oracle.graal.python.test/src/tests/test_itertools.py
Due: none

[GR-79460] Remove hashing storage string fast path
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingCollectionNodes.java
Due: eclipseformat, checkstyle

Add option EnableAbi3t
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Add ext suffixes for abi3t
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/StringLiterals.java
Due: eclipseformat, checkstyle

Extract common error message
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
Due: eclipseformat, checkstyle

Add ABI param to CApiBuiltin
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
Due: eclipseformat, checkstyle

Add ABI3T native export audit
  abi/abi3t-linux.txt
  abi/abi3t-missing-linux.txt
  mx.graalpython/mx_graalpython.py
  scripts/generate_abi3t_manifest.py
Due: pylint

Eliminate obsolete CExtContext
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/cext/CExtContextTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/CFunctionDocUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextMethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/MethodDescriptorWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyCFunctionWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyMethodFlags.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PBuiltinFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Remove unused CApiContext.dlopenFlagsToString
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
Due: eclipseformat, checkstyle

Add optional abi3t wheel installation support
  .gitignore
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abi3t.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  graalpython/lib-graalpython/patches/pip-26.1.2.patch
  graalpython/lib-python/3/ensurepip/_bundled/pip-26.1.2-py3-none-any.whl
Due: eclipseformat, checkstyle

Remove unused ReferenceStack
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/ReferenceStack.java
Due: eclipseformat, checkstyle

Add _imp multi-interpreter extension check override
  graalpython/com.oracle.graal.python.test/src/tests/test_imports.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Unify module method installation
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abi3t.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_module.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextMethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
Due: eclipseformat, checkstyle

Make C API signature validation ABI-aware
  abi/abi3t-linux.txt
  capi-abis.toml
  graalpython/com.oracle.graal.python.cext/CAPIFunctions-ABI3T.txt
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  mx.graalpython/mx_graalpython.py
  scripts/csignature.py
  scripts/generate_abi3t_manifest.py
Due: eclipseformat, checkstyle, pylint
