Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Use build type Release by default for C API
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  mx.graalpython/suite.py
Due: pylint

Tmp workflow retagger filter
  .github/workflows/ci-unittest-retagger.yml
Due: none

Extract PR test to a single workflow
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittests.yml
Due: none

Fix: keep string wrapper alive
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotGetAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotSetAttr.java
Due: eclipseformat, checkstyle

Fix: remove weakly referenced objects from GC lists.
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_gc.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiGCSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

rm redundant check
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

PR workflow, rename job
  .github/workflows/ci-unittests.yml
Due: none

improve tracing on bytecode DSL
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_sys_settrace.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/RaiseNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PException.java
Due: eclipseformat, checkstyle

Allow retagger fiter for windows
  .github/scripts/extract_matrix.py
  .github/workflows/ci-unittest-retagger.yml
Due: none

Fix Windows build
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  ci.jsonnet
  ci/graal/ci/common.jsonnet
  ci/python-gate.libsonnet
  graalpython/com.oracle.graal.python.test/src/runner.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Run retagger on Linux aarch64
  .github/workflows/ci-unittest-retagger.yml
  .github/workflows/ci-unittests.yml
Due: none

unpack-artifact.cmd
  .github/scripts/unpack-artifact.cmd
Due: none

Fix Windows arch name in retagger merge
  .github/workflows/ci-unittest-retagger.yml
Due: none

Run PR tests on synchronize
  .github/workflows/ci-unittests.yml
Due: none

disable tests on draft
  .github/workflows/ci-unittests.yml
Due: none

Clean some debugs
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/com.oracle.graal.python.test/src/tests/test_sequence_strategies.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix GITHUB_CI not set on merge job
  .github/workflows/ci-unittest-retagger.yml
Due: none

Rm redundant check
  .github/scripts/merge_retagger_results.py
Due: none

Set build allocated memory relative system's available
  mx.graalpython/mx_graalpython.py
Due: pylint

Open PR on weekly retagger (#8)
  .github/workflows/ci-unittest-retagger.yml
Due: none

Add retagger label to PR
  .github/workflows/ci-unittest-retagger.yml
Due: none

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Bytecode DSL: fixes for the coverage package
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/ExceptionUtils.java
Due: eclipseformat, checkstyle

Unignore passing junit tests, fix: correctly ignore Bytecode DSL in ProfileTests
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/grammar/AsyncTests.java
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/runtime/ProfileTests.java
Due: eclipseformat, checkstyle

Remove debugs
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittest-retagger.yml
  graalpython/com.oracle.graal.python.test/src/runner.py
  mx.graalpython/mx_graalpython.py
Due: pylint

GraalPy Python unit tests use dedicated helpers to ignore Bytecode DSL/Manual interpreter tests
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_shutdown.py
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
  graalpython/com.oracle.graal.python.test/src/tests/test_generators.py
  graalpython/com.oracle.graal.python.test/src/tests/test_pdb.py
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
  graalpython/com.oracle.graal.python.test/src/tests/test_venv.py
  graalpython/com.oracle.graal.python.test/src/tests/util.py
Due: none

Forked from oracle/graalpython - Initial Commit with ci
  .github/scripts/extract_matrix.py
  .github/scripts/set-export
  .github/scripts/set-export.cmd
  .github/scripts/unpack-artifact
  .github/scripts/unpack-artifact.cmd
  .github/workflows/ci-matrix-gen.yml
  ci.jsonnet
  ci/python-gate.libsonnet
  graalpython/com.oracle.graal.python.test/src/tests/test_sequence_strategies.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Fix set-export / unpack-artifact permissions
  .github/scripts/extract_matrix.py
  .github/scripts/set-export
  .github/scripts/unpack-artifact
  .github/workflows/ci-matrix-gen.yml
Due: none

Disabled OOM/Buff Overflow tests
  .github/scripts/extract_matrix.py
Due: none

Add phase shift warmup benchmark.
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup_baseline.py
Due: none

Use succinct option format.
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup_baseline.py
Due: none

Add documentation.
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup_baseline.py
Due: none

Fix PATH on ci
  .github/workflows/ci-matrix-gen.yml
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
Due: none

Retag more Bytecode DSL tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_argparse.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_ast.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_codecs.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_ctypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_deque.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_enum.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_fileinput.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_hmac.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_httplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_importlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_keyword.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pydoc.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_urllib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_webbrowser.txt
Due: none

Retag more Bytecode DSL tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_doctest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pathlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pickle.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pickletools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pkgutil.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_platform.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pyclbr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_re.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_runpy.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_shlex.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_shutil.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_strptime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_subprocess.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_tempfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_zipapp.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_zipimport_support.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/todo.sh
Due: none

Fix test_custom_iterator_return
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Untag test failing in CI although it passes locally
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_descr.txt
Due: none

Retag more Bytecode DSL tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_re.txt
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
