Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Enable LZMA filename tests on Windows
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_lzma.txt
Due: none

Preserve logical LZMA input length
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/lzma/LZMADecompressorBuiltins.java
Due: eclipseformat, checkstyle

Add Windows section to contributor readme
  docs/contributor/CONTRIBUTING.md
Due: none

Fix @TruffleBoundary transitions in date/time modules
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/deque/DequeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLCipherSelector.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
Due: none

Fix select timeout test on Java POSIX backend
  graalpython/com.oracle.graal.python.test/src/tests/test_select.py
Due: none

Restore all JLine signal handlers
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/JLineConsoleHandler.java
Due: eclipseformat, checkstyle

Fix test worker interruption on Windows
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Hide fcntl on Windows
  graalpython/com.oracle.graal.python.test/src/tests/test_fcntl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/CoreFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/FcntlModuleBuiltins.java
Due: eclipseformat, checkstyle

Install paatch for Cargo autopatch tests on Windows
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_cargo.py
Due: none

Remove unnecessary field GraalPyUnicodeObject.byte_length
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GraalPyUnicodeObjectUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
Due: eclipseformat, checkstyle

Fix handling surrogates in PyUnicodeEncodeFSDefaultNode
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/socket/SocketNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyUnicodeEncodeFSDefaultNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyUnicodeFSDecoderNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
Due: eclipseformat, checkstyle

Cache utf8 data in native companion
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GraalPyUnicodeObjectUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/PString.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
Due: eclipseformat, checkstyle

Limit stack size for JSON tests on Windows
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/lib-python/3/test/conftest.toml
Due: none

Fix handling errors in ConstCharPtrAsTruffleString conversions
  graalpython/com.oracle.graal.python.cext/src/abstract.c
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextAbstractBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextImportBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Remove PThread class
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextPyStateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/PSemLock.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/SemLockBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PRLock.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PThread.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PThreadHandle.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Fix handling surrogates in emulated backend paths
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
Due: eclipseformat, checkstyle

Fix missing frame when calling codecs decode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallBinaryMethodNode.java
Due: eclipseformat, checkstyle

Clean up pystate.c
  graalpython/com.oracle.graal.python.cext/src/pystate.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Remove unapplicable assertion
  graalpython/com.oracle.graal.python.cext/modules/pyexpat.c
Due: none

Add macro bench for cythonizing
  graalpython/com.oracle.graal.python.benchmarks/python/macro/c-cythonize-numpy.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Remove test for decref in a global destructor
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/module_with_native_destructor.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_shutdown.py
Due: none

Fix f_locals materialization of current frame locals
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
Due: eclipseformat, checkstyle

Fix hardcoded python version in mx_graalpython_graalos
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

Add changelog entry
  CHANGELOG.md
Due: none

Fix positional-only code object argument count
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_codeobject.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
Due: eclipseformat, checkstyle

Remove hpy gate
  ci.jsonnet
Due: none

Fix test_shutdown
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_shutdown.py
  graalpython/com.oracle.graal.python.test/src/tests/test_threading.py
Due: none

Add Pydantic macro benchmarks
  graalpython/com.oracle.graal.python.benchmarks/python/macro/c-pydantic-schema-build.py
  graalpython/com.oracle.graal.python.benchmarks/python/macro/c-pydantic-serialize-json.py
  graalpython/com.oracle.graal.python.benchmarks/python/macro/c-pydantic-validate-callbacks.py
  graalpython/com.oracle.graal.python.benchmarks/python/macro/c-pydantic-validate-json.py
  graalpython/com.oracle.graal.python.benchmarks/python/macro/c-pydantic-validation-errors.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Enable utimensat on Darwin
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstantsDarwin.java
  graalpython/python-libposix/src/posix.c
  scripts/gen_native_cfg.py
Due: eclipseformat, checkstyle

Reduce patch branch CI to patch check
  ci.jsonnet
Due: none

Add patch for urllib3
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/urllib3-2.7.patch
Due: none

Prefer local Maven artifacts in integration gates
  mx.graalpython/mx_graalpython.py
Due: pylint

Use CPython from CI module
  ci.jsonnet
  ci/constants.libsonnet
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
Due: none

Skip SSL tests that don't work on OpenSSL 1
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
Due: none

Use local Maven settings for extension builds
  mx.graalpython/mx_graalpython.py
Due: pylint

Add fast-paths for calling nilary/unary/binary/ternary/quaternary Python functions
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/AbstractCallMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallBinaryMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallQuaternaryMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallTernaryMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallUnaryMethodNode.java
Due: eclipseformat, checkstyle

Stop forwarding removed string inlining option.
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Update version strings
  .github/workflows/platforms-tests.yml
  docs/user/Embedding-Build-Tools.md
  docs/user/Embedding-Getting-Started.md
  docs/user/Interoperability.md
  docs/user/Standalone-Getting-Started.md
  graalpython/com.oracle.graal.python.test.integration/pom.xml
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_pominit.py
  pom.xml
  scripts/wheelbuilder/README.md
Due: pylint

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
