Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Clean test C ext build dir to prevent picking up stale extensions
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
Due: none

Fix python version in README
  README.md
  docs/user/Python-Runtime.md
Due: none

Remove c-issubtype-polymorphic-forced-to-native benchmark, it's pointless without Sulong
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-issubtype-polymorphic-forced-to-native.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Remove outdated doc paragraph
  docs/user/Embedding-Permissions.md
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Fix missing frame escaping of traceback frames
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/TracebackBuiltins.java
Due: eclipseformat, checkstyle

Remove infrequent fast paths from list creation
  graalpython/com.oracle.graal.python.test/src/tests/test_list.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/ListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/SequenceFromStackNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/SequenceStorageFactory.java
Due: eclipseformat, checkstyle

removing PBytecodeDSLRootNode.getSource to instead use PBytecodeDSLRootNodeGen.getSource
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Splitting GraalPy documentation for JVM and Python audiences
  README.md
  docs/site/01-docs.md
  docs/site/01-python-developers.md
  docs/site/02-downloads.md
  docs/site/02-java-developers.md
  docs/site/03-compatibility.md
  docs/site/docs-redirect.md
  docs/site/index.md
  docs/user/Embedding-Build-Tools.md
  docs/user/Embedding-Getting-Started.md
  docs/user/Embedding-Permissions.md
  docs/user/Interoperability.md
  docs/user/Native-Images-with-Python.md
  docs/user/Platform-Support.md
  docs/user/Python-Runtime.md
  docs/user/Python-Standalone-Applications.md
  docs/user/Python-on-JVM.md
  docs/user/README.md
  docs/user/Standalone-Getting-Started.md
  docs/user/Test-Tiers.md
  docs/user/Tooling.md
  docs/user/Troubleshooting.md
  docs/user/Version-Compatibility.md
  mx.graalpython/suite.py
Due: pylint

Fix wrong buffer release
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codeccallbacks.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecs.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibyteIncrementalEncoderBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/CodecsRegistry.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/UnicodeErrorBuiltins.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Split website for two audiences: Python and Java developers
  docs/site/01-jvm-developers.md
  docs/site/01-python-developers.md
  docs/site/02-downloads.md
  docs/site/02-jvm-developers-docs.md
  docs/site/02-python-developers-docs.md
  docs/site/03-jvm-developers-compatibility.md
  docs/site/03-python-developers-compatibility.md
  docs/site/_config.yml
  docs/site/assets/img/python/info-icon.svg
  docs/site/assets/img/python/pyenv-badge.svg
  docs/site/assets/img/python/uv-badge.svg
  docs/site/docs-redirect.md
  docs/site/index.md
  docs/user/Python-on-JVM.md
  docs/user/README.md
Due: none

Initialize native thread state before downcall
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Tighten native thread state fallback
  graalpython/com.oracle.graal.python.cext/src/pystate.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextPyStateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Add C API init regression test
  graalpython/com.oracle.graal.python.test/src/tests/test_capi_init.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Add comment about restrictions
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PThreadState.java
Due: eclipseformat, checkstyle

Fix runner crash on github
  graalpython/lib-python/3/test/test_asyncio/test_runners.py
Due: none

Prepare GraalPy site for graalpy.org root hosting
  docs/site/01-python-developers.md
  docs/site/03-jvm-developers-compatibility.md
  docs/site/03-python-developers-compatibility.md
  docs/site/CNAME
  docs/site/_config.yml
  docs/site/docs-redirect.md
Due: none

Fix cjk codec import exception behavior: raise ImportError (not LookupError)
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsCNModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsHKModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsISO2022ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsJPModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsKRModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsTWModuleBuiltins.java
Due: eclipseformat, checkstyle

Update OS version of Darwin CI jobs.
  ci/python-gate.libsonnet
Due: none

Update imports
  ci/graal/ci/common.jsonnet
  mx.graalpython/suite.py
Due: pylint

[GR-74513] Raise ImportError for missing multibyte cjk codecs
  graalpython/com.oracle.graal.python.test/src/tests/test_codecs.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsCNModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsHKModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsISO2022ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsJPModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsKRModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsTWModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-74513] Limit missing codec regression to GraalPy semantics
  graalpython/com.oracle.graal.python.test/src/tests/test_codecs.py
Due: none

[GR-74513] Raise ImportError when unsupported cjk codec modules import
  graalpython/com.oracle.graal.python.test/src/tests/test_codecs.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsCNModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsHKModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsISO2022ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsJPModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsKRModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/CodecsTWModuleBuiltins.java
  graalpython/lib-python/3/encodings/euc_jis_2004.py
  graalpython/lib-python/3/encodings/euc_jisx0213.py
  graalpython/lib-python/3/encodings/iso2022_jp_1.py
  graalpython/lib-python/3/encodings/iso2022_jp_2004.py
  graalpython/lib-python/3/encodings/iso2022_jp_3.py
  graalpython/lib-python/3/encodings/iso2022_jp_ext.py
  graalpython/lib-python/3/encodings/shift_jis_2004.py
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_isinstance.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
Due: none

Revert "Add C API init regression test"
  graalpython/com.oracle.graal.python.test/src/tests/test_capi_init.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix datetime %Z parsing
  graalpython/com.oracle.graal.python.test/src/tests/test_datetime.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
Due: eclipseformat, checkstyle

Align multibyte codec aliases with actual JDK support
  graalpython/com.oracle.graal.python.test/src/tests/test_codecs.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/CharsetMapping.java
  graalpython/lib-python/3/encodings/aliases.py
Due: eclipseformat, checkstyle

Fix gethostbyname_ex error type
  graalpython/com.oracle.graal.python.test/src/tests/test_socket.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SocketModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-74718] Update vendored XZ to 5.8.3
  THIRD_PARTY_LICENSE.txt
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/module/LzmaTests.java
  graalpython/python-liblzma/CMakeLists.txt
  graalpython/python-liblzma/config.h
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Adjust the benchmark files to the PolyBench contract.
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/3d_surface_wireframe.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/categorical_bar_and_box.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/distributions_hist_2d.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/polar_quiver_stream.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/run_all_matplotlib_demos_inproc.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/simple_line_plot.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/subplots_and_styles.py
  mx.graalpython/OWNERS.toml
  mx.graalpython/polybench-stable-run-config.json
  mx.graalpython/suite.py
Due: pylint

Add the benchmark files as-is from the issue description.
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/3d_surface_wireframe.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/OWNERS.toml
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/categorical_bar_and_box.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/distributions_hist_2d.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/polar_quiver_stream.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/run_all_matplotlib_demos_inproc.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/simple_line_plot.py
  graalpython/com.oracle.graal.python.benchmarks/python/matplotlib/subplots_and_styles.py
Due: none

release GraalVM 25.0.3
  mx.graalpython/suite.py
Due: pylint

Add regression test for strftime timezone mismatch
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/modules/TimeModuleTests.java
Due: eclipseformat, checkstyle

[GR-74747] Use tzset timezone for time.strftime
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TimeModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-74749] Treat foreign host buffers as Python buffers
  docs/user/Interoperability.md
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/interop/HostInteropTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/buffer/ForeignBufferAcquireExports.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/buffer/PythonBufferAcquireLibrary.java
Due: eclipseformat, checkstyle

Update Ruby gems via `bundle update`.
  docs/site/Gemfile.lock
Due: none

Always un CI on workflow dispatch, skip on draft, otherwise run
  .github/workflows/ci-unittests.yml
Due: none

Always run CI if changes in .github or suite.py
  .github/workflows/ci-unittests.yml
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
