Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Remove/rename usages of "graal_common" in CI files
  ci/constants.libsonnet
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
  ci/utils.libsonnet
Due: none

Use the correct EE labsjdk for EE CI jobs and do not use graal common at all
  ci.jsonnet
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
Due: none

[GR-68498] Fix the magic-iter.py benchmark
  graalpython/com.oracle.graal.python.benchmarks/python/micro/magic-iter.py
Due: none

Use InlinedConditionProfile in MergedObjectTypeModuleGetAttributeInnerNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/ModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/ThreadLocalBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/MergedObjectTypeModuleGetAttributeNode.java
Due: eclipseformat, checkstyle

Address Python deprecation warning
  mx.graalpython/verify_patches.py
Due: pylint

Fix autopatch_capi overruning into preprocessor directives
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_capi.py
  graalpython/lib-graalpython/modules/autopatch_capi.py
Due: none

Add more logging to test standalone
  graalpython/com.oracle.graal.python.test/src/tests/standalone/test_standalone.py
Due: none

Intrinsify filter builtin
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/filter/FilterBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/filter/PFilter.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
  graalpython/lib-graalpython/builtins.py
Due: eclipseformat, checkstyle

Intrinsify input builtin
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python.test/src/tests/test_startup.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/lib-graalpython/builtins.py
Due: eclipseformat, checkstyle

Call iternext directly in map/filter
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/filter/FilterBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/map/MapBuiltins.java
Due: eclipseformat, checkstyle

Pin HPy build dependencies versions
  graalpython/com.oracle.graal.python.test/src/tests/standalone/constraints.txt
  graalpython/hpy/pyproject.toml
Due: none

Pin build dependencies versions in test_standalone
  graalpython/com.oracle.graal.python.test/src/tests/standalone/constraints.txt
  graalpython/com.oracle.graal.python.test/src/tests/standalone/test_standalone.py
Due: none

refactor: ask user permission before each package installation
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Update graal import
  ci/graal/ci/ci_common/common.jsonnet
  ci/graal/ci/ci_common/run-spec-tools.libsonnet
  ci/python-gate.libsonnet
  mx.graalpython/suite.py
Due: pylint

Integrate with new polybench setup
  benchmarks/interpreter/deltablue.py
  benchmarks/interpreter/fibonacci.py
  benchmarks/interpreter/pyinit.py
  benchmarks/interpreter/richards.py
  benchmarks/interpreter/sieve.py
  benchmarks/warmup/pyflate-fast.py
  benchmarks/warmup/raytrace.py
  mx.graalpython/copyrights/overrides
  mx.graalpython/mx_graalpython_benchmark.py
  mx.graalpython/polybench-fork-counts.json
  mx.graalpython/suite.py
  pyproject.toml
Due: pylint

Distinguish system packages from Python packages in install prompts
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Profile the loop in map iternext
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/map/MapBuiltins.java
Due: eclipseformat, checkstyle

Use released uv in downstream tests
  .github/workflows/downstream-tests.yml
Due: none

[GR-68626] Only use PGO on GraalVM 25+
  mx.graalpython/mx_graalpython.py
Due: pylint

Add downstream test for jiter
  .github/workflows/downstream-tests.yml
  mx.graalpython/downstream_tests.py
Due: pylint

Move graalpy-website-build to tier1
  ci.jsonnet
Due: none

Fix setting time.tzname when the timezone has no DST
  graalpython/com.oracle.graal.python.test/src/tests/test_time.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TimeModuleBuiltins.java
Due: eclipseformat, checkstyle

Allow EACCESS in SocketTests#dgramListen
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/SocketTests.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/ci/ci_common/common.jsonnet
  mx.graalpython/suite.py
Due: pylint

update tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_os.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Remove aliases for codecs we don't have
  graalpython/com.oracle.graal.python.test/src/tests/test_codecs.py
  graalpython/lib-python/3/encodings/aliases.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Implement unicodedata.decomposition
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/UnicodeDataModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/function/builtins/clinic/CodePointConversionNode.java
Due: eclipseformat, checkstyle

Add reflection config for ICU4J encodings we use
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/reflect-config.json
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Update tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecencodings_cn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_strptime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_time.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Fix multiple zlib decoding bugs
  graalpython/com.oracle.graal.python.test/src/tests/test_zlib.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/JavaDecompress.java
Due: eclipseformat, checkstyle

Fix handling negative max_length of zlib decompressor
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/JavaDecompress.java
Due: eclipseformat, checkstyle

Add CompressionModulesBackend context option to be able to prefer java impls
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIBz2Support.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFILZMASupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIZlibSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Adjusting onnxruntime-1.17.1 patch to work on MacOS
  graalpython/lib-graalpython/patches/onnxruntime-1.17.1.patch
Due: none

[GR-68827]: Adjusting onnxruntime-1.17.1 patch to work on MacOS
  graalpython/lib-graalpython/patches/onnxruntime-1.17.1.patch
Due: none

Run sandboxed tests with java compression backend
  graalpython/com.oracle.graal.python.test/src/tests/test_zlib.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/lib-python/3/test/test_zlib.py
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Default to native compression backend on standalone
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
