Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Make threading shutdown work with thread handles
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PThreadHandle.java
  graalpython/lib-python/3/threading.py
Due: eclipseformat, checkstyle

Implement new borrowed-reference APIs
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_ceval.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_dict.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCEvalBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Warn on booleans passed to FD arguments
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/FaulthandlerModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/IONodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectAsFileDescriptor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Suppress deprecation around PyWeakref_GetObject
  graalpython/com.oracle.graal.python.cext/include/cpython/weakrefobject.h
Due: none

Prevent an enclosing class attribute from replacing a type parameter
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Remove restriction on comprehensions in annotation scopes
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/scope/ScopeEnvironment.java
Due: eclipseformat, checkstyle

Implement property.__name__
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/property/PropertyBuiltins.java
Due: eclipseformat, checkstyle

Add parameter names to list.count
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/ListBuiltins.java
Due: eclipseformat, checkstyle

Fix __new__ wrapper error message for immutable classes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/function/builtins/WrapTpNew.java
Due: eclipseformat, checkstyle

Use uppercase hexadecimals in unicodedata decomposition
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/UnicodeDataModuleBuiltins.java
Due: eclipseformat, checkstyle

Add a warning to partial.__get__
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/functools/PartialBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Update staticmethod/classmethod docstrings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
Due: eclipseformat, checkstyle

Fix partial.__repr__ and __setstate__
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/functools/PartialBuiltins.java
Due: eclipseformat, checkstyle

Update math.log algorithm for large integers
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
Due: eclipseformat, checkstyle

Update int conversion limit error message
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add common.json symlink to ci/graal/common.json so mx --java-home=lookup:default works out of the box
  common.json
Due: none

Do not @StoreBytecodeIndex for GetAttribute.doInstanceValue
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Add PythonIntToLongTypes for arithmetic fast paths
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/fastpath/PyNumberAddFastPathsBase.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/fastpath/PyNumberMultiplyFastPathsBase.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/fastpath/PyNumberRemainderFastPathsBase.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/fastpath/PyNumberSubtractFastPathsBase.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/fastpath/PyNumberTrueDivideFastPathsBase.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/truffle/PythonIntToLongTypes.java
Due: eclipseformat, checkstyle

AGENTS.md: use --java-home=lookup:default
  AGENTS.md
Due: none

Strong type for native stubs lookup table
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/PythonAbstractObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Disable validating lineno vs co_lines in test_sys_settrace for now
  graalpython/lib-python/3/test/test_sys_settrace.py
Due: none

Untag test_pdb tests that don't see location for pass statement
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
Due: none

Add test for PyImport_AddModuleRef
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_import.py
Due: none

Don't peristently enable JLine signal handlers
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/JLineConsoleHandler.java
Due: eclipseformat, checkstyle

Add HOSTFLAG_NEVER_CHECK_SUBJECT to ssl
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SSLModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/PSSLContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLContextBuiltins.java
Due: eclipseformat, checkstyle

Update junit test expectations
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/modules/DirFdConversionNodeTests.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/modules/FileDescriptorConversionNodeTests.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/modules/PathConversionNodeTests.java
Due: eclipseformat, checkstyle

Remove bogus assertion
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
Due: eclipseformat, checkstyle

Update leak check
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix error rule propagation in parser generator
  graalpython/com.oracle.graal.python.pegparser.generator/pegjava/java_generator.py
Due: none

Regenerate parser
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/Parser.java
Due: eclipseformat, checkstyle

Fix syntax errors quitting the REPL
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
Due: eclipseformat, checkstyle

Read platform-specific soext&multiarch from platform-specific resource
  graalpython/com.oracle.graal.python.resources/pom.xml
  graalpython/com.oracle.graal.python.resources/src/META-INF/services/com.oracle.graal.python.runtime.platform.GraalPyPlatformInfoProvider
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/GraalPyPlatformInfoProviderImpl.java
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/PythonResource.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/platform/GraalPyPlatformInfoProvider.java
  graalpython/graalpy-versions/CMakeLists.txt
  mx.graalpython/suite.py
  pom.xml
Due: eclipseformat, checkstyle, pylint

Add ENOTSUP manually
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/OSErrorEnum.java
Due: eclipseformat, checkstyle

Add src_gen folders to generated pom.xml files
  graalpython/com.oracle.graal.python.annotations/pom.xml
  graalpython/com.oracle.graal.python.bouncycastle/pom.xml
  graalpython/com.oracle.graal.python.pegparser/pom.xml
  graalpython/com.oracle.graal.python.processor/pom.xml
  graalpython/com.oracle.graal.python.resources/pom.xml
  graalpython/com.oracle.graal.python.shell/pom.xml
  graalpython/com.oracle.graal.python/pom.xml
  mx.graalpython/mx_pominit.py
  pom.xml
Due: pylint

Update numpy patch
  graalpython/lib-graalpython/patches/numpy-2.4.4.patch
Due: none

[GR-77512] Fix bytes.strip matching the wrong whitespace category
  graalpython/com.oracle.graal.python.test/src/tests/test_bytes.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
Due: eclipseformat, checkstyle

[GR-76975] Fix re.sub missing terminal empty-match replacement after a consuming match
  graalpython/com.oracle.graal.python.test/src/tests/test_re.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternBuiltins.java
Due: eclipseformat, checkstyle

[GR-77539] Remove incorrect tp_str overrides in float, int, and bool
  graalpython/com.oracle.graal.python.test/src/tests/test_repr.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bool/BoolBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/floats/FloatBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

[GR-76941] Support installed CPython layout in benchmark builds
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

Remove patches for tensorflow, ray and catboost
  README.md
  graalpython/lib-graalpython/patches/catboost-1.2.2.patch
  graalpython/lib-graalpython/patches/catboost-1.2.3.patch
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/protobuf-3.21.9.patch
  graalpython/lib-graalpython/patches/ray-2.3.0.patch
  graalpython/lib-graalpython/patches/ray-2.9.1.patch
  graalpython/lib-graalpython/patches/tensorflow-2.14.0.patch
  graalpython/lib-graalpython/patches/tensorflow-2.15.0.patch
  graalpython/lib-graalpython/patches/tensorflow-io-0.34.0.patch
  graalpython/lib-graalpython/patches/tensorflow-io-gcs-filesystem-0.34.0.patch
  scripts/wheelbuilder/linux/tensorflow.sh
Due: none
