Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Remove bytecode cell argument maps
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
Due: eclipseformat, checkstyle

Fix the overlay revision
  ci.jsonnet
Due: none

Enable GraalOS standalone runtime codegen
  graalpython/graalpy_graalos_standalone_payload/config.json
Due: none

[GR-64013] Extract BouncyCastle dependency and make it optional.
  CHANGELOG.md
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/native-image.properties
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/reflect-config.json
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/services/com.oracle.graal.python.runtime.crypto.BouncyCastleSupport
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleFeature.java
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleSupportImpl.java
  graalpython/com.oracle.graal.python.test/src/tests/ssldata/cert_dsa.pem
  graalpython/com.oracle.graal.python.test/src/tests/ssldata/pk_dsa_legacy.pem
  graalpython/com.oracle.graal.python.test/src/tests/ssldata/pk_ecc_legacy.pem
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/reflect-config.json
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/BouncyCastleFeature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SSLModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLCipherSelector.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLContextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLOperationNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonCryptoFeature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/crypto/BouncyCastleSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/crypto/BouncyCastleSupportProvider.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

[GR-74994] Update Bouncy Castle to 1.84 and make standalone packaging optional
  THIRD_PARTY_LICENSE.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_strptime.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Fix style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/Validator.java
Due: eclipseformat, checkstyle

[GR-75462] Update 25.0 Graal suite imports
  mx.graalpython/suite.py
Due: pylint

[GR-75462] Update website theme lockfile
  docs/site/Gemfile.lock
Due: none

[GR-75462] Use Git source for website theme
  docs/site/Gemfile.lock
Due: none

[GR-75462] Fix CI staging deploy command default
  ci.jsonnet
Due: none

[GR-75462] Use argfile for Windows libpythonvm build
  mx.graalpython/mx_graalpython.py
Due: pylint

Update imports
  ci/graal/ci/ci_common/common.jsonnet
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
Due: none

For now, only hard fail graalos gate on master where we can fix it
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

[GR-76801] Fix building a GraalVM enterprise JDK when the sibling suite is not called graal-enterprise.
  mx.graalpython/mx_graalpython.py
Due: pylint

Pin specific graalos versions
  mx.graalpython/graalos_versions.json
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

Guard short attribute names in fast lookup
  graalpython/com.oracle.graal.python.test/src/tests/test_object.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectLookupAttr.java
Due: eclipseformat, checkstyle

Validate super first argument
  graalpython/com.oracle.graal.python.test/src/tests/test_super.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/superobject/SuperBuiltins.java
Due: eclipseformat, checkstyle

Handle bytearray from None
  graalpython/com.oracle.graal.python.test/src/tests/test_bytes.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/ByteArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesNodes.java
Due: eclipseformat, checkstyle

Disable _winapi import in multiprocessing for now
  graalpython/lib-python/3/multiprocessing/connection.py
Due: none

[GR-74172] Remove graalpy multiprocessing backend
  graalpython/com.oracle.graal.python.test/src/tests/conftest.toml
  graalpython/com.oracle.graal.python.test/src/tests/test_multiprocessing_graalpy.py
  graalpython/com.oracle.graal.python.test/src/tests/timings-darwin.json
  graalpython/com.oracle.graal.python.test/src/tests/timings-linux.json
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_graalpy.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/GraalPySemLockBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/MultiprocessingGraalPyModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/PGraalPySemLock.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/SemLockBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
  graalpython/lib-python/3/multiprocessing/connection.py
  graalpython/lib-python/3/multiprocessing/context.py
  graalpython/lib-python/3/multiprocessing/popen_truffleprocess.py
  graalpython/lib-python/3/multiprocessing/process.py
  graalpython/lib-python/3/multiprocessing/queues.py
  graalpython/lib-python/3/multiprocessing/resource_tracker.py
  graalpython/lib-python/3/multiprocessing/synchronize.py
  graalpython/lib-python/3/multiprocessing/util.py
  graalpython/lib-python/3/test/_test_multiprocessing.py
  graalpython/lib-python/3/test/conftest.toml
  graalpython/lib-python/3/test/test_multiprocessing_graalpy.py
Due: eclipseformat, checkstyle

Make thread pools work without multiprocessing semaphores
  graalpython/lib-python/3/multiprocessing/pool.py
Due: none

Accept 143 exit code in multiprocessing test
  graalpython/lib-python/3/test/_test_multiprocessing.py
Due: none

Skip multiprocessing test on java posix backend
  graalpython/com.oracle.graal.python.test/src/tests/test_entropy_subprocess.py
  graalpython/com.oracle.graal.python.test/src/tests/test_multiprocessing.py
Due: none

Update Python inlined files: 3.13.14
  graalpython/com.oracle.graal.python.cext/modules/_cpython_struct.c
  graalpython/com.oracle.graal.python.cext/modules/clinic/_struct.c.h
Due: none

Drop files removed upstream
  mx.graalpython/copyrights/overrides
  mx.graalpython/mx_graalpython_import.py
Due: pylint

Temporarily disable GraalPy GraalOS standalone build
  ci.jsonnet
Due: none

Accept native tuple integer ratios
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaBuiltins.java
Due: eclipseformat, checkstyle

Make CallErrorCallbackNode an inline node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibyteCodecUtil.java
Due: eclipseformat, checkstyle

Remove GetNativeTupleStorage node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTupleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/BaseExceptionGroupBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/TupleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/TupleNodes.java
Due: eclipseformat, checkstyle

Some "surrogateescape" fixups
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
Due: eclipseformat, checkstyle

Propagate type TruffleString for "errors"
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibyteCodecUtil.java
Due: eclipseformat, checkstyle

Honor native tuple in SplitLongToSAndNsNode
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_tuple.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
Due: eclipseformat, checkstyle

Accept native tuples in warning filters
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WarningsModuleBuiltins.java
Due: eclipseformat, checkstyle

Accept native decoder state tuples
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/TextIOWrapperBuiltins.java
Due: eclipseformat, checkstyle

Accept native tuple fds in fork_exec
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixSubprocessModuleBuiltins.java
Due: eclipseformat, checkstyle

Don't use node to read item of NativeByteSequenceStorage
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
Due: eclipseformat, checkstyle

Add TruffleBoundary to setState methods
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/CombinationsBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/CycleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/GroupByBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/itertools/TeeBuiltins.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
