Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Remove FrameInfo#getYieldFrom, fix more tracing tests.
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/BytecodeFrameInfo.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/FrameInfo.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLFrameInfo.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/lib-python/3/test/test_sys_settrace.py
Due: eclipseformat, checkstyle

Update imports
  mx.graalpython/suite.py
Due: pylint

Replace CheckAndLoadLocal with illegalLocalException
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PException.java
Due: eclipseformat, checkstyle

Exclude entire scripts folder from black formatting
  pyproject.toml
Due: none

Use more efficient impl for `math.frexp()`.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
Due: eclipseformat, checkstyle

Use `XSum` port for `math.fsum()`.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/XSum.java
  mx.graalpython/copyrights/overrides
  mx.graalpython/copyrights/xsum.copyright.star
  mx.graalpython/copyrights/xsum.copyright.star.regex
Due: eclipseformat, checkstyle

Add Cython to downstream tests
  mx.graalpython/downstream_tests.py
Due: pylint

Add Cython to CI downstream tests
  .github/workflows/downstream-tests.yml
Due: none

Fix cython env typo
  mx.graalpython/downstream_tests.py
Due: pylint

Adapt `XSum` to CPython semantics.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/XSum.java
Due: eclipseformat, checkstyle

Replace profiling with loop count reporting.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
Due: eclipseformat, checkstyle

Inline `PyIterNextNode` for interp performance.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
Due: eclipseformat, checkstyle

Ensure loopCounts never overflow.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/functools/FunctoolsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictReprBuiltin.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictViewBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

add exception group instance check node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyExceptionGroupInstanceCheckNode.java
Due: eclipseformat, checkstyle

add margin and indentation to traceback printing
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTraceBackPrint.java
Due: eclipseformat, checkstyle

exception group pretty printing with max width support
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

update graal import
  mx.graalpython/suite.py
Due: pylint

bump versions in pom files and sync common.json files
  ci/graal/common.json
  graalpython/com.oracle.graal.python.test.integration/pom.xml
  graalpython/graalpy-jbang/examples/hello.java
  graalpython/graalpy-jbang/templates/graalpy-template.java.qute
  graalpython/graalpy-jbang/templates/graalpy-template_local_repo.java.qute
Due: eclipseformat, checkstyle

new dev cycle GraalVM 25.0.3
  mx.graalpython/suite.py
Due: pylint

Use github built artifact on linux
  .github/workflows/downstream-tests.yml
  mx.graalpython/downstream_tests.py
Due: pylint

follow up : fix style issue
  graalpython/graalpy-jbang/examples/hello.java
Due: eclipseformat, checkstyle

Remove useless check
  .github/workflows/downstream-tests.yml
Due: none

Handle more corner cases in timedelta creation
  graalpython/com.oracle.graal.python.test/src/tests/test_datetime.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/util/CastToJavaDoubleNode.java
Due: eclipseformat, checkstyle

Fix timedelta overflow bugs
  graalpython/com.oracle.graal.python.test/src/tests/test_datetime.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/util/CastToJavaBigIntegerNode.java
Due: eclipseformat, checkstyle

Bump default copyright year in templates
  mx.graalpython/copyrights/benchmarks.copyright.hash
  mx.graalpython/copyrights/hpy.copyright.hash
  mx.graalpython/copyrights/hpy.copyright.star
  mx.graalpython/copyrights/jython.copyright.star
  mx.graalpython/copyrights/oracle.copyright.hash
  mx.graalpython/copyrights/oracle.copyright.star
  mx.graalpython/copyrights/pypy-image-demo.copyright.hash
  mx.graalpython/copyrights/pypy.copyright.hash
  mx.graalpython/copyrights/python.copyright.hash
  mx.graalpython/copyrights/python.copyright.star
  mx.graalpython/copyrights/zippy.copyright.hash
  mx.graalpython/copyrights/zippy.copyright.star
Due: none

Work around uv not supporting devtag in wheel tags
  mx.graalpython/downstream_tests.py
Due: pylint

Bump generated parser copyright
  .pre-commit-config.yaml
Due: none

Use CE dev builds to run weekly downstream tests for now
  .github/workflows/downstream-tests.yml
Due: none

Set encapsulating node around sort root call
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SortNodes.java
Due: eclipseformat, checkstyle

Implement native tzinfo subclass support
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_datetime.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TzInfoBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TzInfoNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
Due: eclipseformat, checkstyle

Add librt 0.7.8 patch
  graalpython/lib-graalpython/patches/librt-0.7.8.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Add Github CI contributor doc
  docs/contributor/CONTRIBUTING.md
Due: none

Pass node location to NFI calls in posix NFI backend
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
Due: eclipseformat, checkstyle

Avoid addBuiltinConstant in postInitialize
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Add missing encapsulating location to LookupAttributeInMRONode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
Due: eclipseformat, checkstyle

Fix setting encapsulating location in async handler
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
Due: eclipseformat, checkstyle

More compact ExceptionGroup print context.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix getting path to extracted interpreter in wheelbuilder
  scripts/wheelbuilder/build_wheels.py
Due: none

Fix wheelbuilder environment
  scripts/wheelbuilder/build_wheels.py
Due: none
