Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Put qualname into bytecode root toString
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Simplify attribute writes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonManagedClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/MroSequenceStorage.java
Due: eclipseformat, checkstyle

Do subclass updates for native clasess too
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonManagedClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToObjectNode.java
Due: eclipseformat, checkstyle

Fix PATH error on Linux/MacOS + Update imports
  .github/workflows/ci-matrix-gen.yml
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Disable Linux aarch64 svm build
  .github/scripts/extract_matrix.py
Due: none

Construct download links using string format + Disable linux aarch64 jobs
  .github/scripts/extract_matrix.py
  .github/scripts/set-export
  .github/scripts/unpack-artifact
  .github/workflows/ci-matrix-gen.yml
Due: none

Split python-unittest-retagger to 8 batches like python-tagged-unittests
  ci.jsonnet
Due: none

Build: disable -g and enable -Ob while GITHUB_CI env is set
  .github/scripts/extract_matrix.py
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
  mx.graalpython/mx_graalpython.py
Due: pylint

Windows set-export / unpack-artifact scripts
  .github/scripts/extract_matrix.py
  .github/scripts/set-export.cmd
  .github/workflows/ci-matrix-gen.yml
  mx.graalpython/mx_graalpython.py
Due: pylint

Add env: ${{ matrix.env }} to tier2 and 3 jobs Default PATH seems to not be evaluated even in defined in jsonnet file, manually set
  .github/workflows/ci-matrix-gen.yml
  ci/python-gate.libsonnet
Due: none

Add build arg -Ob on libpythonvm library build
  mx.graalpython/mx_graalpython.py
Due: pylint

Add -J-XX:MaxRAMPercentage=90.0 on graalpy native / libpythonvm builds
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

upload report.json artifact
  ci/python-gate.libsonnet
Due: none

Handle MRO change corner cases
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonManagedClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/MroSequenceStorage.java
Due: eclipseformat, checkstyle

Rename to FinalAttributeAssumptionPair
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/MroSequenceStorage.java
Due: eclipseformat, checkstyle

docs: requirements file support for maven plugin
  docs/user/Embedding-Build-Tools.md
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Adopt new InteropLibrary messages hasLanguageId and getLanguageId
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/PythonAbstractObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetRegisteredClassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/interop/PythonLocalScope.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/interop/PythonMapScope.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/interop/PythonScopes.java
Due: eclipseformat, checkstyle

[GR-36894] Migrate GraalPy to DynamicObject nodes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextNamespaceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextStructSeqBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/DynamicObjectStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/PythonObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/MroShape.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromPythonObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToPythonObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Use separate read attribute nodes for different fixed keys.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/ModuleBuiltins.java
Due: eclipseformat, checkstyle

Remove unnecessary cached property assumption.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromPythonObjectNode.java
Due: eclipseformat, checkstyle

Fix Truffle DSL warning and style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToObjectNode.java
Due: eclipseformat, checkstyle

Bytecode DSL: async generators
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
  graalpython/com.oracle.graal.python.test/src/tests/test_yield_from.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_collections.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_except_star.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_generators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_genexps.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_grammar.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_strptime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/todo.sh
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/PAsyncGen.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/GetAIterNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/GetANextNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnitAndRoot.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/CallDispatchers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/GetFrameLocalsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Added new video on the main landing page
  docs/site/assets/img/python/intellij2025-cover.png
  docs/site/index.md
Due: none

Changed description
  docs/site/index.md
Due: none

Use MVNW_REPOURL to use custom Maven repo for Maven wrapper
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix: prefer to use lambda argument
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix test_generator_gi_yieldfrom
  graalpython/com.oracle.graal.python.test/src/tests/test_generators.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_generators.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Bytecode DSL: fix remaining tests in test_code
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_code.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix: allocate yieldFromGenerator local eagerly
  graalpython/com.oracle.graal.python.pegparser.test/testData/parser/goldenFiles/YieldStatementTests/customIter01.scope
  graalpython/com.oracle.graal.python.pegparser.test/testData/parser/goldenFiles/YieldStatementTests/yield12.scope
  graalpython/com.oracle.graal.python.pegparser.test/testData/parser/goldenFiles/YieldStatementTests/yield13.scope
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/scope/Scope.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/scope/ScopeEnvironment.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Update Bytecode DSL tags: test_threading
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_threading.txt
Due: none

Better assertion message in MaterializeFrameNode, use BytecodeDescriptor, replace beginTryCatchOtherwise(()->{}) with just beingTryCatch
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
Due: eclipseformat, checkstyle

Reduce the number of eagerly initialized modules
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/StructModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/UnicodeDataModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WinregModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstModuleBuiltins.java
Due: eclipseformat, checkstyle

Move more bytecodes to infrequent
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Intrinsify the remainder of unicodedata module
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python.test/src/tests/test_startup.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/UnicodeDataModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
  graalpython/lib-graalpython/__graalpython__.py
  graalpython/lib-graalpython/unicodedata.py
Due: eclipseformat, checkstyle

Publish _syconfig module
  graalpython/com.oracle.graal.python.test/src/tests/test_sysconfig.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysconfigModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
Due: eclipseformat, checkstyle

Add more tests for generator frame access
  graalpython/com.oracle.graal.python.test/src/tests/test_generators.py
Due: none

Unify gi_frame and the actual frame
  graalpython/com.oracle.graal.python.test/src/tests/test_generators.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/GeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeGeneratorRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Skip tests with DSL interpreter tracing bugs
  graalpython/lib-python/3/test/test_sys_settrace.py
Due: none

Rename YieldFromGenerator to YieldValue
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/GeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
Due: eclipseformat, checkstyle
