Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

[GR-65275] Re-enable Richards shared-engine test on aarch64
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/engine/SharedEngineMultithreadingBenchmarkTest.java
Due: eclipseformat, checkstyle

[GR-67684] Document foreign list size limit
  docs/user/Interoperability.md
Due: none

It's ok in megamorphic and generic cases that we lazily initialize PCode calltargets
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
Due: eclipseformat, checkstyle

[GR-68715] Add stack locals compiler reproducer test
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/BenchmarkTests.java
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/scripts/gr68715_collect_outer_stack_locals.py
Due: eclipseformat, checkstyle

[GR-67905] Save host inlining log for PGO profile job
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

[GR-69726] Add fork lifecycle C API stubs
  graalpython/com.oracle.graal.python.cext/include/Python.h
  graalpython/com.oracle.graal.python.cext/include/intrcheck.h
  graalpython/com.oracle.graal.python.cext/src/pylifecycle.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  mx.graalpython/copyrights/overrides
Due: eclipseformat, checkstyle

Move NativeSimpleType to annotations package and rename RAW_POINTER to POINTER
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/NativeSimpleType.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/TpSlotsTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyCFunctionWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/TpSlotWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/NativeCExtSymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupportJdk21.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeFunctionPointer.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeSignature.java
Due: eclipseformat, checkstyle

GenerateNativeDowncalls annotation and processor
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/DowncallSignature.java
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/GenerateNativeDowncalls.java
  graalpython/com.oracle.graal.python.processor/src/META-INF/services/javax.annotation.processing.Processor
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/GenerateNativeDowncallsProcessor.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/NativeDowncallMethodHandleGenerator.java
Due: eclipseformat, checkstyle

[GR-69099] Document ONNX VFS extraction
  docs/user/Embedding-Build-Tools.md
Due: none

Migrate NFIPosixSupport to FFM API
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/com.oracle.graal.python.test/src/tests/test_socket.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeMemory.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Fix getrusage() handling of double values
  graalpython/com.oracle.graal.python.test/src/tests/test_resource.py
  graalpython/python-libposix/src/posix.c
Due: none

Eagerly initialize NFI to avoid deadlock
  graalpython/com.oracle.graal.python.test/src/tests/test_threading.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
Due: eclipseformat, checkstyle

Zero-initialize buffer in select()
  graalpython/python-libposix/src/posix.c
Due: none

[GR-67905] Gzip host inlining log artifact
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

[GR-75781] Increase aarch64 multi-context timeout
  ci.jsonnet
Due: none

[GR-75506] Fix PolyBench cext package venv site path
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
Due: none

Enable GraalPy bytecode handlers by default
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

[GR-75506] Cache cext venv site-package lookup
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
Due: none

Update language_version
  docs/site/_config.yml
Due: none

Skip CI unittests workflow for website-only changes
  .github/workflows/ci-unittests.yml
Due: none

Update the tagline
  docs/site/index.md
Due: none

Restrict graalpytest worker socket to loopback
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

[GR-71176] Add Oracle DB direct path load macro benchmark
  ci.jsonnet
  ci/python-bench.libsonnet
  graalpython/com.oracle.graal.python.benchmarks/python/macro/c-oracledb-load.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

[GR-75506] Remove hardcoded tox PyPI mirror
  graalpython/com.oracle.graal.python.test/src/tox/leftpad/tox.ini
Due: none

[GR-75506] Export CI pip indexes
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
Due: none

Fix GitHub Actions artifact ordering
  .github/scripts/extract_matrix.py
  .github/scripts/unpack-artifact
  .github/workflows/ci-matrix-gen.yml
Due: none

Revert "Skip CI unittests workflow for website-only changes"
  .github/workflows/ci-unittests.yml
Due: none

Avoid C API test on JDK 21
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_shutdown.py
  graalpython/com.oracle.graal.python.test/src/tests/test_call-classmethod.py
  graalpython/com.oracle.graal.python.test/src/tests/test_ctypes.py
  graalpython/com.oracle.graal.python.test/src/tests/test_entropy_subprocess.py
  graalpython/com.oracle.graal.python.test/src/tests/test_indirect_call.py
  graalpython/com.oracle.graal.python.test/src/tests/test_sqlite3.py
  graalpython/com.oracle.graal.python.test/src/tests/util.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Refactor native downcall declarations
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/DowncallSignature.java
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/GenerateNativeDowncalls.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/GenerateNativeDowncallsProcessor.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/NativeDowncallMethodHandleGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
Due: eclipseformat, checkstyle

Remove native downcall marker annotation
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/GenerateNativeDowncalls.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/GenerateNativeDowncallsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NFIPosixSupport.java
Due: eclipseformat, checkstyle

Add GraalPy native-image PolyBench guest VM
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Preserve test environments for subprocess launcher tests
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
  graalpython/com.oracle.graal.python.test/src/tests/test_venv.py
Due: none

Add tests for async tracing ignored for now
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
Due: none

Implement C_CALL, C_RETURN, C_EXCEPTION Python hooks without Bytecode DSL support
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/lib-python/3/test/test_sys_setprofile.py
Due: eclipseformat, checkstyle

Guard native POSIX backend on NativeAccess availability
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Rename native POSIX support
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/PMMap.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixConstants.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/python-libposix/src/fork_exec.c
  graalpython/python-libposix/src/posix.c
  graalpython/python-libposix/src/posix_no_gnu.c
Due: eclipseformat, checkstyle

Disable cached generation for object slots lookup
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
Due: eclipseformat, checkstyle

Disable cached generation for more inline-only nodes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedIOMixinBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedIONodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/GetFixedAttributeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/MergedObjectTypeModuleGetFixedAttributeNode.java
Due: eclipseformat, checkstyle
