Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Properly read errno/GetLastError using FFM API
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/DowncallSignature.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/GenerateNativeDowncallsProcessor.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/NativeDowncallMethodHandleGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupportJdk21.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeContext.java
Due: eclipseformat, checkstyle

Reset errno in native
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

[GR-76855] Use Truffle Env APIs for GRAAL_PYTHONHOME lookup
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Configure GraalOS standalone runtime
  graalpython/graalpy_graalos_standalone_payload/config.json
Due: none

Pin specific graalos versions
  mx.graalpython/graalos_versions.json
Due: none

Add a README with some common scenarios to the GRAALOS_STANDALONE
  graalpython/graalpy_graalos_standalone_payload/CMakeLists.txt
  graalpython/graalpy_graalos_standalone_payload/README_GRAALOS_STANDALONE.md
  graalpython/graalpy_graalos_standalone_payload/config.json
  graalpython/graalpy_graalos_standalone_payload/graalpy-sandbox-launcher.sh
Due: none

Add GraalOS sandbox demo
  GRAALOS_DEMO.md
  graalos_sandbox_chat.py
Due: none

Map standalone launcher interpreter
  graalpython/graalpy_graalos_standalone_payload/graalpy-sandbox-fsmappings.sh
Due: none

Document GraalOS demo package workaround
  GRAALOS_DEMO.md
Due: none

Test and publish GraalOS standalone
  ci.jsonnet
  ci/python-gate.libsonnet
  graalpython/com.oracle.graal.python.test/src/tests/test_graalos_standalone.py
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

Ignore host Python for GraalOS demo install
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

Upload GraalOS standalone artifact directly
  ci.jsonnet
  ci/python-gate.libsonnet
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

Move GraalOS demo tests under graalos
  graalpython/com.oracle.graal.python.test/src/tests/graalos/GRAALOS_DEMO.md
  graalpython/com.oracle.graal.python.test/src/tests/graalos/test_graalos_sandbox_chat.py
  graalpython/com.oracle.graal.python.test/src/tests/graalos/test_graalos_standalone.py
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

Run GraalOS chat demo test in process
  graalpython/com.oracle.graal.python.test/src/tests/graalos/test_graalos_sandbox_chat.py
  graalpython/com.oracle.graal.python.test/src/tests/graalos/test_graalos_standalone.py
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

Fix snapshot restoration
  graalpython/graalpy_graalos_standalone_payload/README_GRAALOS_STANDALONE.md
  graalpython/graalpy_graalos_standalone_payload/graalpy-sandbox-launcher.sh
Due: none

Fix GraalOS standalone test reports
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

Enable GraalOS standalone runtime codegen
  graalpython/graalpy_graalos_standalone_payload/README_GRAALOS_STANDALONE.md
Due: none

Constrain GraalOS standalone CI hosts
  ci.jsonnet
Due: none

Skip test_graalossandbox_chat.py successfully
  graalpython/com.oracle.graal.python.test/src/tests/graalos/test_graalos_sandbox_chat.py
Due: none

Remove asteval from graalos demo story, it's confusing
  graalpython/com.oracle.graal.python.test/src/tests/graalos/GRAALOS_DEMO.md
  graalpython/com.oracle.graal.python.test/src/tests/graalos/test_graalos_sandbox_chat.py
  mx.graalpython/mx_graalpython_graalos.py
Due: pylint

Put package install instructions into readme
  graalpython/com.oracle.graal.python.test/src/tests/graalos/GRAALOS_DEMO.md
  graalpython/graalpy_graalos_standalone_payload/README_GRAALOS_STANDALONE.md
Due: none

Update imports
  ci.jsonnet
  mx.graalpython/graalos_versions.json
  mx.graalpython/mx_graalpython_graalos.py
  mx.graalpython/mx_pominit.py
  mx.graalpython/suite.py
  pom.xml
Due: pylint

Fix overriding injected test console
  graalpython/com.oracle.graal.python.test/src/tests/graalos/test_graalos_sandbox_chat.py
Due: none

Fix Windows CI Visual Studio setup
  .github/workflows/ci-matrix-gen.yml
Due: none

Improve PyTupleCheckExactNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTupleCheckExactNode.java
Due: eclipseformat, checkstyle

Fix MultibyteStreamWriterBuiltins.WritelinesNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibyteStreamWriterBuiltins.java
Due: eclipseformat, checkstyle

Allow native tuples in IteratorNodes.ToArrayNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/iterator/IteratorNodes.java
Due: eclipseformat, checkstyle

Introduce and use EnsureManagedTupleNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextGenericAliasBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/types/GenericAliasBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/TupleNodes.java
Due: eclipseformat, checkstyle

Accept native tuple in PyException_SetArgs
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
Due: eclipseformat, checkstyle

Fix style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextGenericAliasBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibyteStreamWriterBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/PythonAbstractObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/AbstractFunctionBuiltins.java
Due: eclipseformat, checkstyle

Allow native tuples as sequences
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_tuple.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mappingproxy/MappingproxyBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyMappingCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PySequenceCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
Due: eclipseformat, checkstyle

Accept native tuples storage builtins
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Replace redundant tuple check profiling
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixSubprocessModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WarningsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibyteCodecUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/functools/PartialBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BytesIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/IncrementalNewlineDecoderBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/StringIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/TextIOWrapperBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/TextIOWrapperNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONEncoderBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pickle/PicklerBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/PythonAbstractObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mappingproxy/MappingproxyBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/memoryview/MemoryViewBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/random/RandomBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/socket/SocketNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/RLockBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/classes/AbstractObjectGetBasesNode.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_os.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicode_file.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_os.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicode_file.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecs.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mimetypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_platform.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_site.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sysconfig.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicode_file.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_venv.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_winapi.txt
Due: none

Document POSIX errno capture path
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
Due: eclipseformat, checkstyle

Unify native downcall handle creation
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/GenerateNativeDowncallsProcessor.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/NativeDowncallMethodHandleGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/ArrowReleaseCallback.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupportJdk21.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeContext.java
Due: eclipseformat, checkstyle

Do custom errno capturing in NativePosixSupport
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/python-libposix/src/errno_capture.h
  graalpython/python-libposix/src/fork_exec.c
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Address review comments
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BytesIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/StringIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/FunctionBuiltins.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
