Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

[GR-76437] Update HPy dependency pins
  graalpython/com.oracle.graal.python.test/src/tox/leftpad/tox.ini
  graalpython/hpy/docs/requirements.txt
  graalpython/hpy/hpy/tools/autogen/__main__.py
  graalpython/hpy/hpy/tools/autogen/autogenfile.py
  graalpython/hpy/hpy/tools/autogen/doc.py
  graalpython/hpy/hpy/tools/autogen/parse.py
  graalpython/hpy/hpy/tools/autogen/testing/test_autogen.py
  graalpython/hpy/requirements-autogen.txt
  mx.graalpython/mx_graalpython.py
Due: pylint

Update devcontainer to use maven facades
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup-jdtls.sh
  .devcontainer/setup-mx.sh
  .gitignore
  docs/contributor/CONTRIBUTING.md
  mx.graalpython/mx_pominit.py
  pom.xml
Due: pylint

Deploy website only by explict workflow_dispatch
  .github/workflows/build-website.yml
Due: none

Do not show unsafe options by default in the docs
  docs/site/01-jvm-developers.md
  docs/site/index.md
Due: none

[GR-76450] Add JBang GraalPy launcher recipe
  docs/user/Python-on-JVM.md
  graalpython/graalpy-jbang/examples/graalpy.java
  graalpython/lib-python/3/venv/__init__.py
  jbang-catalog.json
Due: eclipseformat, checkstyle

Allow native int subclasses with custom layout
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_long.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

Remove compilation-final annotation from compression availability
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeCompressionSupport.java
Due: eclipseformat, checkstyle

Allow void C API upcall targets
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
Due: eclipseformat, checkstyle

[GR-76432] Simplify native long subtype layout test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_long.py
Due: none

Add managed audit hook tests
  graalpython/com.oracle.graal.python.test/src/tests/test_audit_hooks.py
Due: none

Stabilize audit hook veto tests
  graalpython/com.oracle.graal.python.test/src/tests/test_audit_hooks.py
Due: none

Implement managed audit hooks
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Implement PySys_Audit hooks
  graalpython/com.oracle.graal.python.cext/src/sysmodule.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSysBuiltins.java
Due: eclipseformat, checkstyle

Add tags for basic passing audit tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
Due: none

[GR-76412] Avoid redundant audit hook locking
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSysBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Add PySys_Audit cpyext test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_sys.py
Due: none

[GR-76268] Guard thread state map access
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Migrate Arrow callbacks to NativeAccess
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/NativePointer.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/ArrowReleaseCallback.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/InvokeArrowReleaseCallbackNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/capsule/ArrowArrayCapsuleDestructor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/capsule/ArrowSchemaCapsuleDestructor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/arrow/ArrowSupport.java
Due: eclipseformat, checkstyle

Remove unused NativeLibrary and FunctionWithSignature
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/FunctionWithSignature.java
Due: eclipseformat, checkstyle

Fix using native tuples in __getnewargs__
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_object.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
Due: eclipseformat, checkstyle

Handle native tuples in sequence array helper
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_tuple.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceNodes.java
Due: eclipseformat, checkstyle

Update website dependencies
  docs/site/Gemfile.lock
  graalpython/graalpy-jbang/examples/graalpy.java
  jbang-catalog.json
Due: eclipseformat, checkstyle

[GR-76450] Remove local JBang catalog assets
  docs/user/Python-on-JVM.md
  graalpython/com.oracle.graal.python.test/src/tests/conftest.toml
  graalpython/graalpy-jbang/examples/hello.java
  graalpython/graalpy-jbang/templates/graalpy-template.java.qute
  graalpython/graalpy-jbang/templates/graalpy-template_local_repo.java.qute
  jbang-catalog.json
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Mention the jbang jvm launcher path in changelog
  CHANGELOG.md
Due: none

[GR-46281] Re-enable two ignored tests with relaxed semantics for foreign executables.
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/interop/JavaInteropTest.java
Due: eclipseformat, checkstyle

[GR-48550] Update Known Windows limitations section.
  docs/user/Standalone-Getting-Started.md
Due: none

Allow timeouts for getting other thread frames in tests
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
Due: none

[GR-55096] Use normal helper lib node for interop member access
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/interop/ArgsKwArgsTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/PythonAbstractObject.java
Due: eclipseformat, checkstyle

[GR-52270] Support native subclasses of SyntaxError
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_err.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/SyntaxErrorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyLongAsLongAndOverflowNode.java
Due: eclipseformat, checkstyle

[GR-52900] Enable cpyext async slots test on Windows
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_object.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/OverlappedModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WinregLegacyModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
  graalpython/lib-graalpython/_overlapped.py
  graalpython/lib-graalpython/_winapi.py
  graalpython/lib-graalpython/_winreg.py
  graalpython/lib-graalpython/winreg.py
  graalpython/lib-python/3/asyncio/__init__.py
  graalpython/lib-python/3/asyncio/windows_events.py
Due: eclipseformat, checkstyle

[GR-76494] Fix pandas 2.2.3 dtypes init on GraalPy
  graalpython/lib-graalpython/patches/pandas-2.2.3.patch
Due: none

[GR-52900] Add ctypes-backed Windows API helpers
  graalpython/lib-graalpython/_winapi.py
  graalpython/lib-python/3/encodings/__init__.py
Due: none

Avoid passing constant j.l.Strings around when we can use TruffleString literals
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

Add changelog entry for audit event dispatching
  CHANGELOG.md
Due: none

[GR-52900] Load Windows overlays from source
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
Due: eclipseformat, checkstyle

[GR-52270] Handle forward slashes in SyntaxError filenames
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/SyntaxErrorBuiltins.java
Due: eclipseformat, checkstyle

[GR-52900] Keep Windows overlays out of frozen modules
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/OverlappedModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WinregLegacyModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
  graalpython/lib-graalpython/_overlapped.py
  graalpython/lib-graalpython/_winapi.py
  graalpython/lib-graalpython/_winreg.py
  graalpython/lib-graalpython/winreg.py
Due: eclipseformat, checkstyle

[GR-52900] Fix Windows overlay style checks
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrGet.java
Due: eclipseformat, checkstyle

[GR-52900] Fix Windows overlay CI checks
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/OverlappedModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WinregLegacyModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrGet.java
  graalpython/lib-graalpython/modules/_overlapped.py
  graalpython/lib-graalpython/modules/_winapi.py
  graalpython/lib-graalpython/modules/_winreg.py
  graalpython/lib-graalpython/modules/winreg.py
Due: eclipseformat, checkstyle

[GR-53509] Support pgid argument to assign subprocesses to process groups
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_subprocess.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixSubprocessModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/python-libposix/src/fork_exec.c
Due: eclipseformat, checkstyle
