Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Require signatures for NativeCAPISymbol
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
Due: eclipseformat, checkstyle

Do not export (most) GraalPy-private symbols
  graalpython/com.oracle.graal.python.cext/include/graalpy/testcapi.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_long.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_object.h
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/datetime.c
  graalpython/com.oracle.graal.python.cext/src/gcmodule.c
  graalpython/com.oracle.graal.python.cext/src/graalpy_stacktrace.c
  graalpython/com.oracle.graal.python.cext/src/longobject.c
  graalpython/com.oracle.graal.python.cext/src/pyhash.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_capi_logging.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_gc.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_misc.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_object.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionSignature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructs.java
Due: eclipseformat, checkstyle

Hide native option flags
  abi/abi-graalpy250.xml
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
Due: none

Fix: static functions in capi.h
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
Due: none

Update ABI file
  abi/abi-graalpy250.xml
  abi/suppressions-base.ini
Due: none

Fix copyright
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_long.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_object.h
  graalpython/com.oracle.graal.python.cext/src/bytesobject.c
  graalpython/com.oracle.graal.python.cext/src/capsule.c
  graalpython/com.oracle.graal.python.cext/src/complexobject.c
  graalpython/com.oracle.graal.python.cext/src/datetime.c
  graalpython/com.oracle.graal.python.cext/src/exceptions.c
  graalpython/com.oracle.graal.python.cext/src/pyhash.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_misc.py
Due: none

Avoid private helpers in _cpython_sre
  graalpython/com.oracle.graal.python.cext/modules/_cpython_sre/sre.c
Due: none

Hide more internal C API symbols
  abi/abi-graalpy250.xml
  graalpython/com.oracle.graal.python.cext/src/bytearrayobject.c
  graalpython/com.oracle.graal.python.cext/src/bytesobject.c
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/capsule.c
  graalpython/com.oracle.graal.python.cext/src/context.c
  graalpython/com.oracle.graal.python.cext/src/memoryobject.c
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
Due: none

Remove unused functions
  graalpython/com.oracle.graal.python.cext/src/capi.c
Due: none

Put polymorphic getCallTarget behind boundary
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PBuiltinFunction.java
Due: eclipseformat, checkstyle

Fix Windows native long buffer formats
  graalpython/com.oracle.graal.python.test/src/tests/test_memoryview.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/BufferFormat.java
Due: eclipseformat, checkstyle

[GR-76039] Retry transient GraalPy subprocess startup EAGAIN
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_shutdown.py
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
  graalpython/com.oracle.graal.python.test/src/tests/util.py
Due: none

Skip native POSIX test parameters on JDK 21
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/SocketTests.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/modules/PathConversionNodeTests.java
Due: eclipseformat, checkstyle

Share Panama support test helper
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/Utils.java
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/AsyncActionThreadingTest.java
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/NativeExtTest.java
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/ShutdownTest.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/cext/test/MultithreadedImportTestJava.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/cext/test/MultithreadedImportTestNative.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/SocketTests.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/modules/PathConversionNodeTests.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/TpSlotsTests.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/cext/SlotWrapperTests.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/nodes/MemMoveNodeTests.java
Due: eclipseformat, checkstyle

Add patch for scipy
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/scipy-1.17.0.patch
Due: none

Avoid initializing call targets in guards
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PBuiltinFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/CallDispatchers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/AbstractCallMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallBinaryMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallQuaternaryMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallTernaryMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallUnaryMethodNode.java
Due: eclipseformat, checkstyle

Get rid of GetCallTargetNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/FunctionNodes.java
Due: eclipseformat, checkstyle

Use GraalPy product profiles for product configs
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Copy staged GraalPy benchmark resources
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Get rid of GetCodeRootNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Use target import for GraalPy product profiles
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix PolyBench harness parsing on CPython (GR-75115)
  graalpython/com.oracle.graal.python.benchmarks/python/harness.py
Due: none

Fix pickler tuple checks for native tuples
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pickle/PPickler.java
Due: eclipseformat, checkstyle

Make Py(Dict|Set|Tuple)_New static upcalls
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSetBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTupleBuiltins.java
Due: eclipseformat, checkstyle

Tune some inlining cutoffs
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/PythonObject.java
Due: eclipseformat, checkstyle

Convert GraalPyPrivate_NotifyRefCount to a static builtin
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Allocate native tuple in PyTuple_New
  graalpython/com.oracle.graal.python.cext/src/tupleobject.c
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTupleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/TupleNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/classes/AbstractObjectGetBasesNode.java
Due: eclipseformat, checkstyle

Convert GraalPyPrivate_Unicode_LookupAndIntern to a static builtin
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
Due: eclipseformat, checkstyle

Eagerly create native kwnames tuple
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_method.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
Due: eclipseformat, checkstyle

Do not acquire GIL for Py(Dict|Set|Tuple)_New
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSetBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTupleBuiltins.java
Due: eclipseformat, checkstyle

Avoid boxing borrowed C API primitives
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSlotBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSysBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTupleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
Due: eclipseformat, checkstyle

Use isImmortalPythonObject
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Fix style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/PythonObject.java
Due: eclipseformat, checkstyle

Compare root nodes in inline cache guards instead of call targets
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PBuiltinFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/CallDispatchers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallBinaryMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallQuaternaryMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallTernaryMethodNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/CallUnaryMethodNode.java
Due: eclipseformat, checkstyle

Fix pyarrow 24 patch
  graalpython/lib-graalpython/patches/pyarrow-24.0.0.patch
Due: none

Skip untracked objects in weak reachable GC traversal
  graalpython/com.oracle.graal.python.cext/src/gcmodule.c
Due: none

Fix deopt in tracing
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Introduce a generated _sysconfigdata module
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python.test/src/tests/test_sysconfig.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
  graalpython/graalpy-pyconfig/CMakeLists.txt
  graalpython/graalpy-pyconfig/_sysconfigdata_template.py
  graalpython/lib-graalpython/_sysconfig.py
  graalpython/lib-python/3/sysconfig.py
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Allow overriding abiflags during build
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/PythonResource.java
  graalpython/com.oracle.graal.python.test/src/tests/test_sysconfig.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/graalpy-versions/CMakeLists.txt
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Escape strings for _sysconfigdata template
  graalpython/graalpy-pyconfig/CMakeLists.txt
  graalpython/graalpy-pyconfig/_sysconfigdata_template.py
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
