Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Workaround Gradle failure in CI
  ci/python-gate.libsonnet
Due: none

Ignore TestExpressionStackSize.test_if_else, issue GR-64307
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
Due: none

Ignore test_type_annotations.test_match, issue: GR-71365
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_annotations.txt
Due: none

Ignore tests in test_sys_setprofile and test_trace, issue GR-71865
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
Due: none

Trash temporary locals after destructive assignment to pass test_callbacks_on_callback, more systematic fix will be GR-64479
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Fix java_args overriding in mx_graalpython
  mx.graalpython/mx_graalpython.py
Due: pylint

Ignore GC tests in test_memoryio, issue: GR-71890
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_memoryio.txt
Due: none

Ignore few more tagged tests, issues: GR-71869, GR-71867, GR-71866
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
Due: none

Fix graalpy-extensions deployment
  mx.graalpython/mx_graalpython.py
Due: pylint

Ignore HPy test_HPyErr_WarnEx, issue GR-71943
  graalpython/hpy/test/test_hpyerr.py
Due: none

Properly disable PythonDebugTest on Bytecode DSL, issue GR-71618
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
Due: eclipseformat, checkstyle

Ignore test_sys_settrace tests that give wrong return statement line, issue: GR-71864
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
Due: none

Ignore stack size stability tests, issue: GR-64479
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
Due: none

Run TCK without VerifierInstrument, issue GR-71979
  ci/python-gate.libsonnet
Due: none

Make Bytecode DSL the default
  ci.jsonnet
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: eclipseformat, checkstyle, pylint

Ignore few test_(c)profile tests, issue: GR-71916
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
Due: none

Ignore test_next_until_return_in_generator, issue: GR-71863
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
Due: none

Ignore test_descr:test_remove_subclass, issue: GR-71917
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
Due: none

Fix PythonContext leak through bytecode parser
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
Due: eclipseformat, checkstyle

Adapt test_sys_settrace to new test utils
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
Due: none

Fix assertion 'every bytecode range should have been converted' in co_lines
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
Due: eclipseformat, checkstyle

Ignore two tests in test_syntax, issue GR-71364
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_grammar.txt
Due: none

Increase the stack size limit for SandboxPolicyUntrustedTest
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/SandboxPolicyUntrustedTest.java
Due: eclipseformat, checkstyle

Remove Bytecode DSL config from benchmarks
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Ignore few tests in test_pdb, issue: GR-71918
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
Due: none

Ignore test_print_exception_gh_102056
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_threading.txt
Due: none

Ignore few tests in test_inspect, issue: GR-71889
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
Due: none

Cache closure pointer of native slot wrapper in single context mode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyProcsWrapper.java
Due: eclipseformat, checkstyle

Unify and fix encoding error handlers
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibyteIncrementalEncoderBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/CodecsRegistry.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pickle/PPickler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pickle/PicklerNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/UnicodeEncodeErrorBuiltins.java
Due: eclipseformat, checkstyle

Retag test_codeccallbacks
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codeccallbacks.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecs.txt
Due: none

Unify and fix decoding error handlers
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/UnicodeDecodeErrorBuiltins.java
Due: eclipseformat, checkstyle

Fix wrong buffer release
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/UnicodeErrorBuiltins.java
Due: eclipseformat, checkstyle

Fix environment variables (#21)
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittest-retagger.yml
  ci/python-gate.libsonnet
Due: none

WIP: {platform}-github tags
  .github/workflows/ci-unittest-retagger.yml
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Do not re-acquire intentionally released GIL in TopLevelExceptionHandler, improve and extend SandboxPolicyUntrustedTest
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/SandboxPolicyUntrustedTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PythonThreadKillException.java
Due: eclipseformat, checkstyle

[GR-71365] Type annotations and pattern matching.
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_type_annotations.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

fix co_lines assert
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
Due: eclipseformat, checkstyle

co_line coalescing
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_code.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
Due: eclipseformat, checkstyle

add tests for co_lines line deduplication
  graalpython/com.oracle.graal.python.test/src/tests/test_code.py
Due: none
