Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Handle unavailable BouncyCastle in tests and add separate gate with bouncycastle enabled
  ci.jsonnet
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
  mx.graalpython/mx_graalpython.py
Due: pylint

Update changelog
  CHANGELOG.md
Due: none

Address review comments
  CHANGELOG.md
  graalpython/com.oracle.graal.python.test/src/tests/ssldata/leaf-missing-aki.pkcs8.pem
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
Due: none

Add a unit test for __graalpython__.load_bytecode_file
  graalpython/com.oracle.graal.python.test/src/tests/test_load_bytecode_file.py
Due: none

Test different verification modes in test_reparse
  graalpython/com.oracle.graal.python.test/src/tests/test_reparse.py
Due: none

Fix bytecode file hash verification
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Support long paths in Windows native POSIX backend
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/python-libposix/src/posix.c
Due: none

[GR-78886] Fix Windows native long path preparation
  graalpython/python-libposix/src/posix.c
Due: none

Harden bytecode header verification
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
Due: eclipseformat, checkstyle

Run long path test on all platforms.
  graalpython/com.oracle.graal.python.test/src/tests/test_long_paths.py
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
Due: none

[GR-78886] Update Graal import for long path aware launcher
  mx.graalpython/suite.py
Due: pylint

Add patch for orjson 3.11.5
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/orjson-3.11.5.patch
Due: none

Widen pandas patch range
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Add more build scripts
  scripts/wheelbuilder/linux/onnx.sh
  scripts/wheelbuilder/linux/pandas.sh
  scripts/wheelbuilder/linux/scikit-image.sh
  scripts/wheelbuilder/linux/scikit-learn.sh
  scripts/wheelbuilder/linux/scipy.sh
  scripts/wheelbuilder/linux/statsmodels.sh
Due: none

Add patch for uvloop 0.22.1
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/uvloop-0.22.1.patch
  graalpython/lib-graalpython/patches/uvloop.patch
Due: none

Add build script for argon2-cffi-bindings
  scripts/wheelbuilder/linux/argon2-cffi-bindings.sh
Due: none

Don't install paatch if patch is available
  scripts/wheelbuilder/build_wheels.py
Due: none

Add script for CoolProp
  scripts/wheelbuilder/linux/coolprop.sh
Due: none

Exclude test_load_bytecode_file from multicontext tests
  mx.graalpython/mx_graalpython.py
Due: pylint

Test OGHO template checks
  README.md
Due: none

Migrate pattern matching to use StackValues
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix: Compare cannot always be lowered with IsNone/IsNotNone
  graalpython/com.oracle.graal.python.test/src/tests/test_compare-multiple.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Migrate some temporary locals to StackValue API
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Rework pattern matching to use explicit control flow
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BaseBytecodeDSLVisitor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix: work around multi-line patterns
  graalpython/com.oracle.graal.python.test/src/tests/test_patmat.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Address review comments
  graalpython/python-libposix/src/posix.c
Due: none

GetFullPathNameW is documented to work with NULL probes, any crashes must have another cause
  graalpython/python-libposix/src/posix.c
Due: none

[GR-78886] Allow long path test failure on old Windows
  graalpython/com.oracle.graal.python.test/src/tests/test_long_paths.py
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pyexpat.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xml_etree.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile64.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pyexpat.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xml_etree.txt
Due: none

[GR-78994] Improve fatal-exit subprocess diagnostics
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_fatal_exit.py
Due: none

[GR-78957] Pin SWIG for PyMuPDF
  graalpython/lib-graalpython/patches/pymupdf.patch
Due: none

[GR-78953] Resolve coverage JAVA_HOME through mx lookup
  ci/python-gate.libsonnet
Due: none

Ensure relative long path test exceeds MAX_PATH
  graalpython/com.oracle.graal.python.test/src/tests/test_long_paths.py
Due: none

Flush standard streams before C API teardown
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Mark native C API finalizing before teardown
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
Due: eclipseformat, checkstyle

Log NativeLibrary unloading
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeLibrary.java
Due: eclipseformat, checkstyle

new dev cycle 25.0.4.1.1
  mx.graalpython/suite.py
Due: pylint
