Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    entry: mx python-checkcopyrights --assumed-modified --fix --files
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    entry: mx --primary pylint --primary
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'

Reorder compatibility page content
  docs/site/03-compatibility.md
Due: none

Simplify import update command
  mx.graalpython/mx_graalpython.py
Due: pylint

Move ci config into main repo
  ci.jsonnet
  ci/constants.libsonnet
  ci/graal/ci/README.md
  ci/graal/ci/ci_common/bench-common.libsonnet
  ci/graal/ci/ci_common/ci-check.libsonnet
  ci/graal/ci/ci_common/ci-resources.libsonnet
  ci/graal/ci/ci_common/common-utils.libsonnet
  ci/graal/ci/ci_common/common.jsonnet
  ci/graal/ci/ci_common/galahad-common.libsonnet
  ci/graal/ci/ci_common/musl-common.libsonnet
  ci/graal/ci/ci_common/run-spec-demo.jsonnet
  ci/graal/ci/ci_common/run-spec-examples.libsonnet
  ci/graal/ci/ci_common/run-spec-impl.libsonnet
  ci/graal/ci/ci_common/run-spec-tools.libsonnet
  ci/graal/ci/ci_common/run-spec.libsonnet
  ci/graal/ci/common.jsonnet
  ci/graal/ci/repo-configuration.libsonnet
  ci/graal/common.json
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
  ci/utils.libsonnet
Due: none

Update imports
  ci/graal/ci/ci_common/common-utils.libsonnet
  mx.graalpython/suite.py
Due: pylint

Text changes related to Olya's comments
  docs/site/03-compatibility.md
Due: none

Fix performance regression by moving bytecodes introduced in 3.12 to a separate method
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Fixed typo
  docs/site/03-compatibility.md
Due: none

Reimplement long_to_decimal_string_internal without _PyLong_New
  graalpython/com.oracle.graal.python.cext/src/longobject.c
Due: none

release GraalVM 24.2.2
  mx.graalpython/suite.py
Due: pylint

Lower parallelism in pybind11 test preparation
  mx.graalpython/downstream_tests.py
Due: pylint

Add downstream tests to github actions
  .github/workflows/downstream-tests.yml
Due: none

Move downstream tests into a separate file
  mx.graalpython/downstream_tests.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Disable pyo3 job for now
  .github/workflows/downstream-tests.yml
Due: none

Add downstream test for pyo3
  mx.graalpython/downstream_tests.py
Due: pylint

Remove downstream gates from CI
  ci.jsonnet
  ci/python-gate.libsonnet
Due: none

Added test case
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
Due: none

Fix pre-commit for git worktrees
  .pre-commit-config.yaml
  scripts/pre-commit-checkcopyrights.sh
  scripts/pre-commit-checkstyle.sh
  scripts/pre-commit-pylint.sh
Due: none

Avoid sending empty kwargs dicts to native
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotVarargs.java
Due: eclipseformat, checkstyle

Section order changed
  docs/site/03-compatibility.md
Due: none

remove original scope qualified names access and caching
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

rm unused imports
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
Due: eclipseformat, checkstyle

rm scope qualified names functions and caching
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
Due: eclipseformat, checkstyle

functions qualified names calculation is not from Scope anymore
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_funcattrs.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_reprlib.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

eclipse check changes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

we get qualified names from names provided rather than scope name
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

lambda repr/str refactoring
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Assign tiers to CI jobs
  ci.jsonnet
  ci/python-gate.libsonnet
  ci/utils.libsonnet
Due: none

Allow bytes-like in PyFloat_FromString
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_float.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextFloatBuiltins.java
Due: eclipseformat, checkstyle

Ensure bci is constant for infrequentBytecodes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Add graalpy-config utility
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/lib-graalpython/_sysconfig.py
  graalpython/lib-graalpython/modules/graalpy-config.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Use PyTuple nodes during string formatting as CPython does
  graalpython/com.oracle.graal.python.test/src/tests/test_platform.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTupleSizeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/BytesFormatProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/FormatProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/StringFormatProcessor.java
Due: eclipseformat, checkstyle

Regenerate CAPIFuntions.txt
  graalpython/com.oracle.graal.python.cext/CAPIFunctions.txt
Due: none

Add new C function declarations
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
Due: eclipseformat, checkstyle

Add patch for scikit-learn 1.7.0
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/scikit-learn-1.7.0.patch
Due: none

Implement PyErr_Get/SetHandledException
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  graalpython/com.oracle.graal.python.cext/src/errors.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_err.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_exceptionobject.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextPyStateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Implement PyException_Get/SetArgs
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Implement _PyDict_HasOnlyStringKeys
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_modsupport.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Restrict tracked C symbol types to dynamic
  graalpython/com.oracle.graal.python.cext/CAPIFunctions.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  scripts/csignature.py
Due: eclipseformat, checkstyle

Add capsule repr
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_capsule.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/CapsuleBuiltins.java
Due: eclipseformat, checkstyle

Avoid returning Java null from md_state getter
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSlotBuiltins.java
Due: eclipseformat, checkstyle
