Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Implement PyLong_FromNativeBytes
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_long.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Implement PyLong_AsNativeBytes
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_long.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Inclue SOABI in graalpy_versions
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/GraalPyPlatformInfoProviderImpl.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysconfigModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/platform/GraalPyPlatformInfoProvider.java
  graalpython/graalpy-versions/CMakeLists.txt
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Change cpython extraction path
  ci/python-gate.libsonnet
Due: none

Define both venv launcher argument variables
  graalpython/python-venvlauncher/src/venvlauncher.c
Due: none

Untag executable test on win32-amd64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
Due: none

Support Windows subprocess handle lists arguments
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
  graalpython/lib-graalpython/modules/_winapi.py
Due: none

Use wide native paths on Windows
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/SocketTests.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/modules/PathConversionNodeTests.java
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixShMemModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixSubprocessModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PwdModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SocketModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/MultiprocessingModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/SemLockBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/socket/SocketNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Introduce enums for WinAPIError and WSAError
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
Due: eclipseformat, checkstyle

Match multiline bytecode reparse failures
  graalpython/com.oracle.graal.python.test/src/tests/test_reparse.py
Due: none

Use Windows subprocess path on Windows when native backend is active
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MsvcrtModuleBuiltins.java
  graalpython/lib-python/3/subprocess.py
  graalpython/python-venvlauncher/src/venvlauncher.c
Due: eclipseformat, checkstyle

Try to fix the bytecode reparsing tests on windows
  graalpython/com.oracle.graal.python.test/src/tests/test_reparse.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Document Windows-specific mmap and posix behavior
  graalpython/com.oracle.graal.python.test/src/tests/test_mmap.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
Due: eclipseformat, checkstyle

Accept Windows mmap tagname positional argument
  graalpython/com.oracle.graal.python.test/src/tests/test_mmap.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
Due: eclipseformat, checkstyle

Fix stdout newlines on windows
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

Implement Windows native mmap support.
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_capi.py
  graalpython/com.oracle.graal.python.test/src/tests/test_fcntl.py
  graalpython/com.oracle.graal.python.test/src/tests/test_json.py
  graalpython/com.oracle.graal.python.test/src/tests/test_resource.py
  graalpython/com.oracle.graal.python.test/src/tests/test_select.py
  graalpython/com.oracle.graal.python.test/src/tests/test_startup.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MMapModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Do not expose AF_UNIX on Windows
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SocketModuleBuiltins.java
Due: eclipseformat, checkstyle

Match CPython Windows stat fallback semantics
  graalpython/python-libposix/src/posix.c
Due: none

Clear Windows last error after mmap at boundary
  graalpython/com.oracle.graal.python.test/src/tests/test_reparse.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeContext.java
Due: eclipseformat, checkstyle

Fix: capture Windows errors in call_fstatat
  graalpython/python-libposix/src/posix.c
Due: none

Capture errno, GetLastError, and WSAGetLastError on Windows
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/OsErrorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PConstructAndRaiseNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/python-libposix/src/errno_capture.h
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Untag failing LZMA test on win32-amd64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_lzma.txt
Due: none

Fix Windows native stat timestamps
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/python-libposix/src/posix.c
Due: none

Add initial Windows native posix backend.
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/DefaultConsoleHandler.java
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_fcntl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MsvcrtModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SignalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WinapiModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/lib-graalpython/modules/_winapi.py
  graalpython/lib-python/3/lzma.py
  graalpython/lib-python/3/subprocess.py
  graalpython/lib-python/3/test/test_repl.py
  graalpython/python-libposix/src/fork_exec.c
  graalpython/python-libposix/src/posix.c
  graalpython/python-libposix/src/posix_no_gnu.c
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Extend _overlapped module with native socket and pipe operations.
  graalpython/lib-graalpython/modules/_overlapped.py
  graalpython/python-libposix/src/posix.c
Due: none

Implement Windows native SemLock emulation as on CPython.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/SemLockBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Use readable buffers for multiprocessing send
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/MultiprocessingModuleBuiltins.java
Due: eclipseformat, checkstyle

NtModuleBuiltins are not needed on Linux
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/NtModuleBuiltins.java
Due: eclipseformat, checkstyle

Stabilize deleted bytecode reparse test
  graalpython/com.oracle.graal.python.test/src/tests/test_reparse.py
Due: none

Fix Windows last error handling for named mmap
  graalpython/com.oracle.graal.python.test/src/tests/test_mmap.py
  graalpython/lib-graalpython/modules/_winapi.py
Due: none

Clear last windows error when mmap succeeds
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeContext.java
Due: eclipseformat, checkstyle

Fix Windows select fd_set overflow
  graalpython/python-libposix/src/posix.c
Due: none

Respect logical input length in native LZMA
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativeLZMASupport.java
  graalpython/lib-python/3/lzma.py
Due: eclipseformat, checkstyle

Use stable timestamp in native tuple utime test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_tuple.py
Due: none

Preserve Windows socket mappings in dup2
  graalpython/com.oracle.graal.python.test/src/tests/test_posix.py
  graalpython/python-libposix/src/posix.c
Due: none

Preserve empty sys.executable path
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/shell/TestPathResolution.java
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
Due: eclipseformat, checkstyle

Document Windows native backend
  CHANGELOG.md
  docs/contributor/IMPLEMENTATION_DETAILS.md
  docs/user/Embedding-Permissions.md
  docs/user/Platform-Support.md
Due: none

Avoid Java-level Windows last-error reset for mmap
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeContext.java
Due: eclipseformat, checkstyle

Fix multiprocessing on Windows with the native os backend
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/MultiprocessingModuleBuiltins.java
  graalpython/lib-graalpython/modules/_winapi.py
  graalpython/lib-python/3/multiprocessing/connection.py
Due: eclipseformat, checkstyle

Report unsupported OS handle conversion
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
Due: eclipseformat, checkstyle
