Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Disable cached generation for inline-only nodes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TRegexUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedIONodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyEnterRecursiveCallNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyLongAsLongAndOverflowNode.java
Due: eclipseformat, checkstyle

Add optimized Truffle runtime to Python JUnit deps
  mx.graalpython/mx_graalpython.py
Due: pylint

[GR-75634] Limit Java pyexpat entity expansion
  graalpython/com.oracle.graal.python.test/src/tests/test_pyexpat_entity_expansion_limit.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PXMLParser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PyExpatModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
Due: eclipseformat, checkstyle

[GR-75634] Cache pyexpat parser limits
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
Due: eclipseformat, checkstyle

[GR-75634] Skip pyexpat expansion test on CPython
  graalpython/com.oracle.graal.python.test/src/tests/test_pyexpat_entity_expansion_limit.py
Due: none

Fetch GitHub Actions JDK from checked-out metadata
  .github/workflows/ci-matrix-gen.yml
Due: none

Apply CI spec version 7
  ci.jsonnet
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
Due: none

Apply CI spec version 8
  ci.jsonnet
Due: none

Fix website local theme path
  ci.jsonnet
Due: none

Keep external URL tests GitHub-only
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_cn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_hk.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_jp.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_kr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_tw.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_robotparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_urllib2net.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_urllibnet.txt
Due: none

Keep BouncyCastle artifacts in local Maven repo
  mx.graalpython/mx_graalpython.py
Due: pylint

do not inject our extra index into pip if a custom index was requested
  graalpython/lib-graalpython/patches/pip-23.2.1.patch
  graalpython/lib-graalpython/patches/pip-24.3.1.patch
  graalpython/lib-python/3/ensurepip/_bundled/pip-24.3.1-py3-none-any.whl
Due: none

Update Graal revision
  mx.graalpython/suite.py
Due: pylint

Update failing GitHub tagged unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_decorators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_property.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_decorators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_property.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_buffer.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_decorators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_property.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_queue.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xmlrpc.txt
Due: none

Add a second list-comp benchmark
  graalpython/com.oracle.graal.python.benchmarks/python/micro/list-comp2.py
  mx.graalpython/copyrights/overrides
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Work around ujson build problems on darwin
  graalpython/com.oracle.graal.python.test/src/tests/standalone/test_standalone.py
Due: none

Quarantine GitHub resource tracker signal tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
Due: none

Tolerate positive signal exit codes in tests
  graalpython/lib-python/3/test/_test_multiprocessing.py
Due: none

Handle new graalpy name in virtualenv seeder
  graalpy_virtualenv_seeder/graalpy_virtualenv_seeder/graalpy.py
Due: none

Export any CI custom index if present
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
  ci/utils.libsonnet
Due: none

Fix overflow behavior of int.to_bytes
  graalpython/com.oracle.graal.python.test/src/tests/test_int.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

Update tagged conftest.toml to apply the exclusions also to graalpy-github
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/lib-python/3/test/conftest.toml
Due: none

[GR-75861] Avoid NumPy maybe-uninitialized Werror
  graalpython/lib-graalpython/patches/numpy-2.0.0.patch
  graalpython/lib-graalpython/patches/numpy-2.4.4.patch
Due: none

Add GraalPy JIT presets
  CHANGELOG.md
  docs/user/Performance.md
  graalpython/com.oracle.graal.python.benchmarks/python/micro/jsonrpc-pipe.py
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test/src/tests/test_cmd_line.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: eclipseformat, checkstyle, pylint

Fix PYARROW_VERSION regex
  graalpython/lib-graalpython/patches/pyarrow-22.0.0.patch
  graalpython/lib-graalpython/patches/pyarrow-24.0.0.patch
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

No longer materializing source sections by default
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_modulefinder.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
  graalpython/lib-python/3/test/test_modulefinder.py
Due: eclipseformat, checkstyle

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_buffer.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_cn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_hk.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_jp.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_kr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_tw.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ctypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_decorators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_property.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_queue.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_robotparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_timeout.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xmlrpc.txt
Due: none

Fix macOS venv launcher debug logging
  graalpython/python-macos-launcher/src/venvlauncher.c
Due: none

Enable internet access env for macro benchmarks
  ci.jsonnet
Due: none

[GR-76019] Propagate vfork option to fork_exec
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixSubprocessModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/python-libposix/src/fork_exec.c
Due: eclipseformat, checkstyle

Quicken attribute stores
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Do not export GraalPy C API helpers
  graalpython/com.oracle.graal.python.cext/src/bytesobject.c
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/capsule.c
  graalpython/com.oracle.graal.python.cext/src/complexobject.c
  graalpython/com.oracle.graal.python.cext/src/datetime.c
  graalpython/com.oracle.graal.python.cext/src/exceptions.c
  graalpython/com.oracle.graal.python.cext/src/floatobject.c
  graalpython/com.oracle.graal.python.cext/src/gcmodule.c
  graalpython/com.oracle.graal.python.cext/src/memoryobject.c
  graalpython/com.oracle.graal.python.cext/src/tupleobject.c
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_memoryview_fromobject_error.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionSignature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CConstants.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructs.java
Due: eclipseformat, checkstyle

Eagerly initialize native C API symbol table
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeFunctionPointer.java
Due: eclipseformat, checkstyle

Do not allow NativeFunctionPointer allocation on fast paths
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/NativeCExtSymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeFunctionPointer.java
Due: eclipseformat, checkstyle

Remove getTsName from NativeCExtSymbol
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionSignature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/MethodDescriptorWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/NativeCExtSymbol.java
Due: eclipseformat, checkstyle
