Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Document managed CloseHandle fallback
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WinapiModuleBuiltins.java
Due: eclipseformat, checkstyle

Use clinic conversions for multiprocessing sockets
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/MultiprocessingModuleBuiltins.java
Due: eclipseformat, checkstyle

Improve PyUnicodeCheckNode for native objects
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyUnicodeCheckNode.java
Due: eclipseformat, checkstyle

Convert GraalPyPrivate_Unicode_IsMaterialized to a static builtin
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
Due: eclipseformat, checkstyle

Populate native unicode data lazily
  graalpython/com.oracle.graal.python.cext/include/cpython/unicodeobject.h
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GraalPyUnicodeObjectUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
Due: eclipseformat, checkstyle

Initialize native Unicode length eagerly
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Avoid native reference lookup during finalization
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GraalPyUnicodeObjectUtil.java
Due: eclipseformat, checkstyle

Test non-/compact unicode data contents
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
Due: none

Test lazy Unicode initialization preserves intern state
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
Due: none

Document native Unicode object representation
  docs/contributor/IMPLEMENTATION_DETAILS.md
Due: none

Rename methods of GraalPyUnicodeObjectUtil
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GraalPyUnicodeObjectUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
Due: eclipseformat, checkstyle

Remove dependency on packaging from autopatch_cargo
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_cargo.py
  graalpython/lib-graalpython/modules/autopatch_cargo.py
Due: none

Bump ABI version to 253
  mx.graalpython/mx_graalpython.py
Due: pylint

Avoid affecting cargo cache in autopatch_cargo
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_cargo.py
  graalpython/lib-graalpython/modules/autopatch_cargo.py
Due: none

Run autopatch only on sdists, not wheels
  graalpython/lib-graalpython/modules/graalpy_pip_extensions.py
  graalpython/lib-graalpython/patches/README.md
  scripts/get_pypi_source.py
Due: none

Add pyexpat attack protection controls
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pyexpat.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PXMLParser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add pyexpat.XMLParserType constant
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PyExpatModuleBuiltins.java
Due: eclipseformat, checkstyle

Quickenings for GetMethod bytecode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Minor improvements in MroShape
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/MroShape.java
Due: eclipseformat, checkstyle

Avoid temp name object in PyObject_(Get|Set)AttrString
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
Due: eclipseformat, checkstyle

Avoid temp unicode object in PyUnicode_InternFromString
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Avoid temp unicode object in _PyImport_GetModuleAttrString
  graalpython/com.oracle.graal.python.cext/src/import.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextImportBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Avoid temp name object in PyDict_(Get|Set|Del)ItemString(WithError)
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Implement PyTuple_Size purely in native
  graalpython/com.oracle.graal.python.cext/src/tupleobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTupleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Improve PyTupleSizeNode for native tuples
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTupleSizeNode.java
Due: eclipseformat, checkstyle

Avoid nodes for assertions
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSlotBuiltins.java
Due: eclipseformat, checkstyle

Avoid loading native modules to expose typing.CapsuleType
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/lib-python/3/types.py
Due: eclipseformat, checkstyle

Still promote values in PyDict/List_GetItemRef
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
Due: eclipseformat, checkstyle

Update venvlauncher names
  graalpython/com.oracle.graal.python.test/src/tests/test_venv.py
  mx.graalpython/suite.py
Due: pylint

Fix path comparison in test_autopatch_cargo
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_cargo.py
Due: none

Add missing _winapi constants
  graalpython/lib-graalpython/modules/_winapi.py
Due: none

Download CI CPython artifact into parent directory
  ci/python-gate.libsonnet
Due: none

Force unix line endings for mock remote patch repository in tests
  graalpython/com.oracle.graal.python.test/src/tests/test_patched_pip.py
Due: none

Use -X jit=0 instead of --engine.Compilation=false in test runners
  graalpython/com.oracle.graal.python.test/src/runner.py
  mx.graalpython/downstream_tests.py
Due: pylint

Don't peristently enable JLine signal handlers
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/JLineConsoleHandler.java
Due: eclipseformat, checkstyle

Update numpy patch
  graalpython/lib-graalpython/patches/numpy-2.4.4.patch
Due: none

Fix PTraceback.copyFrom
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/PTraceback.java
Due: eclipseformat, checkstyle

Fix syntax errors quitting the REPL
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
Due: eclipseformat, checkstyle
