Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

AlwaysHalt tag on call to breakpoint built-in
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix different behavior of string split.
  graalpython/com.oracle.graal.python.test/src/tests/test_string.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
Due: eclipseformat, checkstyle

Document and make work adding arguments to `__init__` when subclassing from Java
  docs/user/Python-on-JVM.md
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/lib-graalpython/__graalpython__.py
Due: none

moved logic to emitCall() to not break on breakpoint when not called
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

adding testInlineEvaluationBreakpointBuiltin
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
Due: eclipseformat, checkstyle

checking line for each breakpoint
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
Due: eclipseformat, checkstyle

[GR-71716] Fix return type of math.ceil for int subclasses
  graalpython/com.oracle.graal.python.test/src/tests/test_math.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

[GR-72841] Handle CannotCastException in splitlines
  graalpython/com.oracle.graal.python.test/src/tests/test_string.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
Due: eclipseformat, checkstyle

Flip default and make new_style Java subclasses the default
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/lib-graalpython/__graalpython__.py
Due: none

Fix PyMapping_(Items|Keys|Values) with dict subclasses
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abstract.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextAbstractBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
Due: eclipseformat, checkstyle

eclipse formatter pass
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
Due: eclipseformat, checkstyle

Ensure synthetic SourceRanges map to unavailable sections
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/tokenizer/SourceRange.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Wait for CI workflow to finish before checking its results
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittests.yml
Due: none

Add failed CI tests to PR comment
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci-unittests.yml
Due: none

Fix complex add/sub handling of negative zero
  graalpython/com.oracle.graal.python.test/src/tests/test_complex.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/complex/ComplexBuiltins.java
Due: eclipseformat, checkstyle

Remove accidentally-deleted comment
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Add AGENTS.md files
  AGENTS.md
  ci/AGENTS.md
  docs/AGENTS.md
  graalpython/AGENTS.md
  graalpython/com.oracle.graal.python.cext/AGENTS.md
  graalpython/com.oracle.graal.python.test/AGENTS.md
  graalpython/com.oracle.graal.python/AGENTS.md
  graalpython/lib-graalpython/AGENTS.md
  graalpython/lib-python/AGENTS.md
  mx.graalpython/AGENTS.md
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
Due: none

[GR-73912] Skip hanging numpy indexing benchmarks in periodic run
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

[GR-73876] Make flock interop test wait deterministically for subprocess
  graalpython/com.oracle.graal.python.test/src/tests/test_fcntl.py
Due: none

[GR-73734] Relax setuptools constraints in Python benchmark suite setup
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

[GR-73909] Retry jacocoreport once on transient coverage read failures
  mx.graalpython/mx_graalpython.py
Due: pylint

Patch test_concurrent_futures.test_map_timeout to make it less flaky
  graalpython/lib-python/3/test/test_concurrent_futures/executor.py
Due: none

Add a skill for ROTA
  .agents/skills/graalpython-rota/SKILL.md
Due: none

Add a skill to check a PR's gates
  .agents/skills/pr-gate-check/SKILL.md
Due: none

ABI version should not change automatically
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Fix style gate
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
Due: eclipseformat, checkstyle

Pin hpy setuptools dependency to 80.10.2 (pkg_resources deprecated).
  graalpython/hpy/setup.py
Due: none

Add abi-check gate on github
  .github/workflows/ci-unittests.yml
Due: none

Add mx abi-check command using libabigail
  .pre-commit-config.yaml
  abi/abi-graalpy250.xml
  abi/suppressions-base.ini
  abi/suppressions-graalpy250.ini
  mx.graalpython/mx_graalpython.py
Due: pylint

Add a note about what GraalPy is in AGENTS.md
  AGENTS.md
Due: none

Fix repr to include result in TypeError
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectReprAsObjectNode.java
Due: eclipseformat, checkstyle

AlwaysHalt tag on call to breakpoint built-in
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Set WarnInterpreterOnly to false in PythonDebugTest
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
Due: eclipseformat, checkstyle

Use source options for passing optimization level and flags
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonSourceOptions.java
Due: eclipseformat, checkstyle

Remove deserializationId mechanism
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WarningsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/AsyncGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/FrameBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CoroutineBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/GeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTraceBackPrint.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/IsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Skip broken assertion for now
  graalpython/com.oracle.graal.python.test/src/tests/test_code.py
Due: none
