Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

[GR-74217][GR-73570] Update numpy and pandas versions in benchmarks.
  ci.jsonnet
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

[GR-74217][GR-73570] Prune large NumPy benchmark configurations
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_buffer.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
Due: none

Implement C API singleton objects empty_(tuple|bytes)
  graalpython/com.oracle.graal.python.cext/include/cpython/pystate.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_global_objects.h
  graalpython/com.oracle.graal.python.cext/modules/_cpython_sre/sre.c
  graalpython/com.oracle.graal.python.cext/src/bytesobject.c
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/pystate.c
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_bytes.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_misc.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBytesBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTupleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PThreadState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Cache one-byte bytes singletons
  graalpython/com.oracle.graal.python.cext/include/cpython/pystate.h
  graalpython/com.oracle.graal.python.cext/src/bytesobject.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_bytes.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PThreadState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
Due: eclipseformat, checkstyle

Update imports
  mx.graalpython/suite.py
Due: pylint

[GR-76088] Make GraalPy standalone correctness check more robust
  mx.graalpython/mx_graalpython.py
Due: pylint

[GR-76117][GR-76093] Exclude tests that access internet.
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_robotparser.txt
Due: none

[GR-76136] Fix native POSIX backend expectation on JDK 21
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/EngineOptionsTests.java
Due: eclipseformat, checkstyle

[GR-76146] Accept native tuples in code constructor
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_codeobject.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
Due: eclipseformat, checkstyle

Add initial peak benchmark copies
  graalpython/com.oracle.graal.python.benchmarks/python/peak/OWNERS.toml
  graalpython/com.oracle.graal.python.benchmarks/python/peak/attribute-access.py
  graalpython/com.oracle.graal.python.benchmarks/python/peak/call-method-polymorphic.py
  graalpython/com.oracle.graal.python.benchmarks/python/peak/deltablue.py
  graalpython/com.oracle.graal.python.benchmarks/python/peak/fibonacci.py
  graalpython/com.oracle.graal.python.benchmarks/python/peak/richards.py
  graalpython/com.oracle.graal.python.benchmarks/python/peak/sieve.py
  mx.graalpython/polybench-stable-run-config.json
  mx.graalpython/suite.py
Due: pylint

Missing @InliningCutoffs in numerical operations
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberAddNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberFloorDivideNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceLshiftNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberLshiftNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberMultiplyNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberRshiftNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/fastpath/PyNumberLshiftFastPathsBase.java
Due: eclipseformat, checkstyle

39284618
  .github/actions/downstream-test/action.yml
Due: none

Handle native tuples in exception paths
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/BaseExceptionGroupBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PrepareExceptionNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectIsInstanceNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectIsSubclassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectRecursiveBinaryCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTupleCheckExactNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/TupleNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/ExceptMatchNode.java
Due: eclipseformat, checkstyle

39284609
  .github/workflows/_downstream-test-common.yml
  .github/workflows/_downstream-test-oracledb.yml
  .github/workflows/build-wheels.yml
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittest-retagger.yml
  .github/workflows/ci-unittests.yml
  .github/workflows/downstream-tests.yml
  .github/workflows/platforms-tests.yml
Due: none

39284589
  .github/actions/downstream-test/action.yml
  .github/workflows/_downstream-test-common.yml
  .github/workflows/_downstream-test-oracledb.yml
  .github/workflows/build-website.yml
  .github/workflows/build-wheels.yml
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci-unittest-retagger.yml
  .github/workflows/ci-unittests.yml
  .github/workflows/platforms-tests.yml
Due: none

Update PyNumberAddNode copyright year
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberAddNode.java
Due: eclipseformat, checkstyle

39284591
  .github/workflows/ci-unittest-retagger.yml
Due: none

39284590
  .github/actions/downstream-test/action.yml
  .github/workflows/_downstream-test-common.yml
  .github/workflows/_downstream-test-oracledb.yml
Due: none

39284588
  .github/scripts/set-export
Due: none

Add tiny windows skill
  .agents/skills/windows/SKILL.md
Due: none

Refactor classinfo tuple recursion
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectIsInstanceNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectIsSubclassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectRecursiveBinaryCheckNode.java
Due: eclipseformat, checkstyle

Fix Java style formatting
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrGet.java
Due: eclipseformat, checkstyle

Fix CI Java style formatting
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrGet.java
Due: eclipseformat, checkstyle

[GR-76229] Do not expose MAP_PRIVATE on win32
  graalpython/com.oracle.graal.python.test/src/tests/test_mmap.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstants.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstantsWin32.java
  scripts/gen_native_cfg.py
Due: eclipseformat, checkstyle

[GR-75636] Support text signatures for C extensions
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/CFunctionDocUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextAbstractBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDescrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextFuncBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextMethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/AbstractFunctionBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PBuiltinFunction.java
Due: eclipseformat, checkstyle

Update tags from github
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_buffer.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Minor hardening for Windows CI workers
  graalpython/com.oracle.graal.python.test/src/tests/test_patched_pip.py
Due: none

Harden GraalPy helper code
  graalpython/com.oracle.graal.python.cext/include/graalpy/handles.h
  graalpython/lib-graalpython/modules/standalone/__main__.py
  mx.graalpython/mx_graalpython.py
  scripts/wheelbuilder/build_wheels.py
Due: pylint

Fix tuple check copyright year
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTupleCheckExactNode.java
Due: eclipseformat, checkstyle

39284569
  .github/workflows/build-wheels.yml
Due: none

Fix set-export glob expansion without eval
  .github/scripts/set-export
Due: none

Increase benchmark prewarm
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Reject unavailable SSL protocol selectors
  graalpython/com.oracle.graal.python.test/src/tests/test_ssl.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLContextBuiltins.java
Due: eclipseformat, checkstyle

Preserve defaultdict subclass copy type
  graalpython/com.oracle.graal.python.test/src/tests/test_dict.py
  graalpython/com.oracle.graal.python.test/src/tests/test_set.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DefaultDictBuiltins.java
Due: eclipseformat, checkstyle

Add Maven IDE facade for GraalPy Java sources
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  docs/contributor/CONTRIBUTING.md
  graalpython/com.oracle.graal.python.annotations/pom.xml
  graalpython/com.oracle.graal.python.bouncycastle/pom.xml
  graalpython/com.oracle.graal.python.pegparser/pom.xml
  graalpython/com.oracle.graal.python.processor/pom.xml
  graalpython/com.oracle.graal.python.resources/pom.xml
  graalpython/com.oracle.graal.python.shell/pom.xml
  graalpython/com.oracle.graal.python/pom.xml
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_pominit.py
  pom.xml
Due: pylint

[GR-76230] Keep function kwdefaults dict live
  graalpython/com.oracle.graal.python.test/src/tests/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/FunctionBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/MethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/FunctionNodes.java
Due: eclipseformat, checkstyle

[GR-76230] Match CPython kwdefaults dict assignment
  graalpython/com.oracle.graal.python.test/src/tests/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/FunctionBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
