Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Repack pip wheel
  graalpython/lib-python/3/ensurepip/_bundled/pip-24.3.1-py3-none-any.whl
Due: none

Use CRLF by default on win32 in TextIOWrapper
  graalpython/com.oracle.graal.python.test/src/tests/test_io.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/TextIOWrapperNodes.java
Due: eclipseformat, checkstyle

Change expected exception in mmap test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_mmap.py
Due: none

Pass function object as frame argument
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCEvalBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeGeneratorFunctionRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLGeneratorFunctionRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/CallDispatchers.java
Due: eclipseformat, checkstyle

Remove ForceInlineGeneratorCalls option
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/CallDispatchers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Remove generator frame from fixed PArguments slots
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/PAsyncGen.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/GeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/superobject/SuperBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeGeneratorFunctionRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeGeneratorRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLGeneratorFunctionRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/interop/PythonScopes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Release GraalVM 25.0.0.
  mx.graalpython/suite.py
Due: pylint

Start 25.0.1 dev cycle.
  ci/graal/ci/ci_common/musl-common.libsonnet
  ci/graal/common.json
  graalpython/com.oracle.graal.python.test.integration/pom.xml
  graalpython/graalpy-jbang/examples/hello.java
  graalpython/graalpy-jbang/templates/graalpy-template.java.qute
  graalpython/graalpy-jbang/templates/graalpy-template_local_repo.java.qute
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Move isGeneratorFrame to PGenerator
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/GeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/interop/PythonScopes.java
Due: eclipseformat, checkstyle

Fix deprecation warning in leak test
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/LeakTest.java
Due: eclipseformat, checkstyle

Fix get_pyenvcfg_command method
  graalpython/python-macos-launcher/src/venvlauncher.c
Due: none

Making split_venv_command_into_args dynamic
  graalpython/python-macos-launcher/src/venvlauncher.c
Due: none

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Downgrade cmake in torch buildscript
  scripts/wheelbuilder/linux/torch.sh
Due: none

Stop overriding patch URL in github wheel build jobs
  .github/workflows/build-linux-aarch64-wheels.yml
  .github/workflows/build-linux-amd64-wheels.yml
  .github/workflows/build-macos-aarch64-wheels.yml
  .github/workflows/build-macos-amd64-wheels.yml
  .github/workflows/build-windows-amd64-wheels.yml
  scripts/wheelbuilder/README.md
Due: none

Create all cells in one instruction
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Create cell assumptions ahead of execution in DSL interpreter
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Pass index to load LoadVariableArguments and LoadKeywordArguments
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Load normal arguments and freevars in one respective instruction
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Fix benchmark error message
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Add workaround for DSL continuations missing frames
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/TracebackBuiltins.java
Due: eclipseformat, checkstyle

Fix integer division of large integers
  graalpython/com.oracle.graal.python.test/src/tests/test_int.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

Add iprof files to gitignore
  .gitignore
Due: none

Elaborate a bit more about our C API transitions.
  docs/contributor/IMPLEMENTATION_DETAILS.md
Due: none

Fixing split_venv_command_into_args
  graalpython/python-macos-launcher/src/venvlauncher.c
Due: none

Use 'master' by default in `libpythonvm_build_args`
  mx.graalpython/mx_graalpython.py
Due: pylint

Use 'ARTIFACT_UPLOADER_SCRIPT' environment variable
  mx.graalpython/mx_graalpython.py
Due: pylint

Suppress broad-except warning
  mx.graalpython/mx_graalpython.py
Due: pylint

Run wheel scripts in subshell
  scripts/wheelbuilder/build_wheels.py
Due: none

Only attempt to repair graalpy platform specific wheels
  scripts/wheelbuilder/build_wheels.py
Due: none

Add more packages to build with Github actions
  scripts/wheelbuilder/darwin/cryptography.sh
  scripts/wheelbuilder/darwin/pandas.sh
  scripts/wheelbuilder/linux/cryptography.sh
  scripts/wheelbuilder/packages.txt
Due: none

Iterate over wheels to build until none can be built anymore
  scripts/wheelbuilder/build_wheels.py
Due: none

Fix pyarrow 0.19.1 wheel building and build sequentially, parallel OOMs on a 16GB container
  scripts/wheelbuilder/linux/pyarrow.sh
Due: none

Fix errors with rust toolchain and act, add 1.24.3 script for numpy
  scripts/wheelbuilder/linux/numpy.1.24.3.sh
Due: none

Fix multiple wheel build recipes
  scripts/wheelbuilder/linux/lxml.sh
  scripts/wheelbuilder/linux/numpy.1.23.2.sh
  scripts/wheelbuilder/linux/pynacl.sh
  scripts/wheelbuilder/linux/zstandard.sh
Due: none

Add argument to wheelbuilder to ignore failures in generating exit code
  scripts/wheelbuilder/build_wheels.py
Due: none

Switch to an orjson version we can build
  scripts/wheelbuilder/packages.txt
Due: none

If repairing a wheel fails, keep the original
  scripts/wheelbuilder/build_wheels.py
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
