Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Use findVirtual and bind receiver in TpSlotWrapper
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/TpSlotWrapper.java
Due: eclipseformat, checkstyle

Preserve exception group order for except-star reraises
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_except_star.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/BaseExceptionGroupBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/EncapsulateExceptionGroupNode.java
Due: eclipseformat, checkstyle

[GR-48583] Use public runtime class initialization API
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleFeature.java
Due: eclipseformat, checkstyle

remove memoryview RSS leak test threshold
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_memoryview_fromobject_error.py
Due: none

Skip sqlite entropy tests in sandboxed mode
  graalpython/com.oracle.graal.python.test/src/tests/test_entropy_subprocess.py
Due: none

[GR-64013] Fall back for SHAKE digests on older JDKs
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
Due: eclipseformat, checkstyle

Quote Python executable in pegparser CMake commands
  graalpython/com.oracle.graal.python.pegparser.generator/CMakeLists.txt
Due: none

Fix set and dict view xor side effects
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/builtin/HashingTest.java
  graalpython/com.oracle.graal.python.test/src/tests/test_dict.py
  graalpython/com.oracle.graal.python.test/src/tests/test_set.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingCollectionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictViewBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/set/BaseSetBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/set/FrozenSetBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/set/SetBuiltins.java
Due: eclipseformat, checkstyle

Consider native weakref growth as well as GC minimum
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
Due: eclipseformat, checkstyle

Document native extension virtual thread limitation
  docs/user/Embedding-Native-Extensions.md
Due: none

Constrain BackgroundGCTaskThreshold to valid percentage values.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
Due: eclipseformat, checkstyle

Guard against native extensions on virtual threads
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/nativeaccess/NativeAccessSupportJdk21.java
Due: eclipseformat, checkstyle

Stop deploying JVM standalones.
  CHANGELOG.md
  docs/site/01-python-developers.md
  docs/user/Python-on-JVM.md
  docs/user/Standalone-Getting-Started.md
  mx.graalpython/suite.py
Due: pylint

[GR-75402] Include Python version in GraalPy archive name
  CHANGELOG.md
  docs/site/01-python-developers.md
  docs/site/_config.yml
  docs/user/Standalone-Getting-Started.md
  mx.graalpython/suite.py
  scripts/wheelbuilder/README.md
Due: pylint

Fix changelog entry for Native Image GC config
  CHANGELOG.md
Due: none

[GR-75402] Bump mx version.
  ci/graal/common.json
Due: none

[GR-54573] Re-enable multiprocessing typed test generation
  graalpython/lib-python/3/test/_test_multiprocessing.py
Due: none

[GR-44850] Fix weak proxy referent lifetime
  graalpython/com.oracle.graal.python.test/src/tests/test_weakref.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/weakref/PProxyType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/weakref/ProxyTypeBuiltins.java
  graalpython/lib-python/3/test/test_file.py
Due: eclipseformat, checkstyle

Fix: XDecRefPointerNode and add regression test
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_list.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
Due: eclipseformat, checkstyle

Attach/detach thread in PyGILState_Ensure/Release
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/pystate.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_thread.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextPyStateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionSignature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PThreadState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CConstants.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Do not export graalpy_dealloc_stack_* functions
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
Due: none

[GR-48628] Re-enable test_selflink
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_glob.txt
Due: none

[GR-47822] Bound XML-RPC and HTTP server test waits
  graalpython/lib-python/3/test/test_docxmlrpc.py
  graalpython/lib-python/3/test/test_httpservers.py
  graalpython/lib-python/3/test/test_xmlrpc.py
Due: none

[GR-53744] Run pathlib tagged tests serially
  graalpython/lib-python/3/test/conftest.toml
Due: none

[GR-53387] Check C API residue in leak tests
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/LeakTest.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

[GR-42581] Cap weakref hash GC retries
  graalpython/com.oracle.graal.python.test/src/tests/test_weakref.py
Due: none

[GR-49675] Re-enable chown gid test on Darwin
  graalpython/lib-python/3/test/test_os.py
Due: none

[GR-65714] Fix isolated waitpid subprocess tests
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
Due: none

[GR-48628] Exclude racy virtual itimer test
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
Due: none

[GR-47822] Handle short runner messages as closed connections
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Add reproducer for frame escape bug
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_genericalias.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_genericalias.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ctypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_genericalias.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

[GR-47592] Re-enable compileall worker tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compileall.txt
Due: none

Mirror GRAALPY_UNICODE_* constants to C
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Pack unicode state into one field
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
Due: eclipseformat, checkstyle

Cleanup NativeStringData
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/NativeStringData.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/PString.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
Due: eclipseformat, checkstyle

Use @CApiConstant on logging constants
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/gcmodule.c
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python.cext/src/obmalloc.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
Due: eclipseformat, checkstyle

Introduce annotation @CApiConstant to mirror Java constants to C
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/CApiConstant.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
