Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Fix lambda generators: StopIteration should wrap last sent value
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_generators.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Avoid upcalls for long and float objects where we can
  graalpython/com.oracle.graal.python.cext/include/graalpy/handles.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_gc.h
  graalpython/com.oracle.graal.python.cext/src/floatobject.c
  graalpython/com.oracle.graal.python.cext/src/longobject.c
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/nodes/MemMoveNodeTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextFloatBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Add an even more minimal example for C extension calling
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-call-method-minimal.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Get rid of outputCanQuicken bytearrays
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/BytecodeCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/CompilationUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/Compiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/Instruction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/OpCodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Ensure we build bytecode dsl images for relevant benchmarks
  ci.jsonnet
Due: none

Make clangd happy with out pyconfig.h
  graalpython/graalpy-pyconfig/pyconfig_template.h
Due: none

Stop using small int cache since we're tagging now, but keep ABI compatible
  graalpython/com.oracle.graal.python.cext/include/cpython/pystate.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_long.h
  graalpython/com.oracle.graal.python.cext/src/longobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PThreadState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PrimitiveNativeWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GetNativeWrapperNode.java
Due: eclipseformat, checkstyle

Compile compile_commands.json into the source folder so that clangd works
  .gitignore
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/compile_flags.txt
Due: none

Handle tagged floats/ints in XDecRef node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
Due: eclipseformat, checkstyle

Exclude paths from compilation that shouldn't be reached
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Allow building onnxruntime as root user
  graalpython/lib-graalpython/patches/onnxruntime-1.17.1.patch
  graalpython/lib-graalpython/patches/onnxruntime-1.22.1.patch
Due: none

Move a few bytecodes into infrequent section
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Get the right cmake version for building onnxruntime
  scripts/wheelbuilder/linux/onnxruntime.sh
Due: none

Reduce time spent in heap benchmarking
  mx.graalpython/live_heap_tracker.py
Due: pylint

Make logic clearer for producing PGO in bench jobs
  mx.graalpython/mx_graalpython.py
Due: pylint

Remove now unnecessary hacks from pydantic-core downstream test
  mx.graalpython/downstream_tests.py
Due: pylint

No reason to do micro_small_heap right now
  ci.jsonnet
Due: none

Fix msvcrt.locking
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MsvcrtModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
Due: eclipseformat, checkstyle

Update imports
  mx.graalpython/suite.py
Due: pylint

Fix bug in LookupAttributeInMRONode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
Due: eclipseformat, checkstyle

Bytecode DSL: use custom yield operation to merge generator function and generator body into one RootNode; several related to generators
  graalpython/com.oracle.graal.python.test/src/tests/test_code.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_generators.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/GeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/TracebackBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLGeneratorFunctionRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/CallDispatchers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadCallerFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/IsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

be explicit about bitwidths of tagged integers hiding in handles
  graalpython/com.oracle.graal.python.cext/include/graalpy/handles.h
  graalpython/com.oracle.graal.python.cext/include/internal/pycore_long.h
  graalpython/com.oracle.graal.python.cext/src/floatobject.c
  graalpython/com.oracle.graal.python.cext/src/longobject.c
Due: none

Add helpers to check if double or long fits in float or int
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/GetNativeWrapperNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/floats/PFloat.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/PInt.java
Due: eclipseformat, checkstyle

Add missing benchmark file
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-call-method-int-float.py
Due: none

add small versions of the native benchmarks to micro-small for interpreter benchmarking
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Remove print statements from benchmarks
  graalpython/com.oracle.graal.python.benchmarks/python/meso/threadring.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-call-method-int-float.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-call-method-minimal.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-call-method.py
Due: none

Introduce 'summary' and 'iterations' functions to all python interpreter polybench benchmarks.
  benchmarks/interpreter/deltablue.py
  benchmarks/interpreter/fibonacci.py
  benchmarks/interpreter/richards.py
  benchmarks/interpreter/sieve.py
  mx.graalpython/polybench-fork-counts.json
Due: none

Add documentation about platform tiers
  docs/site/01-docs.md
  docs/user/README.md
  docs/user/Test-Tiers.md
Due: none

Use storeBytecodeIndex and @StoreBytecodeIndex
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/GetAwaitableNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/set/SetNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberAddNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberAndNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberFloorDivideNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceAddNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceAndNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceFloorDivideNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceLshiftNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceMatrixMultiplyNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceMultiplyNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceOrNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceRemainderNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceRshiftNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceSubtractNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceTrueDivideNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInPlaceXorNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberInvertNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberLshiftNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberMatrixMultiplyNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberMultiplyNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberNegativeNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberOrNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberPositiveNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberRemainderNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberRshiftNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberSubtractNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberTrueDivideNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberXorNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectIsNotTrueNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectIsTrueNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/ListNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/CopyDictWithoutKeysNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/GetYieldFromIterNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/SetupAnnotationsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/ExceptMatchNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/IsNode.java
Due: eclipseformat, checkstyle

Add missing @ExplodeLoop
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Review @InliningCutoffs in Bytecode DSL interpreter
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Bytecode DSL: improve BinarySubscript operation, ensure it works with boxing elimination
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/ByteArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/IndexNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/PList.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/PTuple.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/PSequenceWithStorage.java
Due: eclipseformat, checkstyle

Start 25.1.0 dev cycle.
  ci/graal/common.json
  graalpython/com.oracle.graal.python.test.integration/pom.xml
  graalpython/graalpy-jbang/examples/hello.java
  graalpython/graalpy-jbang/templates/graalpy-template.java.qute
  graalpython/graalpy-jbang/templates/graalpy-template_local_repo.java.qute
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Fix unittest.TestCase.subTest and report failed subtests
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Improve wording on compatibility pages for packages that may also fail cpython tests
  docs/site/03-compatibility.md
Due: none

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
Due: none

Use a native coverage launcher instead of bash, to work on macos with no recursive shebang
  mx.graalpython/mx_graalpython.py
Due: pylint
