Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  entry: mx --primary pylint --primary

Implement CStringWrapper#readBuffer to address Truffle warning
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CArrayWrappers.java
Due: eclipseformat, checkstyle

Address truffle-interpreted-performance warnings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingCollectionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PrepareExceptionNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/ListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ordereddict/OrderedDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/slice/SliceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLContextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrGet.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/argument/CreateArgumentsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/argument/keywords/ConcatDictToStorageNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/UnpackSequenceNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

[GR-67183] Make subclasses weakly held
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python.test/src/tests/test_class.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/PythonAbstractNativeObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/EconomicMapStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonAbstractClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonManagedClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Make GetSubclassesNode and GetSubclassesAsArrayNode final and uncached only
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

[GR-65639] Safe upcall and read ob_fval value directly from our stubs.
  graalpython/com.oracle.graal.python.cext/include/cpython/floatobject.h
  graalpython/com.oracle.graal.python.cext/include/object.h
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/floatobject.c
Due: none

Fix rendering of Troubleshooting.md on the website
  docs/user/Troubleshooting.md
Due: none

[GR-59702] Generate markdown docs for stable, non-internal graalpy context options
  docs/site/01-docs.md
  docs/site/_plugins/python_options_plugin.rb
Due: none

Remove more testing for darwin-amd64
  ci.jsonnet
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_shutil.txt
Due: none

Make an effort to clear collected references from the __subclasses__ dict
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/EconomicMapStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/ObjectHashMap.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Fix storing unhashable subclasses into the __subclasses__ dict
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/EconomicMapStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

disable transient test
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
Due: none

Add support for tkinter
  graalpython/lib-python/3/_tkinter/__init__.py
  graalpython/lib-python/3/_tkinter/app.py
  graalpython/lib-python/3/_tkinter/tclobj.py
  graalpython/lib-python/3/_tkinter/tklib_build.py
Due: none

Followup to fully fix oracle/graalpython#492
  graalpython/lib-python/3/subprocess.py
Due: none

Move Xms into properties file.
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicode.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_userstring.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xml_etree.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xml_etree_c.txt
Due: none

Add PRaiseNode#raiseExceptionObject and rename PRaiseNode.raiseExceptionObject to raiseExceptionObjectStatic
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WarningsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextPyStateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/AbstractBufferedIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONScannerBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PBaseException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PConstructAndRaiseNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PRaiseNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/RaiseNode.java
Due: eclipseformat, checkstyle

Handle deprecated Thread#getId()
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix warning: [try] auto-closeable resource SharedObject has a member method close() that could throw InterruptedException
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/copying/SharedObject.java
Due: eclipseformat, checkstyle

Remove invalid PRaiseNode#raiseExceptionObject(Object)
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PBaseException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PRaiseNode.java
Due: eclipseformat, checkstyle

Address pollOSRBackEdge() deprecation
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
Due: eclipseformat, checkstyle

Fix warning: [this-escape] possible 'this' escape before subclass is fully initialized
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotVarargs.java
Due: eclipseformat, checkstyle

Address TruffleString deprecations and serial warnings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/csv/CSVReaderBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/csv/CSVWriterBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/IONodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingCollectionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/iterator/IteratorNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/ListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tokenize/TokenizerIterBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/IteratorExhausted.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectAsciiNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/special/SpecialMethodNotFound.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PythonInterruptedException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/CharsetMapping.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Fix warning: [this-escape] possible 'this' escape before subclass is fully initialized
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/zlib/NativeZlibCompObject.java
Due: eclipseformat, checkstyle

Revert "Start 26.0.0 dev cycle."
  ci.jsonnet
  graalpython/com.oracle.graal.python.test.integration/pom.xml
  graalpython/com.oracle.graal.python.test/src/tests/standalone/gradle/build/build.gradle
  graalpython/com.oracle.graal.python.test/src/tests/standalone/gradle/build/build.gradle.kts
  graalpython/com.oracle.graal.python.test/src/tests/standalone/jbang/EmptyPIPComments.j
  graalpython/com.oracle.graal.python.test/src/tests/standalone/jbang/EmptyPythonResourceComment.j
  graalpython/com.oracle.graal.python.test/src/tests/standalone/jbang/EmptyPythonResourceCommentWithBlanks.j
  graalpython/com.oracle.graal.python.test/src/tests/standalone/jbang/NoPackagesResourcesDir.j
  graalpython/com.oracle.graal.python.test/src/tests/standalone/jbang/TwoPythonResourceComments.j
  graalpython/graalpy-archetype-polyglot-app/pom.xml
  graalpython/graalpy-archetype-polyglot-app/src/main/resources/archetype-resources/pom.xml
  graalpython/graalpy-jbang/examples/hello.java
  graalpython/graalpy-jbang/templates/graalpy-template.java.qute
  graalpython/graalpy-jbang/templates/graalpy-template_local_repo.java.qute
  graalpython/graalpy-maven-plugin/pom.xml
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Sync CI files with graal
  ci/graal/ci/ci_common/common-utils.libsonnet
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Rename get/set macros to follow new convention
  graalpython/com.oracle.graal.python.cext/src/bytearrayobject.c
  graalpython/com.oracle.graal.python.cext/src/classobject.c
  graalpython/com.oracle.graal.python.cext/src/descrobject.c
  graalpython/com.oracle.graal.python.cext/src/listobject.c
  graalpython/com.oracle.graal.python.cext/src/methodobject.c
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python.cext/src/sliceobject.c
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
Due: eclipseformat, checkstyle

Sanitize naming of downcall symbols
  graalpython/com.oracle.graal.python.cext/src/bytesobject.c
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/capsule.c
  graalpython/com.oracle.graal.python.cext/src/complexobject.c
  graalpython/com.oracle.graal.python.cext/src/datetime.c
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  graalpython/com.oracle.graal.python.cext/src/exceptions.c
  graalpython/com.oracle.graal.python.cext/src/floatobject.c
  graalpython/com.oracle.graal.python.cext/src/gcmodule.c
  graalpython/com.oracle.graal.python.cext/src/listobject.c
  graalpython/com.oracle.graal.python.cext/src/memoryobject.c
  graalpython/com.oracle.graal.python.cext/src/moduleobject.c
  graalpython/com.oracle.graal.python.cext/src/sliceobject.c
  graalpython/com.oracle.graal.python.cext/src/tupleobject.c
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MMapModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiGCSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/NativeCAPISymbol.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyDateTimeCAPIWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/memoryview/MemoryViewBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/memoryview/MemoryViewIteratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/memoryview/MemoryViewNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
Due: eclipseformat, checkstyle

Mark lazy-object-proxy patch upstreamed
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Remove leading underscore from internal C functions
  graalpython/com.oracle.graal.python.cext/include/cpython/unicodeobject.h
  graalpython/com.oracle.graal.python.cext/include/object.h
  graalpython/com.oracle.graal.python.cext/src/_warnings.c
  graalpython/com.oracle.graal.python.cext/src/bytesobject.c
  graalpython/com.oracle.graal.python.cext/src/call.c
  graalpython/com.oracle.graal.python.cext/src/ceval.c
  graalpython/com.oracle.graal.python.cext/src/errors.c
  graalpython/com.oracle.graal.python.cext/src/moduleobject.c
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python.cext/src/pyhash.c
  graalpython/com.oracle.graal.python.cext/src/setobject.c
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBytesBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCEvalBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextErrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextHashBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSetBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextWarnBuiltins.java
  graalpython/lib-graalpython/patches/nanobind.patch
Due: eclipseformat, checkstyle

Remove some of Py_set_ C functions
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/frameobject.c
  graalpython/com.oracle.graal.python.cext/src/moduleobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextFrameBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSlotBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Add require_serial to pre-commit rules
  .pre-commit-config.yaml
Due: none

Rename GraalPy-speficic PyCFunction functions
  graalpython/com.oracle.graal.python.cext/include/cpython/methodobject.h
  graalpython/com.oracle.graal.python.cext/include/methodobject.h
  graalpython/com.oracle.graal.python.cext/src/methodobject.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/lib-graalpython/modules/autopatch_capi.py
  graalpython/lib-graalpython/patches/torch-1.13.1.patch
  graalpython/lib-graalpython/patches/torch-2.2.1.patch
  graalpython/lib-graalpython/patches/torch-2.4.1.patch
  graalpython/lib-graalpython/patches/torch-2.7.0.patch
Due: eclipseformat, checkstyle

Rename PyInterpreterState_GetIDFromThreadState
  graalpython/com.oracle.graal.python.cext/include/pystate.h
  graalpython/com.oracle.graal.python.cext/src/pystate.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/lib-graalpython/patches/Cython-0.29.32.patch
  graalpython/lib-graalpython/patches/Cython-0.29.37.patch
  graalpython/lib-graalpython/patches/Cython-3.0.10.patch
  graalpython/lib-graalpython/patches/catboost-1.2.2.patch
  graalpython/lib-graalpython/patches/catboost-1.2.3.patch
Due: eclipseformat, checkstyle

Remove PyTruffleObjectFree node
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyTruffleObjectFree.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Rename GraalPy-speficic PyDescrObject functions
  graalpython/com.oracle.graal.python.cext/include/cpython/descrobject.h
  graalpython/com.oracle.graal.python.cext/include/descrobject.h
  graalpython/com.oracle.graal.python.cext/src/descrobject.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_descr.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/lib-graalpython/patches/Cython-0.29.32.patch
  graalpython/lib-graalpython/patches/Cython-0.29.37.patch
  graalpython/lib-graalpython/patches/Cython-3.0.10.patch
  graalpython/lib-graalpython/patches/catboost-1.2.2.patch
  graalpython/lib-graalpython/patches/catboost-1.2.3.patch
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
