Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

begin adding tests
  graalpython/com.oracle.graal.python.test/src/tests/test_except_star.py
Due: none

except star tests added
  graalpython/com.oracle.graal.python.test/src/tests/test_except_star.py
Due: none

Update imports
  ci/graal/ci/common.jsonnet
  mx.graalpython/suite.py
Due: pylint

Untag TestExitStack.test_exit_exception_traceback on Windows, issue GR-72684
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
Due: none

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
Due: none

Fix memory leak in LookupAttributeInMRONode.lookupConstantMROCached
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/superobject/SuperBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromPythonObjectNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/MroSequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Use support.gc_collect test_lru_cache_weakrefable for more robustness
  graalpython/lib-python/3/test/test_functools.py
Due: none

Fix error type when deleting name/global
  graalpython/com.oracle.graal.python.test/src/tests/test_scope.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/DeleteGlobalNode.java
Due: eclipseformat, checkstyle

Add patch for opencv-python
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/opencv-python-4.12.patch
Due: none

Clean up after removing module globals
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WarningsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyImportImport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/ImportStarNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/DeleteGlobalNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/WriteGlobalNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetDictFromGlobalsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/statement/AbstractImportNode.java
Due: eclipseformat, checkstyle

Implement NameError.name
  graalpython/com.oracle.graal.python.test/src/tests/test_scope.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/NameErrorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PRaiseNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/DeleteGlobalNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadBuiltinNode.java
Due: eclipseformat, checkstyle

Untag transient test_repr_deep
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_dict.txt
Due: none

Fix pydantic-core downstream test
  mx.graalpython/downstream_tests.py
Due: pylint

Fix typo
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add error specializations to datetime conversion nodes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeNodes.java
Due: eclipseformat, checkstyle

new tests and changes
  graalpython/com.oracle.graal.python.test/src/tests/test_except_star.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTraceBackPrint.java
Due: eclipseformat, checkstyle

Fix comment spelling
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/MroSequenceStorage.java
Due: eclipseformat, checkstyle

Don't reset exception context in generator throw
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
Due: eclipseformat, checkstyle

Fix AttributeError message for types
  graalpython/com.oracle.graal.python.test/src/tests/test_descr.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/MergedObjectTypeModuleGetAttributeNode.java
Due: eclipseformat, checkstyle

Allow mutating frozenset with PySet_Add
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_set.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/PHashingCollection.java
Due: eclipseformat, checkstyle

Adapt cython downstream test for running locally
  mx.graalpython/downstream_tests.py
Due: pylint

Remove __library__ module attribute
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/SpecialAttributeNames.java
Due: eclipseformat, checkstyle

Fix virtualenv test for zipapp
  mx.graalpython/downstream_tests.py
Due: pylint

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_math.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_fstring.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ordered_dict.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pipes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pstats.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_repl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_super.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_userdict.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xmlrpc.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_abstract_numbers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_charmapcodec.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_except_star.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_metaclass.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_re.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_scope.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_urllib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xml_etree_c.txt
Due: none

Clean up unused ErrorMessages
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Implement unloading and reparsing bytecode files
  graalpython/com.oracle.graal.python.test/src/tests/test_reparse.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeGeneratorFunctionRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/lib-python/3/importlib/_bootstrap_external.py
Due: eclipseformat, checkstyle

add support for exception notes printing + new tests
  graalpython/com.oracle.graal.python.test/src/tests/test_except_star.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyTraceBackPrint.java
Due: eclipseformat, checkstyle

Run GC in test support _unlink amd _rmdir on Windows to make sure all handles are closed
  graalpython/lib-python/3/test/support/os_helper.py
Due: none

Temporarily ignore the problematic part of test_xml_etree.test_iterparse
  graalpython/lib-python/3/test/test_xml_etree.py
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Use the right graalpython revision in coverge jobs
  ci/python-gate.libsonnet
Due: none

Avoid division by zero in benchmark harness
  graalpython/com.oracle.graal.python.benchmarks/python/harness.py
Due: none

Disable transients
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
Due: none

[GR-71395] Adding version information
  docs/user/README.md
Due: none

[GR-71342] Test tier run through
  docs/user/Test-Tiers.md
Due: none

init github script
  .github/scripts/extract_matrix.py
  .github/workflows/ci-unittests.yml
Due: none
