Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

[GR-52892] A few documentation cleanups.
  docs/user/Embedding-Build-Tools.md
  docs/user/Embedding-Getting-Started.md
  docs/user/Native-Images-with-Python.md
Due: none

[GR-48526] Stop using UnlockExperimentalVMOptions in graalpy standalone module
  graalpython/lib-graalpython/modules/standalone/__main__.py
  graalpython/lib-graalpython/modules/standalone/resources/resource-config.json
Due: none

[GR-52900] Defer Windows overlays during native image build
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
Due: eclipseformat, checkstyle

Disallow passing j.l.Strings into the audit
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

Convert callsites of audit to pass truffle strings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/FcntlModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MsvcrtModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SocketModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/FileIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/socket/SocketBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
Due: eclipseformat, checkstyle

[GR-52900] Assert Windows overlay runtime loading
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
Due: eclipseformat, checkstyle

[GR-47131] Re-enable sqlite unicode tests
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/lib-python/3/test/test_sqlite3/test_regression.py
  graalpython/lib-python/3/test/test_sqlite3/test_userfunctions.py
Due: eclipseformat, checkstyle

[GR-52900] Isolate Windows ctypes wrappers
  graalpython/lib-graalpython/_nt.py
  graalpython/lib-graalpython/modules/_overlapped.py
  graalpython/lib-graalpython/modules/_winapi.py
  graalpython/lib-graalpython/modules/winreg.py
Due: none

[GR-52900] Fix Windows startup tests
  graalpython/com.oracle.graal.python.test/src/tests/test_startup.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-52900] Fix Windows overlay copyright
  graalpython/lib-graalpython/_nt.py
Due: none

[GR-21590] Increase XML-RPC server shutdown timeout
  graalpython/lib-python/3/test/test_xmlrpc.py
Due: none

Use raw C API conversion entry points
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextAbstractBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCodecBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextContextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDescrBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextMethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
Due: eclipseformat, checkstyle

Cleanup CExtTo(Java|Native).execute usage
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/complex/ComplexBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/BaseExceptionBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
Due: eclipseformat, checkstyle

Remove Truffle NFI dependency
  docs/contributor/IMPLEMENTATION_DETAILS.md
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/pystate.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_ctypes.py
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/pom.xml
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/StringLiterals.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/lib-python/3/test/test_import/__init__.py
  graalpython/lib-python/3/test/test_unicode_file.py
  mx.graalpython/mx_pominit.py
  mx.graalpython/native-image.properties
  mx.graalpython/suite.py
  pom.xml
Due: eclipseformat, checkstyle, pylint

Fix style
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Remove native pointer wrapper
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/NativePointer.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Remove C API pointer interop bridges
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PThreadState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/NativeSequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Remove unused interop pointer methods
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Cleanup hierarchy of CExtToNativeNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiMemberAccessNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtToNativeNode.java
Due: eclipseformat, checkstyle

Use internal native-to-python conversion nodes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextAbstractBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextByteArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBytesBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCEvalBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCapsuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextClassBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextComplexBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextContextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextLongBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextWeakrefBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TzInfoBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotGetAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/capsule/ArrowArrayCapsuleDestructor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/arrow/capsule/ArrowSchemaCapsuleDestructor.java
Due: eclipseformat, checkstyle

Cleanup unnecessary execute(Raw|Long) methods
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Introduce convenience methods for object conversion
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiMemberAccessNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/complex/ComplexBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/BaseExceptionBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotBinaryFunc.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotBinaryOp.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrGet.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotDescrSet.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotGetAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotHashFun.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotInquiry.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotIterNext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotLen.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotMpAssSubscript.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotNbPower.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotRepr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotRichCompare.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotSetAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotSizeArgFun.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotSqAssItem.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotSqContains.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotUnaryFunc.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotVarargs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetDictIfExistsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/SetDictNode.java
Due: eclipseformat, checkstyle

Add member test for T_STRING_INPLACE
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_member.py
Due: none

Cleanup hierarchy of CExtToJavaNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiMemberAccessNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtToJavaNode.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/ci/ci_common/common.jsonnet
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Remove darwin-amd64 jobs
  ci.jsonnet
Due: none

Update OS version of Darwin CI jobs.
  ci/python-gate.libsonnet
Due: none

Implement surrogateescape for DecodeFSDefault
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyUnicodeFSDecoderNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/lib-python/3/test/test_import/__init__.py
  graalpython/lib-python/3/test/test_unicode_file.py
Due: eclipseformat, checkstyle

Force-escape frames returned by sys._current_frames
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Fix JSON encoder skipped key separators
  graalpython/com.oracle.graal.python.test/src/tests/test_json.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONEncoderBuiltins.java
Due: eclipseformat, checkstyle

put generated sysconfigdata in the python lib path as in cpython. this matches the expectations of pyo3 when cross-compiling
  mx.graalpython/suite.py
Due: pylint

Support patching wheels & sdists and injecting urls when using pip with audit hooks
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python.test/src/tests/test_patched_pip.py
  graalpython/com.oracle.graal.python.test/src/tests/test_pip_audit_hook.py
  graalpython/com.oracle.graal.python.test/src/tests/test_startup.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
  graalpython/lib-graalpython/modules/graalpy_pip_extensions.py
  graalpython/lib-graalpython/patches/pip-24.3.1.patch
  graalpython/lib-graalpython/pip_audit_hook.py
  graalpython/lib-graalpython/pip_hook.py
  graalpython/lib-python/3/ensurepip/_bundled/pip-24.3.1-py3-none-any.whl
  graalpython/lib-python/3/importlib/_bootstrap.py
Due: eclipseformat, checkstyle

[GR-76470] Fix UPL header in pip audit hook
  graalpython/lib-graalpython/pip_audit_hook.py
Due: none

[GR-76470] Document GraalOS pip audit events
  graalpython/lib-graalpython/pip_audit_hook.py
Due: none

[GR-76470] Keep load_file out of compiled code
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-76470] Pass patch workdir as string
  graalpython/lib-graalpython/modules/graalpy_pip_extensions.py
Due: none

Update imports
  ci/graal/ci/ci_common/bench-common.libsonnet
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncgen.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_audit.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_buffer.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_cn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_hk.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_jp.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_kr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecmaps_tw.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecs.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_httpservers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mimetypes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_platform.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_robotparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_site.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sysconfig.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicode.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_urllib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_urllib2.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_uuid.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_venv.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_winapi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xmlrpc.txt
Due: none

[GR-53509] Relax process group subprocess timeout
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
