Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Disable on workflow trigger
  .github/workflows/ci-unittests.yml
Due: none

Add checks before commenting
  .github/workflows/ci-unittests.yml
Due: none

Set author to graalvmbot
  .github/workflows/ci-unittests.yml
Due: none

Fix user mention
  .github/workflows/ci-unittests.yml
Due: none

Run after ci unittests
  .github/scripts/extract_matrix.py
  .github/workflows/ci-unittests.yml
Due: none

Comment on closed PR
  .github/workflows/ci-unittests.yml
Due: none

Update pymupdf patch
  graalpython/lib-graalpython/patches/pymupdf.patch
Due: none

make sure to install graalpy-config into our venvs
  graalpython/lib-python/3/venv/__init__.py
Due: none

Applied suggestion
  docs/user/Test-Tiers.md
Due: none

Run in separate workflow triggered on PR close
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci-unittests.yml
Due: none

Update graalvmbot login
  .github/workflows/ci-post-merge.yml
Due: none

[GR-71393] Default to GraalPyResource.contextBuilder, change to 25.0.2 and remove macOS x64
  .github/scripts/extract_matrix.py
  README.md
  docs/site/02-downloads.md
  docs/site/_config.yml
  docs/site/index.md
  docs/user/Interoperability.md
  docs/user/Python-Runtime.md
  docs/user/README.md
  docs/user/Test-Tiers.md
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/PythonOS.java
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/PythonResource.java
Due: eclipseformat, checkstyle

Enable assertions also in native image builder JVM
  mx.graalpython/mx_graalpython.py
Due: pylint

BytecodeDSL: introduce temporary locals, ensure all temp locals are cleared immediately after last use
  graalpython/com.oracle.graal.python.test/src/tests/test_generators.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_memoryio.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Fix typo in CI fail comment
  .github/workflows/ci-post-merge.yml
Due: none

[GR-71493] Linux as a recommended prerequisite
  docs/user/README.md
Due: none

Run GC only once the timeout exceeds 4s in Windows os_helper.py _waitfor to reduce overhead
  graalpython/lib-python/3/test/support/os_helper.py
Due: none

Fix typo.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectLookupAttr.java
Due: eclipseformat, checkstyle

Make uncached nodes unadoptable and deny replace.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/InlineWeakValueProfile.java
Due: eclipseformat, checkstyle

ReadAttributeFromObjectNode: Add PythonObject overload.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/ReadAttributeFromObjectNode.java
Due: eclipseformat, checkstyle

Extract common GetClass operation in PyObjectLookupAttr.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectLookupAttr.java
Due: eclipseformat, checkstyle

IsSameTypeNode: Simplify fallback guard.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Simplify adding shape flags.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextStructSeqBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/PythonObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/PythonClass.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/WriteAttributeToObjectNode.java
Due: eclipseformat, checkstyle

Add host inlining cutoff for GenericRichCompare.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectRichCompareBool.java
Due: eclipseformat, checkstyle

Attempt to get Github CI green
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_string_literals.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_subprocess.txt
  graalpython/lib-python/3/test/test_re.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Add script to mirror github PRs internally for merging
  scripts/gh2bb
  scripts/github_mapping.yaml
Due: none

Untag another transient on github
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
Due: none

Store instrumentation data in frame slot rather than in thread local stack
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/BytecodeDSLCodeUnit.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

[GR-71396] Permissions for packages/operations
  docs/user/Embedding-Permissions.md
Due: none

Support subclassing from Java with generics
  CHANGELOG.md
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_math.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_memoryio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sqlite3.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_string_literals.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_fstring.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_memoryio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ordered_dict.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pipes.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pstats.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_repl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_string_literals.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_subprocess.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_super.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_userdict.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xmlrpc.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_contextlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_exceptions.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_re.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_string_literals.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Pattern matching: just fail on object attribute missing.
  graalpython/com.oracle.graal.python.test/src/tests/test_patmat.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/MatchClassNode.java
Due: eclipseformat, checkstyle
