Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Add iprof files to gitignore
  .gitignore
Due: none

Fix integer division of large integers
  graalpython/com.oracle.graal.python.test/src/tests/test_int.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ints/IntBuiltins.java
Due: eclipseformat, checkstyle

Disable failing tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_importlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_call.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_fstring.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_importlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_type_params.txt
Due: none

Add nano benchmarks
  graalpython/com.oracle.graal.python.benchmarks/python/micro/nano-arith.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/nano-if.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/nano-loop.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Add lazy init of calltargets for builtins
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/CachedLazyCalltargetSupplier.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PBuiltinFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Add a micro benchmark for startup
  graalpython/com.oracle.graal.python.benchmarks/python/micro/startup.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Make call targets for builtin methods always lazy, without option
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/CachedLazyCalltargetSupplier.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PBuiltinFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Bytecode DSL: fix bug in BinarySubscript, initialize empty lists to empty storage
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Avoid generic NormalizeIndexWithBoundsCheckNode in fast-paths of PBytecodeDSLRootNode.BinarySubscript; add sequence storage strategies tests
  graalpython/com.oracle.graal.python.test/src/tests/test_sequence_strategies.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/IndexNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/PList.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/PTuple.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/PTupleListBase.java
Due: eclipseformat, checkstyle

Fix Arrow tests
  graalpython/com.oracle.graal.python.test/src/tests/test_sequence_strategies.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix spurious rebuilds of pegparser
  graalpython/com.oracle.graal.python.pegparser.generator/main_parser_gen.py
  graalpython/com.oracle.graal.python.pegparser.generator/pegjava/java_generator.py
Due: none

Handle windows newlines in JavaInteropTest
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/interop/JavaInteropTest.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Updte unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Fix coverage launcher generation
  mx.graalpython/mx_graalpython.py
Due: pylint

Add patch for easyocr
  graalpython/lib-graalpython/patches/easyocr.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Add build script for torchvision
  scripts/wheelbuilder/linux/torchvision.sh
Due: none

Add hacky opencv-python-headless patch
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/opencv-python-headless.patch
Due: none

Use boolean sequence storage, always preallocate sequence storage
  graalpython/com.oracle.graal.python.test/src/tests/test_sequence_strategies.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/ArrayBasedSequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/BoolSequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/ByteSequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/DoubleSequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/EmptySequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/IntSequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/LongSequenceStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/ObjectSequenceStorage.java
Due: eclipseformat, checkstyle

Fix coverage launcher to work with hpy tests
  mx.graalpython/downstream_tests.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Add unmarshal pyc benchmark
  graalpython/com.oracle.graal.python.benchmarks/python/micro/unmarshal-pyc.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/unmarshal-pyc.txt
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Reduce number of iterations for SVM interpreter benchmarks
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

poll 3x more often when memory tracking so we catch cpython memory for short runs
  mx.graalpython/live_heap_tracker.py
Due: pylint

Do not reported 0 allocated-memory for native binaries
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Be a bit more lenient with heap growth
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/advanced/LeakTest.java
Due: eclipseformat, checkstyle

Extract repair_wheels to be testable
  scripts/wheelbuilder/build_wheels.py
  scripts/wheelbuilder/repair_wheels.py
Due: none

Avoid using platform.processor() in repair_wheels
  scripts/wheelbuilder/repair_wheels.py
Due: none

Add a test for building and loading vendored wheels
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/answerlib/CMakeLists.txt
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/answerlib/answer.c
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/answerlib/answer.h
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/testwheel/pyproject.toml
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/testwheel/setup.py
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/testwheel/testwheel/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/example_wheel/testwheel/testwheel/module.c
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
Due: none

Use system python for running wheel repair in wheel test
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
Due: none

Fix _add_dll_directory
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/lib-graalpython/_nt.py
Due: eclipseformat, checkstyle

Refactor test_wheel
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
  graalpython/com.oracle.graal.python.test/src/tests/testlib/CMakeLists.txt
  graalpython/com.oracle.graal.python.test/src/tests/testlib/answer.c
  graalpython/com.oracle.graal.python.test/src/tests/testlib/answer.h
  graalpython/com.oracle.graal.python.test/src/tests/testlib_helper.py
  graalpython/com.oracle.graal.python.test/src/tests/testwheel/pyproject.toml
  graalpython/com.oracle.graal.python.test/src/tests/testwheel/setup.py
  graalpython/com.oracle.graal.python.test/src/tests/testwheel/testwheel/__init__.py
  graalpython/com.oracle.graal.python.test/src/tests/testwheel/testwheel/module.c
Due: none

Add test for loading libraries via ctypes
  graalpython/com.oracle.graal.python.test/src/tests/test_ctypes.py
  graalpython/com.oracle.graal.python.test/src/tests/test_wheel.py
  graalpython/com.oracle.graal.python.test/src/tests/testlib_helper.py
Due: none

Update Python inlined files: pull _ctypes from 3.12.8, remove pypy hashlibs
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes.c
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes_test.c
  graalpython/com.oracle.graal.python.cext/_ctypes/_ctypes_test.h
  graalpython/com.oracle.graal.python.cext/_ctypes/callbacks.c
  graalpython/com.oracle.graal.python.cext/_ctypes/callproc.c
  graalpython/com.oracle.graal.python.cext/_ctypes/cfield.c
  graalpython/com.oracle.graal.python.cext/_ctypes/ctypes.h
  graalpython/com.oracle.graal.python.cext/_ctypes/malloc_closure.c
  graalpython/com.oracle.graal.python.cext/_ctypes/stgdict.c
  graalpython/lib-python/3/_md5.py
  graalpython/lib-python/3/_sha1.py
  graalpython/lib-python/3/_sha256.py
  graalpython/lib-python/3/_sha512.py
Due: none

Untag broken tests on darwin amd64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unicodedata.txt
Due: none

Fix PGO build in bisection
  mx.graalpython/mx_graalpython.py
Due: pylint
