Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Fix GraalPythonModuleBuiltins to use builtins.Builtin annotation
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix dis builtin arity metadata for 25.0.2
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

Revert unrelated changes
  CHANGELOG.md
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PolyglotModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-73316] Flush faulthandler traceback dumps all at once per thread so we do not interleave stackframes across threads
  graalpython/com.oracle.graal.python.test/src/tests/test_traceback.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/FaulthandlerModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix style checks
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignAbstractClassBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignExecutableBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignInstantiableBuiltins.java
Due: eclipseformat, checkstyle

Pin hpy setuptools dependency to 80.10.2 (pkg_resources deprecated).
  graalpython/hpy/setup.py
Due: none

Assign owners to PR-bench-polybench included benchmarks.
  benchmarks/interpreter/OWNERS.toml
  ci.jsonnet
  graalpython/com.oracle.graal.python.benchmarks/python/micro/OWNERS.toml
  graalpython/com.oracle.graal.python.benchmarks/python/micro/numpy/OWNERS.toml
  graalpython/com.oracle.graal.python.benchmarks/python/micro/pyperformance/OWNERS.toml
Due: none

Fix PythonDebugTest with BytecodeDSL
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PTagTreeNodeExports.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/interop/PythonLocalScope.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/interop/PythonScopes.java
Due: eclipseformat, checkstyle

mx version bump
  ci/graal/common.json
Due: none

CI overlay bump
  ci.jsonnet
Due: none

Remove infrequent fast paths from list creation
  graalpython/com.oracle.graal.python.test/src/tests/test_list.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/ListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/SequenceFromStackNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/SequenceStorageFactory.java
Due: eclipseformat, checkstyle

Avoid using temporary locals for decorators evaluation
  graalpython/com.oracle.graal.python.test/src/tests/test_sys_settrace.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Fix: do not use LocalAccessor identity
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Specialize tuples/list storage if possible when created from Bytecode DSL loop
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/list/PList.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/SequenceFromArrayNode.java
Due: eclipseformat, checkstyle

Enhance thread management on Windows to improve shutdown behavior and error handling.
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_abstract_numbers.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_charmapcodec.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_except_star.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_metaclass.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_scope.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_urllib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xml_etree_c.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

align decimal and grouping separators with CPython behavior for Russian locale, and ensure locale-sensitive number formatting in IntegerFormatter.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/LocaleModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/IntegerFormatter.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/locale/PythonLocale.java
Due: eclipseformat, checkstyle

Add benchmark of startup time when importing multiple stdlib modules
  graalpython/com.oracle.graal.python.benchmarks/python/fast_subprocess.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/startup-imports.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Fix: graalvm_jdk breaks if mx runs with -v
  mx.graalpython/mx_graalpython.py
Due: pylint

Add InlinedIntValueProfile of MRO length to SuperBuiltins#tp_getattro
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/superobject/SuperBuiltins.java
Due: eclipseformat, checkstyle

Add thread._excepthook and _ExceptHookArgs builtins
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PExceptHookArgs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PExceptHookArgsBuiltins.java
Due: eclipseformat, checkstyle

Set _ExceptHookArgs as a PTuple/Seq
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PExceptHookArgs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PExceptHookArgsBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/InstantiableStructSequenceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/StructSequenceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Add helper to fetch and cherry-pick GitHub retagger results
  mx.graalpython/mx_graalpython.py
Due: pylint

Update unit test tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_json.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
Due: none

Update imports
  mx.graalpython/suite.py
Due: pylint

Fix license file lookup for license builtin
  graalpython/com.oracle.graal.python.test/src/tests/test_builtin.py
  graalpython/lib-python/3/site.py
Due: none

Skip CPython-specific license test
  graalpython/lib-python/3/test/test_site.py
Due: none

Fix license file
  LICENSE.txt
Due: none

Initialize CallTarget for TpStopIterNext.NEXT_NOT_IMPLEMENTED
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TpSlots.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotIterNext.java
Due: eclipseformat, checkstyle

Fix: PGenerator.getBytecodeNode should check `running` flag not `isStarted`
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CommonGeneratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/PGenerator.java
Due: eclipseformat, checkstyle

Fix missing guard in CastToJavaDoubleNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/util/CastToJavaDoubleNode.java
Due: eclipseformat, checkstyle

Add missing 'final' in 'public static TpSlots SLOTS = ...'
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignAbstractClassBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignBooleanBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignNumberBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignObjectBuiltins.java
Due: eclipseformat, checkstyle

Fix uncached execution
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/slots/TpSlotIterNext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PRaiseNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/GetSendValueNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/SequenceFromArrayNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PException.java
Due: eclipseformat, checkstyle

Build time option to override uncached interpreter limit
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
