Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Expand readme for wheelbuilder
  scripts/wheelbuilder/README.md
Due: none

Try our best with delocate on macos
  scripts/wheelbuilder/build_wheels.py
Due: none

Adding pynacl.sh
  scripts/wheelbuilder/darwin/pynacl.sh
Due: none

Make sure to install pkg-config when using it
  scripts/wheelbuilder/darwin/cryptography.sh
Due: none

Get python-patch-ng to provide patch.exe on windows
  scripts/wheelbuilder/build_wheels.py
Due: none

Make sure we recythonize rapidfuzz 3.10 - 3.12
  scripts/wheelbuilder/darwin/levenshtein.0.26.1.sh
  scripts/wheelbuilder/darwin/rapidfuzz.3.12.1.sh
  scripts/wheelbuilder/linux/levenshtein.0.26.1.sh
  scripts/wheelbuilder/linux/rapidfuzz.3.12.1.sh
Due: none

Avoid redownload in build_wheels.py
  scripts/wheelbuilder/build_wheels.py
Due: none

Install patchelf in addition to auditwheel into the venv
  scripts/wheelbuilder/build_wheels.py
Due: none

Use GITHUB_RUN_ID envvar everywhere to decide if build wheels shell scripts should run
  scripts/wheelbuilder/linux/cffi.sh
  scripts/wheelbuilder/linux/cryptography.sh
  scripts/wheelbuilder/linux/h5py.sh
  scripts/wheelbuilder/linux/levenshtein.0.26.1.sh
  scripts/wheelbuilder/linux/lxml.sh
  scripts/wheelbuilder/linux/numpy.1.23.2.sh
  scripts/wheelbuilder/linux/numpy.1.24.3.sh
  scripts/wheelbuilder/linux/numpy.sh
  scripts/wheelbuilder/linux/pillow.sh
  scripts/wheelbuilder/linux/pyarrow.sh
  scripts/wheelbuilder/linux/pynacl.sh
  scripts/wheelbuilder/linux/scipy.sh
  scripts/wheelbuilder/linux/tensorflow.sh
  scripts/wheelbuilder/linux/torch.sh
  scripts/wheelbuilder/linux/zstandard.sh
Due: none

auditwheel repair for OL8
  scripts/wheelbuilder/build_wheels.py
Due: none

Add wheelbuilder script for numpy-1.23.5
  scripts/wheelbuilder/linux/numpy.1.23.5.sh
Due: none

Update copyrights, fix MACOSX_DEPLOYMENT_TARGET to 11
  scripts/wheelbuilder/build_wheels.py
  scripts/wheelbuilder/linux/cffi.sh
  scripts/wheelbuilder/linux/h5py.sh
  scripts/wheelbuilder/linux/lxml.sh
  scripts/wheelbuilder/linux/numpy.1.23.2.sh
  scripts/wheelbuilder/linux/numpy.1.24.3.sh
  scripts/wheelbuilder/linux/numpy.sh
  scripts/wheelbuilder/linux/pillow.sh
  scripts/wheelbuilder/linux/scipy.sh
  scripts/wheelbuilder/linux/tensorflow.sh
  scripts/wheelbuilder/linux/torch.sh
Due: none

Select manylinux tag appropriate for processor architecture
  scripts/wheelbuilder/build_wheels.py
Due: none

Keep order of packages to build in wheelbuilder so we can optimize build times
  scripts/wheelbuilder/build_wheels.py
Due: none

New set of packages for AI workloads
  scripts/wheelbuilder/packages.txt
Due: none

Try to put local rust on the PATH before building
  scripts/wheelbuilder/build_wheels.py
Due: none

Use paatch to apply patches the same way across all platforms
  scripts/wheelbuilder/build_wheels.py
Due: none

Wheelbuilder script for pymupdf
  scripts/wheelbuilder/darwin/pymupdf.sh
  scripts/wheelbuilder/linux/pymupdf.sh
Due: none

Update pymupdf patch
  scripts/wheelbuilder/darwin/pymupdf.sh
  scripts/wheelbuilder/linux/pymupdf.sh
Due: none

Update unittest tags and imports
  scripts/wheelbuilder/linux/shapely.sh
Due: none

Update wheelbuilder shell script to build shapely with current GEOS version
  scripts/wheelbuilder/linux/shapely.sh
Due: none

[GR-65181] Add shapely build script.
  scripts/wheelbuilder/darwin/shapely.sh
  scripts/wheelbuilder/linux/shapely.sh
Due: none

Fixing transient test
  scripts/wheelbuilder/darwin/pillow.sh
Due: none

Update wheelbuilder scripts for grpcio and pillow on darwin
  scripts/wheelbuilder/darwin/grpcio.sh
Due: none

Add wheelbuilder for numpy 2
  scripts/wheelbuilder/linux/numpy.2.2.4.sh
  scripts/wheelbuilder/packages.txt
Due: none

Copy and upload all wheels
  scripts/wheelbuilder/build_wheels.py
Due: none

Extract repair_wheels to be testable
  scripts/wheelbuilder/build_wheels.py
  scripts/wheelbuilder/repair_wheels.py
Due: none

Avoid using platform.processor() in repair_wheels
  scripts/wheelbuilder/repair_wheels.py
Due: none

Stop hardcoding manylinux glibc version in wheelbuilder
  scripts/wheelbuilder/repair_wheels.py
Due: none

Fix: macos launcher deployment layout
  mx.graalpython/suite.py
Due: pylint

Move PString utf8 and wchar representations to hidden fields
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/PString.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
Due: eclipseformat, checkstyle

PString shouldn't inherit from PSequence
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixSubprocessModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SelectModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/multiprocessing/MultiprocessingGraalPyModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/PythonAbstractObject.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/ByteArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/iterator/IteratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/reversed/ReversedBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/set/SetBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/PString.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyMappingCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PySequenceCheckNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/argument/keywords/ConcatDictToStorageNode.java
Due: eclipseformat, checkstyle

Adding check for pip
  graalpython/lib-python/3/tkinter/__init__.py
Due: none

Add downstream test for jiter
  .github/workflows/downstream-tests.yml
  mx.graalpython/downstream_tests.py
Due: pylint

Move graalpy-website-build to tier1
  ci.jsonnet
Due: none

Fix setting time.tzname when the timezone has no DST
  graalpython/com.oracle.graal.python.test/src/tests/test_time.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TimeModuleBuiltins.java
Due: eclipseformat, checkstyle

Adding logs + review feedback
  graalpython/python-macos-launcher/src/venvlauncher.c
Due: none

Fix new perf warnings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyObjectSetAttrO.java
Due: eclipseformat, checkstyle

Refactor PString native representation
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextSlotBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/NativeCharSequence.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/NativeStringData.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/PString.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/HiddenAttr.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/NativeSequenceStorage.java
Due: eclipseformat, checkstyle

Simplify `PythonContext.getSecureRandom()`.
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle
