Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Remove obsolete native library retention list
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
Due: eclipseformat, checkstyle

Remove unused CExtCommonNodes.Charsets
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/CExtCommonNodes.java
Due: eclipseformat, checkstyle

Fix stable ABI check on Python 3.8
  mx.graalpython/mx_graalpython.py
Due: pylint

Implement support for creating modules from slots
  .gitignore
  abi/abi3t-missing-linux.txt
  graalpython/com.oracle.graal.python.cext/include/Python.h
  graalpython/com.oracle.graal.python.cext/include/exports.h
  graalpython/com.oracle.graal.python.cext/include/modsupport.h
  graalpython/com.oracle.graal.python.cext/include/moduleobject.h
  graalpython/com.oracle.graal.python.cext/include/pymacro.h
  graalpython/com.oracle.graal.python.cext/include/pytypedefs.h
  graalpython/com.oracle.graal.python.cext/include/slots.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_module.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionSignature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PySlotIterator.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ArgDescriptor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructAccess.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CStructs.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/PythonModule.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/StringLiterals.java
  mx.graalpython/copyrights/overrides
  scripts/generate_abi3t_manifest.py
Due: eclipseformat, checkstyle

Add ABI3T module C API upcalls
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-79870] Add Pygal demo to Python CI benchmarks
  graalpython/com.oracle.graal.python.benchmarks/python/macro/pygal-demo.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Quicken GetMethod attribute loads
  graalpython/com.oracle.graal.python.test/src/tests/test_graalpy_opts.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

[GR-79789] Fix Windows overlapped pipe error handling
  graalpython/lib-graalpython/modules/_winapi.py
Due: none

Validate class body function arguments
  graalpython/com.oracle.graal.python.test/src/tests/test_builtin.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
Due: eclipseformat, checkstyle

Don't ship _sysconfigdata etc on Windows
  graalpython/com.oracle.graal.python.test/src/tests/test_sysconfig.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/graalpy-pyconfig/CMakeLists.txt
  graalpython/lib-graalpython/modules/graalpy-config.py
  graalpython/lib-python/3/sysconfig/__init__.py
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Specialize the GetMethod instrance attribute quickening to Python modules
  graalpython/com.oracle.graal.python.test/src/tests/test_graalpy_opts.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Fix inherited native weak reference offset
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_indexed_slots.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ToNativeTypeNode.java
Due: eclipseformat, checkstyle

Add microbenchmarks for super attribute and method lookup
  graalpython/com.oracle.graal.python.benchmarks/python/micro/super-explicit-attribute.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/super-explicit-method.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/super-zero-attribute.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/super-zero-method.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Suppress MSVC anonymous union warning
  graalpython/com.oracle.graal.python.cext/include/Python.h
Due: none

Fix abi3t smoke test linking on Windows
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abi3t.py
Due: none

Move native module fields to companion
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/NativeModuleData.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/PythonModule.java
Due: eclipseformat, checkstyle

Rename init*CApiModule methods
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
Due: eclipseformat, checkstyle

Make CApiContext.gcTask private
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
Due: eclipseformat, checkstyle

Gate experimental ABI3T API behind target macro
  abi/suppressions-graalpy253.ini
  graalpython/com.oracle.graal.python.cext/include/Python.h
  graalpython/com.oracle.graal.python.cext/include/exports.h
  graalpython/com.oracle.graal.python.cext/include/modsupport.h
  graalpython/com.oracle.graal.python.cext/include/moduleobject.h
  graalpython/com.oracle.graal.python.cext/include/pymacro.h
  graalpython/com.oracle.graal.python.cext/include/pytypedefs.h
  graalpython/com.oracle.graal.python.cext/include/slots.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_abi3t.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Cache super MRO suffix lookups using attribute assumptions
  graalpython/com.oracle.graal.python.test/src/tests/test_super.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/superobject/SuperBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/sequence/storage/MroSequenceStorage.java
Due: eclipseformat, checkstyle

Support builtin classes as CSV dialects
  graalpython/com.oracle.graal.python.test/src/tests/test_csv.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/csv/CSVDialectBuiltins.java
Due: eclipseformat, checkstyle

Validate native tp_new class arguments
  graalpython/com.oracle.graal.python.test/src/tests/test_hashlib.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/ExternalFunctionNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/function/builtins/WrapTpNew.java
Due: eclipseformat, checkstyle

Raise TypeError for invalid mktime arguments
  graalpython/com.oracle.graal.python.test/src/tests/test_time.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TimeModuleBuiltins.java
Due: eclipseformat, checkstyle

Validate getsignal signal numbers
  graalpython/com.oracle.graal.python.test/src/tests/test_signal.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SignalModuleBuiltins.java
Due: eclipseformat, checkstyle

Validate regex flags before compilation
  graalpython/com.oracle.graal.python.test/src/tests/test_re.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/TRegexCache.java
Due: eclipseformat, checkstyle

Report top-level async with syntax errors
  graalpython/com.oracle.graal.python.test/src/tests/test_parser.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Move timezone state to PythonContext
  graalpython/com.oracle.graal.python.test/src/tests/test_datetime.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TimeModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Bump the bytecode version on every truffle import
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  mx.graalpython/mx_graalpython.py
Due: eclipseformat, checkstyle, pylint

Disable flaky test_multiprocessing_spawn.test_large_pool linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
Due: none

[GR-79899] Expand interpreter benchmarks to pyperformance
  ci.jsonnet
  mx.graalpython/mx_graalpython_benchmark.py
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

Convert PyList_(New|Append|Size|GetItemRef) to static upcalls
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/SequenceStorageNodes.java
Due: eclipseformat, checkstyle

Optimize guards in GetAttribute$Type to use single asumption and check on cached receiver
  graalpython/com.oracle.graal.python.test/src/tests/test_graalpy_opts.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

@ForceQuickening on GetAttribue#doGeneric
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Quicken property-backed attribute loads
  graalpython/com.oracle.graal.python.test/src/tests/test_graalpy_opts.py
  graalpython/com.oracle.graal.python.test/src/tests/test_property.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/PythonUtils.java
Due: eclipseformat, checkstyle

Quicken indexed-slot attribute loads
  graalpython/com.oracle.graal.python.test/src/tests/test_graalpy_opts.py
  graalpython/com.oracle.graal.python.test/src/tests/test_slot.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/getsetdescriptor/DescriptorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Remove unused MRO lookup fast path
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/attributes/LookupAttributeInMRONode.java
Due: eclipseformat, checkstyle

Add test for GetAttribute$Module quickening
  graalpython/com.oracle.graal.python.test/src/tests/test_graalpy_opts.py
Due: none

Add nano benchmarks for type attributes and indexed slots
  graalpython/com.oracle.graal.python.benchmarks/python/micro/nano-attribute-slot.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/nano-attribute-type-descr.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/nano-attribute-type.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Avoid quickening dunder type attributes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Fix test_graalpy_opts.py expectations in multi-context
  graalpython/com.oracle.graal.python.test/src/tests/test_graalpy_opts.py
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
