Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Opt-out of autopatch for cython
  graalpython/lib-graalpython/patches/Cython-3.0.10.patch
  graalpython/lib-graalpython/patches/cython-3.1.2.patch
  graalpython/lib-graalpython/patches/cython-3.2.0.patch
  graalpython/lib-graalpython/patches/cython-3.2.4.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Avoid redundant native Unicode writer allocation
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
Due: none

Implement getName for ExecuteCApiBuiltinRootNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
Due: eclipseformat, checkstyle

Make generated code JDK21 compatible
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/GenerateNativeDowncallsProcessor.java
Due: eclipseformat, checkstyle

Gate sandboxed JDK 21 (linux-amd64) tests
  ci.jsonnet
Due: none

Install libaio1 for oracledb downstream test
  .github/workflows/_downstream-test-oracledb.yml
Due: none

Fix case unpacking of dict splat
  graalpython/com.oracle.graal.python.test/src/tests/test_patmat.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Remove obsolete scripts
  AGENTS.md
  scripts/bench.sh
  scripts/build-tools.sh
  scripts/comparepy.sh
  scripts/gil.py
  scripts/hocon_json.sh
  scripts/jsonnet_json.sh
  scripts/make_venv_native.sh
  scripts/moduleimports.py
  scripts/pre_cythonize.sh
  scripts/python-inspect.sh
  scripts/python.sh
  scripts/venv_deploy.sh
Due: none

Patch cpython build env for numpy and pandas benchmarks
  mx.graalpython/mx_graalpython_python_benchmarks.py
Due: pylint

Use released graalpy to run delvewheel
  mx.graalpython/mx_graalpython.py
Due: pylint

Add patch for pyperf 2.10
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/pyperf-2.10.0.patch
Due: none

Implement shm_open for _posixshmem. Fixes oracle#502
  graalpython/com.oracle.graal.python.test/src/tests/test_multiprocessing.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixShMemModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/lib-python/3/multiprocessing/resource_tracker.py
  graalpython/python-libposix/src/posix.c
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Pin specific instantclient
  .github/workflows/_downstream-test-oracledb.yml
Due: none

adding IsNone, and properly emitting IsNotNone
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/compiler/SuperInstructionsTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

refactor: Make shmopen and shmunlink throw UnsupportedPosixFeatureException in emulated posix backend
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
Due: eclipseformat, checkstyle

Implement sys._getframemodulename
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
Due: eclipseformat, checkstyle

Simplify getting benchmark name in bisection
  mx.graalpython/mx_graalpython_bisect.py
  scripts/bisect_benchmark_regression.py
Due: pylint

Remove email sending from bisection script
  ci.jsonnet
  ci/python-bench.libsonnet
  ci/python-gate.libsonnet
  mx.graalpython/mx_graalpython_bisect.py
Due: pylint

Hide launcher frame from Python frame selection
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonSourceOptions.java
  graalpython/lib-graalpython/modules/standalone/resources/Py2BinLauncher.java
Due: eclipseformat, checkstyle

Fall back to getting module name from globals
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

Implement thread handles
  graalpython/com.oracle.graal.python.test/src/tests/test_threading.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/PThreadHandle.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/thread/ThreadHandleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Update test_repl to 3.13 expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
Due: none

Fix test_metaclass expectations for 3.13
  graalpython/com.oracle.graal.python.test/src/tests/test_metaclass.py
Due: none

Implement class __firstlineno__
  graalpython/com.oracle.graal.python.test/src/tests/test_type.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/SpecialAttributeNames.java
Due: eclipseformat, checkstyle

Implement class __static_attributes__
  graalpython/com.oracle.graal.python.test/src/tests/test_type.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/SpecialAttributeNames.java
Due: eclipseformat, checkstyle

Update test_call-classmethod to 3.13 behavior
  graalpython/com.oracle.graal.python.test/src/tests/test_call-classmethod.py
Due: none

Avoid _opcode in test support
  graalpython/lib-python/3/test/support/__init__.py
Due: none

Try traceback module first for top level exception printing
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

Update method descriptor behavior to match 3.13
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/ClassmethodBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/method/MethodBuiltins.java
Due: eclipseformat, checkstyle

Fix PTraceback.copyFrom
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/PTraceback.java
Due: eclipseformat, checkstyle

Register interactive sources for tracebacks
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Update test_except_star expectations to match 3.13
  graalpython/com.oracle.graal.python.test/src/tests/test_except_star.py
Due: none

Add an option for registering sources
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/TopLevelExceptionHandler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonSourceOptions.java
Due: eclipseformat, checkstyle

Update test_ast expectations
  graalpython/com.oracle.graal.python.test/src/tests/test_ast.py
Due: none

Get AST builtins closer to CPython
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstBuiltins.java
Due: eclipseformat, checkstyle
