Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Fix GetErrorHandlerNode choosing wrong handler for surrogatepass
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
Due: eclipseformat, checkstyle

Add patch for coverage
  graalpython/lib-graalpython/patches/coverage-7.10.0.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Remove dependency on packaging from autopatch_cargo
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_cargo.py
  graalpython/lib-graalpython/modules/autopatch_cargo.py
Due: none

Update verify_patches to check simpler version scheme for crate metadata
  mx.graalpython/verify_patches.py
Due: pylint

Update patch verifier to use git during pre-commit hook
  .pre-commit-config.yaml
  mx.graalpython/verify_patches.py
Due: pylint

Remove python-style from AGENTS.md
  AGENTS.md
Due: none

Fix buffer handling in bytes.removeprefix/removesuffix
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
Due: eclipseformat, checkstyle

Prefer system patchelf in repair_wheels
  scripts/wheelbuilder/repair_wheels.py
Due: none

Introduce autopatch_cargo
  .agents/skills/third-party-package-patches/SKILL.md
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_cargo.py
  graalpython/lib-graalpython/modules/autopatch_cargo.py
  graalpython/lib-graalpython/modules/graalpy_pip_extensions.py
  graalpython/lib-graalpython/patches/README.md
  graalpython/lib-graalpython/patches/crates/metadata.toml
  graalpython/lib-graalpython/patches/crates/pyo3-ffi-0.28.patch
  graalpython/lib-graalpython/patches/crates/pyo3-ffi-0.29.0.patch
  mx.graalpython/mx_graalpython.py
  mx.graalpython/verify_patches.py
  scripts/get_pypi_source.py
Due: pylint

Avoid affecting cargo cache in autopatch_cargo
  graalpython/com.oracle.graal.python.test/src/tests/test_autopatch_cargo.py
  graalpython/lib-graalpython/modules/autopatch_cargo.py
Due: none

Avoid mypy in pyo3 downstream tests
  mx.graalpython/downstream_tests.py
Due: pylint

Avoid reliance on refcounting in sqlite3 module
  graalpython/lib-python/3/dbm/sqlite3.py
Due: none

Register array as a mutable sequence
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ArrayModuleBuiltins.java
Due: eclipseformat, checkstyle

Update creating datetime subclasses
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DatetimeModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeZoneBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TzInfoBuiltins.java
Due: eclipseformat, checkstyle

Clean up unused error messages
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Untag test dependent on global recursion limit
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_isinstance.txt
Due: none

Update ImportError.__init__ error message
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/ImportErrorBuiltins.java
Due: eclipseformat, checkstyle

Untag refcount-reliant test
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
Due: none

Untag test that depends on inlined comprehensions
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_listcomps.txt
Due: none

Update string escaping warnings
  graalpython/com.oracle.graal.python.pegparser.test/src/com/oracle/graal/python/pegparser/test/ErrorTests.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/StringParser.java
Due: eclipseformat, checkstyle

Warn about non-string class namespace keys
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Fix synthetic frames' references
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/PFrame.java
Due: eclipseformat, checkstyle

Add mmap.seekable
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
Due: eclipseformat, checkstyle

Fix handling comments in f-string debug expressions
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/AbstractParser.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/tokenizer/Tokenizer.java
Due: eclipseformat, checkstyle

Introduce %T error message format conversion, update few checks
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/getsetdescriptor/DescriptorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/iterator/IteratorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/namespace/SimpleNamespaceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/types/GenericTypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/ErrorMessageFormatter.java
Due: eclipseformat, checkstyle

Untag test for disabling debug ranges
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_traceback.txt
Due: none

Fix pack_into using read-only buffer
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/StructModuleBuiltins.java
Due: eclipseformat, checkstyle

Allow mutating Struct objects
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/struct/PStruct.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/struct/StructBuiltins.java
Due: eclipseformat, checkstyle

Handle encoding errors in Struct constructor
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/struct/StructBuiltins.java
Due: eclipseformat, checkstyle

Stash signal handlers around JLine terminal creation and readLine
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/JLineConsoleHandler.java
Due: eclipseformat, checkstyle

Fix using the right qualname computation in different tp_reprs
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/functools/PartialBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/StructSequenceBuiltins.java
Due: eclipseformat, checkstyle

Fix TypeVar defaults
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/scope/Scope.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/scope/ScopeEnvironment.java
Due: eclipseformat, checkstyle

Update error handling for unterminated string literals
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/tokenizer/Tokenizer.java
Due: eclipseformat, checkstyle

Use code point indices in traceback.py
  graalpython/lib-python/3/traceback.py
Due: none

Use <sys> as default filename in warnings
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WarningsModuleBuiltins.java
Due: eclipseformat, checkstyle

Avoid temporary strings in new C APIs
  graalpython/com.oracle.graal.python.cext/src/abstract.c
  graalpython/com.oracle.graal.python.cext/src/dictobject.c
  graalpython/com.oracle.graal.python.cext/src/import.c
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextAbstractBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextImportBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Fix replace method for foreign date objects
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
Due: eclipseformat, checkstyle

Minor shaded JLine usage fixes
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/JLineConsoleHandler.java
  graalpython/com.oracle.graal.python.test/src/tests/test_repl.py
Due: eclipseformat, checkstyle

Avoid native access for Java-backed mmap
  graalpython/com.oracle.graal.python.test/src/tests/test_mmap.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/mmap/MMapBuiltins.java
Due: eclipseformat, checkstyle
