Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_hashlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pyexpat.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_xml_etree.txt
Due: none

Reduce patch branch CI to patch check
  ci.jsonnet
Due: none

Widen pandas patch range
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Add patch for orjson 3.11.5
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/orjson-3.11.5.patch
Due: none

Add patch for uvloop 0.22.1
  graalpython/lib-graalpython/patches/metadata.toml
  graalpython/lib-graalpython/patches/uvloop-0.22.1.patch
  graalpython/lib-graalpython/patches/uvloop.patch
Due: none

Refactor dict.update to avoid intermediate sequences
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_misc.py
  graalpython/com.oracle.graal.python.test/src/tests/test_dict.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextNamespaceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/functools/PartialBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/namespace/SimpleNamespaceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ordereddict/OrderedDictBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyDictMerge.java
Due: eclipseformat, checkstyle

Fix PyDict_Update accepting lists of tuples
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_dict.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
Due: eclipseformat, checkstyle

Deduplicate the compatibility pages
  docs/site/03-jvm-developers-compatibility.md
  docs/site/03-python-developers-compatibility.md
  docs/site/_includes/compatibility.html
Due: none

Add compatibility results for 25.3
  docs/site/_includes/compatibility.html
  docs/site/module_results/python-module-testing-v253.csv
Due: none

Update imports
  ci/graal/ci/ci_common/ci-resources.libsonnet
  ci/graal/ci/ci_common/musl-common.libsonnet
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: pylint

Revert "Add a workaround for test_gzip transients"
  mx.graalpython/mx_graalpython.py
Due: pylint

Deduplicate version compatibility table
  docs/user/README.md
Due: none

Update python version in docs to 3.13
  README.md
  docs/site/01-python-developers.md
  docs/site/_config.yml
  docs/user/README.md
  docs/user/Standalone-Getting-Started.md
  docs/user/Version-Compatibility.md
  graalpython/com.oracle.graal.python.test/src/tests/graalos/GRAALOS_DEMO.md
  graalpython/graalpy_graalos_standalone_payload/README_GRAALOS_STANDALONE.md
  scripts/wheelbuilder/README.md
Due: none

Update GraalPy versions in docs
  README.md
  docs/site/_config.yml
  docs/user/Embedding-Build-Tools.md
  docs/user/Embedding-Getting-Started.md
  docs/user/Interoperability.md
  docs/user/Standalone-Getting-Started.md
  scripts/wheelbuilder/README.md
Due: none

Make eclipseformat work independently of mx
  mx.graalpython/eclipse-settings/org.eclipse.jdt.core.prefs
  scripts/eclipseformat.py
  scripts/pre-commit-eclipseformat.sh
Due: none

Fix races in SocketTests that caused pretty frequent failures at least under WSL2
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/SocketTests.java
Due: eclipseformat, checkstyle

Fix truffle jar version
  mx.graalpython/mx_pominit.py
  pom.xml
Due: pylint

Implement refq watcher thread
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/builtin/objects/cext/ReferenceQueueCoordinatorTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GcModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ReferenceQueueCoordinator.java
Due: eclipseformat, checkstyle

Fix finalization ordering issue
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Separate verify-patches gate/hook
  .pre-commit-config.yaml
  ci.jsonnet
  ci/python-gate.libsonnet
  mx.graalpython/mx_graalpython.py
  mx.graalpython/verify_patches.py
Due: pylint

Don't run gates on patch-only changes
  ci/python-gate.libsonnet
Due: none

Only run patch verifier when targeting patch branches
  ci-branch-config.jsonnet
  ci-patch-branch.jsonnet
  ci/python-gate.libsonnet
Due: none

Fix pyenv invocations in docs
  README.md
  docs/site/01-python-developers.md
  docs/site/index.md
  docs/user/Standalone-Getting-Started.md
Due: none

Remove is_builtin_type
  graalpython/com.oracle.graal.python.cext/src/capi.c
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
Due: none

Fix direct download links in docs
  docs/site/01-python-developers.md
  docs/site/_config.yml
Due: none

Fix broken "Embed Languages" link in interoperability docs
  docs/user/Interoperability.md
Due: none

Replace dead jfokus link in docs
  docs/site/01-jvm-developers.md
Due: none

Introduce direct iteration target infrastructure
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/SSTUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Use direct iteration targets for comprehensions
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Use direct iteration targets for for loops
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Bump graal-languages-jekyll-theme version
  docs/site/Gemfile.lock
Due: none

Remove unused TeeLocal operation
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Remove website deploy jobs
  ci.jsonnet
Due: none

Add state logging for watcher thread
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/ReferenceQueueCoordinator.java
Due: eclipseformat, checkstyle

Add NativePapiSupport: native-image-only PAPI hardware counter support
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePapiSupport.java
Due: eclipseformat, checkstyle

Wire NativePapiSupport into PythonContext and __graalpython__ builtins
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Fix NativePapiSupport to not touch native code during context init
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePapiSupport.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
Due: none
