Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

instruction co_lines instrumentation fix
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
Due: eclipseformat, checkstyle

Fix test_tp_alloc: allocated non-heap type
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_object.py
Due: none

we dont want to test co_linetable
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_code.txt
Due: none

Fix DatetimeModuleBuiltins initialize() and call super.initialize() after all the addBuiltinConstant() calls
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DatetimeModuleBuiltins.java
Due: eclipseformat, checkstyle

Intrinsify _sre module
  graalpython/com.oracle.graal.python.test/src/tests/test_re.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_re.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_re.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TRegexUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/MatchBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/MatchNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PMatch.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PPattern.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PSREScanner.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PTemplate.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/SREScannerBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/lib-graalpython/_sre.py
  graalpython/lib-python/3/re/_compiler.py
Due: eclipseformat, checkstyle

Fix Pattern sub() and subn() and handling supported escape sequences
  graalpython/com.oracle.graal.python.test/src/tests/test_re.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Fix typos
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PolyglotModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/AsyncGenThrowBuiltins.java
Due: eclipseformat, checkstyle

CI: Add regexp benchmark into micro-small suit
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Refactor SREModuleBuiltins and move helper classes and methods into PatternNodes and PatternBuiltins
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/MatchBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PythonMethod.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/SREScannerBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/TRegexCache.java
Due: eclipseformat, checkstyle

Improve a bit JavaDoc for PyNumberAsSizeNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyNumberAsSizeNode.java
Due: eclipseformat, checkstyle

docs: update requirementsFile documentation
  docs/user/Embedding-Build-Tools.md
Due: none

Refactor and simplify to adress code review comments
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/MatchBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/MatchNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/PatternBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/SREModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix missing frame escaping of traceback frames
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/TracebackBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
Due: eclipseformat, checkstyle

Clean test C ext build dir to prevent picking up stale extensions
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
Due: none

Fix python version in README
  README.md
  docs/user/Python-Runtime.md
Due: none

Remove outdated doc paragraph
  docs/user/Embedding-Permissions.md
Due: none

Remove c-issubtype-polymorphic-forced-to-native benchmark, it's pointless without Sulong
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-issubtype-polymorphic-forced-to-native.py
  mx.graalpython/mx_graalpython_bench_param.py
  mx.graalpython/polybench-stable-run-config.json
  mx.graalpython/suite.py
Due: pylint

Add missing O_* posix constants
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstants.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstantsDarwin.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixConstantsLinux.java
  scripts/gen_native_cfg.py
Due: eclipseformat, checkstyle

Merge conflicts
  docs/user/Embedding-Build-Tools.md
Due: none

[GR-71337] Interoperability run through
  docs/user/Interoperability.md
Due: none

Community and requirements.txt information
  docs/user/Embedding-Build-Tools.md
Due: none

Remove community
  docs/user/Embedding-Build-Tools.md
Due: none

Remove unused function
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_setprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Update imports
  ci/graal/ci/ci_common/bench-common.libsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Remove ClearLocal bytecode in favor of built-in
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Migrate from deprecated Truffle Env host APIs
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/JArrayModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/JavaModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PolyglotModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignNumberBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/foreign/ForeignObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/ImportStarNode.java
Due: eclipseformat, checkstyle

Fix warnings from mixing @Shared and @Exclusive
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextComplexBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextTupleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/CodecsRegistry.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeZoneBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeZoneNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/re/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/HashingStorage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/dict/DictReprBuiltin.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/map/MapBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/memoryview/MemoryViewNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLSocketBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/TupleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/call/CallDispatchers.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/SetDictNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PException.java
Due: eclipseformat, checkstyle

Make Bytecode DSL the default
  ci.jsonnet
  ci/constants.libsonnet
  graalpython/com.oracle.graal.python.test/src/runner.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_benchmark.py
Due: eclipseformat, checkstyle, pylint

Bytecode DSL fix: last expr statement in module is return value for interop eval even if it is a docstring
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/basic/HelloWorldTests.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Ignore the new f-string test on manual interpreter
  graalpython/com.oracle.graal.python.test/src/tests/test_string.py
Due: none

Remove Bytecode DSL config from benchmarks
  mx.graalpython/mx_graalpython_benchmark.py
Due: pylint

Ignore test_next_until_return_in_generator, issue: GR-71863
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
Due: none

Ignore stack size stability tests, issue: GR-64479
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compile.txt
Due: none

Ignore few tests in test_pdb, issue: GR-71918
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
Due: none

Ignore test_descr:test_remove_subclass, issue: GR-71917
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_descr.txt
Due: none

Ignore test_sys_settrace tests that give wrong return statement line, issue: GR-71864
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys_settrace.txt
Due: none

Ignore few test_(c)profile tests, issue: GR-71916
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cprofile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_profile.txt
Due: none

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
