Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Untag test.test_zipfile._path.test_path.TestPath.test_pickle on Windows
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipfile.txt
Due: none

Move bytecode DSL jobs from jdk21 to jdk-latest
  ci.jsonnet
Due: none

Fix bisection recursion
  mx.graalpython/mx_graalpython_bisect.py
Due: pylint

Disable fail fast test mode by default
  mx.graalpython/mx_graalpython.py
Due: pylint

Move pybench-micro_small-bytecode-dsl-graalpython_enterprise_interpreter_bc_dsl to weekly
  ci.jsonnet
Due: none

Fix time.strftime() and implement missing formatters - G, V, u
  graalpython/com.oracle.graal.python.test/src/tests/test_time.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TimeModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix initializing of the datetime module native extension
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
Due: eclipseformat, checkstyle

Fix time.tzset() and restore system timezone
  graalpython/com.oracle.graal.python.test/src/tests/test_time.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TimeModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
Due: eclipseformat, checkstyle

Correctly allocate _PyGC_Head for PyMemoryViewObject
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyMemoryViewWrapper.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/transitions/CApiTransitions.java
Due: eclipseformat, checkstyle

Add Truffle Node implementation of re.split
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SREModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TRegexUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/lib-graalpython/_sre.py
Due: eclipseformat, checkstyle

Cache frozen call targets in multicontext mode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
Due: eclipseformat, checkstyle

Load code from marshalled form without Env.parse
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/Compiler.java
  graalpython/lib-python/3/importlib/_bootstrap_external.py
Due: eclipseformat, checkstyle

Use SipHash for _imp.source_hash
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
Due: eclipseformat, checkstyle

Improve unmarshalling performance
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
Due: eclipseformat, checkstyle

Add boundary data for codecs registry initialization
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/CodecsModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cjkcodecs/MultibyteCodecUtil.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/CodecsRegistry.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
Due: eclipseformat, checkstyle

MaterializeFrameNode: fix PE error, minor footprint improvements
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
Due: eclipseformat, checkstyle

Adapt new_style Java subclassing code to support super() and multiple levels of Python subclasses under Java
  CHANGELOG.md
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/lib-graalpython/__graalpython__.py
Due: none

Fix copyrights
  CHANGELOG.md
  scripts/wheelbuilder/darwin/numpy.2.0.2.sh
Due: none

Add missing call to `__init__`, since Java subclasses' `__new__` returns a non-subinstance
  graalpython/com.oracle.graal.python.test/src/tests/test_interop.py
  graalpython/lib-graalpython/__graalpython__.py
Due: none

Implement datetime module in Java
  graalpython/com.oracle.graal.python.annotations/src/com/oracle/graal/python/annotations/Builtin.java
  graalpython/com.oracle.graal.python.frozen/freeze_modules.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_datetime.py
  graalpython/com.oracle.graal.python.test/src/tests/test_datetime.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_support.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_support.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/TimeModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DatetimeModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/IsoCalendarBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/PDate.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/PDateTime.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/PTime.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/PTimeDelta.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/PTimeZone.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/PTzInfo.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeDeltaNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeZoneBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeZoneNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TzInfoBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/FrozenModules.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/module/PythonModule.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/SpecialAttributeNames.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/ErrorMessageFormatter.java
  graalpython/lib-graalpython/modules/_polyglot_datetime.py
  graalpython/lib-python/3/datetime.py
  graalpython/lib-python/3/test/datetimetester.py
Due: eclipseformat, checkstyle

SyncFrameValuesNode: make sure BytecodeNode is PE constant
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
Due: eclipseformat, checkstyle

Stack walk tests: handle gracefully if assertions are not enabled
  graalpython/com.oracle.graal.python.test/src/tests/test_indirect_call.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
Due: eclipseformat, checkstyle

except* implementation
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_compile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_except_star.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/BaseExceptionGroupBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/ChainExceptionsNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PBaseExceptionGroup.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/PGuards.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/RaiseNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/EncapsulateExceptionGroupNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/ExceptMatchNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/HandleExceptionsInHandlerNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/exception/ValidExceptionNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PException.java
Due: eclipseformat, checkstyle

rm unused import
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PBaseExceptionGroup.java
Due: eclipseformat, checkstyle

rm incorrect compilation final usage
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PBaseExceptionGroup.java
Due: eclipseformat, checkstyle

fix type error incorrect
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Port 14 GraalPy micro benchmarks to Polybench, add initial parameters, and define stable run config JSON file.
  ci/graal/common.json
  graalpython/com.oracle.graal.python.benchmarks/python/micro/arith-binop.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/arith-modulo-sized.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/attribute-access-polymorphic.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/attribute-access-super.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/attribute-access.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/attribute-bool.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/boolean-logic-sized.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/builtin-len-tuple-sized.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/builtin-len.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/bytecode-benchmark.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/call-classmethod-sized.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/call-method-polymorphic.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/for-range.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/generate-functions-sized.py
  mx.graalpython/polybench-stable-run-config.json
  mx.graalpython/suite.py
Due: pylint

Escape pipes in MAVEN_OPTS on Windows
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix raising location
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PolyglotModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/memoryview/MemoryViewNodes.java
Due: eclipseformat, checkstyle

Fix regression in repeated-import.py
  graalpython/com.oracle.graal.python.test/src/tests/test_indirect_call.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Update imports
  mx.graalpython/suite.py
Due: pylint

Update tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_inspect.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_set.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_strptime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_support.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Improve assertion messages
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
Due: eclipseformat, checkstyle

Fix exception location assertion during Python async actions
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/MaterializeFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/AsyncHandler.java
Due: eclipseformat, checkstyle

[GR-71336] Pyhton standalone applications
  docs/user/Python-Standalone-Applications.md
Due: none

Tech writer run through
  docs/site/_config.yml
  docs/user/Native-Images-with-Python.md
Due: none

Applied suggestion
  docs/user/Python-Standalone-Applications.md
Due: none
