Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Fix C aborts in test_capi
  graalpython/com.oracle.graal.python.cext/include/cpython/listobject.h
  graalpython/com.oracle.graal.python.cext/src/longobject.c
Due: none

Allow empty HMAC keys
  graalpython/com.oracle.graal.python.test/src/tests/test_hashlib.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
Due: eclipseformat, checkstyle

Handle NoDefault in id
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/IDUtils.java
Due: eclipseformat, checkstyle

Avoid sched_getscheduler in tests
  graalpython/lib-python/3/test/test_posix.py
Due: none

Add missing TruffleBoundary
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLContextBuiltins.java
Due: eclipseformat, checkstyle

Fix test_patched_pip to work with current pip
  graalpython/com.oracle.graal.python.test/src/tests/test_patched_pip.py
Due: none

Implement array module changes
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ArrayModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/ArrayNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/array/PArray.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/BufferStorageNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/BufferFormat.java
Due: eclipseformat, checkstyle

Untag forked process pool tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
Due: none

Implement _field_types on ast module types
  graalpython/com.oracle.graal.python.pegparser.generator/asdl/asdl_java.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstTypeFactory.java
Due: eclipseformat, checkstyle

Implement __replace__ methods
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/DateTimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/datetime/TimeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/namespace/SimpleNamespaceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tuple/StructSequenceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add PythonFinalizationError
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.test/src/tests/test_threading.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ThreadModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add sys._framework on all platforms
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
Due: eclipseformat, checkstyle

Fix buffer handling in bytes.removeprefix/removesuffix
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
Due: eclipseformat, checkstyle

Update tokenizer
  graalpython/com.oracle.graal.python.pegparser.test/src/com/oracle/graal/python/pegparser/test/tokenizer/TokenizerTest.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/tokenizer/Token.java
  graalpython/com.oracle.graal.python.pegparser/src/com/oracle/graal/python/pegparser/tokenizer/Tokenizer.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tokenize/PTokenizerIter.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/tokenize/TokenizerIterBuiltins.java
Due: eclipseformat, checkstyle

Fix venvlauncher.c using GRAAL_PYTHON_ARGS instead of GRAAL_PYTHON_VM_ARGS
  graalpython/python-venvlauncher/src/venvlauncher.c
Due: none

Update ast module
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ast/AstTypeFactory.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Use git add --force in mx_graalpython_import
  mx.graalpython/mx_graalpython_import.py
Due: pylint

Enable block comment formatting
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedWriterNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  mx.graalpython/eclipse-settings/org.eclipse.jdt.core.prefs
Due: eclipseformat, checkstyle

Move PyUnicode_FromString to C
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Disable list tests that depend on finalizers
  graalpython/lib-python/3/test/test_capi/test_list.py
Due: none

Fix GetErrorHandlerNode choosing wrong handler for surrogatepass
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/codecs/ErrorHandlers.java
Due: eclipseformat, checkstyle

Update PyObject_HasAttr* family of functions
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Avoid direct slice access in _ctypes.c
  graalpython/com.oracle.graal.python.cext/modules/_ctypes/_ctypes.c
Due: none

Update mx_graalpython_import
  mx.graalpython/mx_graalpython_import.py
Due: pylint

Update csv module behavior
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/csv/CSVDialectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/csv/CSVReader.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/csv/CSVReaderBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Update base exception split matcher
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/BaseExceptionGroupBuiltins.java
Due: eclipseformat, checkstyle

Untag tzdata-dependent test
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
Due: none

Clean up removed C functions
  graalpython/com.oracle.graal.python.cext/src/call.c
  graalpython/com.oracle.graal.python.cext/src/import.c
  graalpython/com.oracle.graal.python.cext/src/pylifecycle.c
  graalpython/com.oracle.graal.python.processor/src/com/oracle/graal/python/processor/CApiBuiltinsProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/lib-graalpython/patches/nanobind.patch
Due: eclipseformat, checkstyle

Avoid identity comparison for empty tuples in test_typing
  graalpython/lib-python/3/test/test_typing.py
Due: none

Update bytes object's behaviors
  graalpython/com.oracle.graal.python.test/src/tests/test_bytes.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/ByteArrayBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/BytesFormatProcessor.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/formatting/FormatProcessor.java
Due: eclipseformat, checkstyle

Support indent in json module
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONEncoderBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/JSONScannerBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/json/PJSONEncoder.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

release GraalVM 25.0.4
  mx.graalpython/suite.py
Due: pylint

new dev cycle GraalVM 25.0.5
  mx.graalpython/suite.py
Due: pylint

Update GenericAlias.__dir__
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/types/GenericAliasBuiltins.java
Due: eclipseformat, checkstyle

Add coroutine.__class_getitem__
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/generator/CoroutineBuiltins.java
Due: eclipseformat, checkstyle

Fix frame proxy methods
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/FrameLocalsProxyBuiltins.java
Due: eclipseformat, checkstyle

Fix converting FileIO.name
  graalpython/com.oracle.graal.python.test/src/tests/test_pyio.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/IOModuleBuiltins.java
Due: eclipseformat, checkstyle

Support an argument in SimpleNamespace constructor
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/namespace/SimpleNamespaceBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Update chr error handling
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/BuiltinFunctions.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
