Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Fix Windows PeekNamedPipe return shape without a buffer
  graalpython/com.oracle.graal.python.test/src/tests/test_winapi.py
  graalpython/lib-graalpython/modules/_winapi.py
Due: none

Preserve bytes consumed by overlapped partial pipe reads
  graalpython/com.oracle.graal.python.test/src/tests/test_winapi.py
  graalpython/lib-graalpython/modules/_winapi.py
Due: none

Signal overlapped pipe connections when the client connected first
  graalpython/com.oracle.graal.python.test/src/tests/test_winapi.py
  graalpython/lib-graalpython/modules/_winapi.py
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_importlib.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_importlib.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sysconfig.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipimport.txt
Due: none

Restore Windows hash algorithm sysconfig variable
  graalpython/com.oracle.graal.python.test/src/tests/test_sysconfig.py
  graalpython/lib-graalpython/_sysconfig.py
  graalpython/lib-python/3/sysconfig/__init__.py
Due: none

Reserve space for native weak reference slots
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_indexed_slots.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
Due: eclipseformat, checkstyle

Handle managed weakrefs without native stub storage
  graalpython/com.oracle.graal.python.cext/src/gcmodule.c
  graalpython/com.oracle.graal.python.cext/src/typeobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_indexed_slots.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/WeakRefModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextWeakrefBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeNodes.java
  graalpython/lib-python/3/test/test_capi/test_misc.py
Due: eclipseformat, checkstyle

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_importlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sysconfig.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_zipimport.txt
Due: none

Update imports
  ci/graal/ci/ci_common/run-spec-impl.libsonnet
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Stop passing /u to cmd.exe
  graalpython/com.oracle.graal.python.test/src/tests/test_subprocess.py
  graalpython/lib-python/3/subprocess.py
Due: none

Extend test_large_content_length_truncated timeout
  graalpython/lib-python/3/test/test_httpservers.py
Due: none

Optimize cached global and builtin reads
  graalpython/com.oracle.graal.python.test/src/tests/test_global_statement.py
  graalpython/com.oracle.graal.python.test/src/tests/test_graalpy_opts.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadBuiltinNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadGlobalOrBuiltinNode.java
Due: eclipseformat, checkstyle

Cache C API character singletons
  graalpython/com.oracle.graal.python.cext/include/cpython/pystate.h
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.cext/src/unicodeobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_unicode.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextUnicodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PThreadState.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/structs/CFields.java
Due: eclipseformat, checkstyle

Rework object.__dir__ and type.__dir__ for PE
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/objects/ObjectHashMapTests.java
  graalpython/com.oracle.graal.python.test/src/tests/test_dict.py
  graalpython/com.oracle.graal.python.test/src/tests/test_object.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/common/ObjectHashMap.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/type/TypeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/lib/PyDictMerge.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/ArrayBuilder.java
Due: eclipseformat, checkstyle

[GR-79841] Add instance dir microbenchmarks
  graalpython/com.oracle.graal.python.benchmarks/python/micro/object-dir-custom-bases.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/object-dir.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Optimize super lookups with bytecode fast paths
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/debug/PythonDebugTest.java
  graalpython/com.oracle.graal.python.test/src/tests/test_graalpy_opts.py
  graalpython/com.oracle.graal.python.test/src/tests/test_super.py
  graalpython/com.oracle.graal.python.test/src/tests/test_super_without_arguments.py
  graalpython/com.oracle.graal.python.test/src/tests/util.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cell/CellBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Split ListNodes.AppendNode
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextListBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/builtins/ListNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

[GR-80088] Include GraalOS resources in the Python resources JAR.
  ci.jsonnet
  ci/graal/ci/ci_common/ci-resources.libsonnet
  ci/graal/common.json
  docs/user/Platform-Support.md
  graalpython/com.oracle.graal.python.annotations/pom.xml
  graalpython/com.oracle.graal.python.bouncycastle/pom.xml
  graalpython/com.oracle.graal.python.pegparser/pom.xml
  graalpython/com.oracle.graal.python.processor/pom.xml
  graalpython/com.oracle.graal.python.resources/pom.xml
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/GraalPyPlatformInfoProviderImpl.java
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/PythonResource.java
  graalpython/com.oracle.graal.python.resources/src/com/oracle/graal/python/resources/PythonResourcePlatform.java
  graalpython/com.oracle.graal.python.shell/pom.xml
  graalpython/com.oracle.graal.python.test.integration/src/com/oracle/graal/python/test/integration/advanced/ResourceVariantProbe.java
  graalpython/com.oracle.graal.python/pom.xml
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_graalos.py
  mx.graalpython/mx_pominit.py
  mx.graalpython/suite.py
  pom.xml
Due: eclipseformat, checkstyle, pylint

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_dataclasses.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_dataclasses.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compileall.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_dataclasses.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
Due: none

Implement PyContextVar_Reset
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_context.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextContextBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/contextvars/ContextVarBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/contextvars/PContextVar.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/contextvars/PContextVarsToken.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Reraise location needs to have the right bytecode node
  graalpython/com.oracle.graal.python.test/src/com/oracle/graal/python/test/interop/PolyglotInteropTest.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/common/LoadCExtException.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/MaterializeLazyTracebackNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/RaiseNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/exception/PException.java
Due: eclipseformat, checkstyle

Run mx python-pominit during import update
  mx.graalpython/mx_graalpython.py
Due: pylint

Update imports
  graalpython/com.oracle.graal.python.annotations/pom.xml
  graalpython/com.oracle.graal.python.bouncycastle/pom.xml
  graalpython/com.oracle.graal.python.pegparser/pom.xml
  graalpython/com.oracle.graal.python.processor/pom.xml
  graalpython/com.oracle.graal.python.resources/pom.xml
  graalpython/com.oracle.graal.python.shell/pom.xml
  graalpython/com.oracle.graal.python/pom.xml
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: pylint

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_compileall.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_dataclasses.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ftplib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_generators.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_importlib.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_logging.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_mmap.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_select.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_selectors.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ssl.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_subprocess.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sys.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_sysconfig.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_type_params.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_uuid.txt
Due: none

Add focused POSIX operation benchmarks
  graalpython/com.oracle.graal.python.benchmarks/python/micro/posix-lseek.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/posix-open-close.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/posix-operations.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/posix-read.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/posix-scandir.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/posix-stat.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/posix-write.py
  mx.graalpython/mx_graalpython.py
  mx.graalpython/mx_graalpython_bench_param.py
Due: pylint

Use ArrayBuilder for frame locals snapshots
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/FrameLocalsProxyBuiltins.java
Due: eclipseformat, checkstyle

Use ArrayBuilder for whitespace byte splits
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/bytes/BytesCommonBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/util/ArrayBuilder.java
Due: eclipseformat, checkstyle

Use ArrayBuilder for string split results
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/str/StringUtils.java
Due: eclipseformat, checkstyle

Untag failing async tests
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncio.txt
Due: none

Implement native sys.getwindowsversion
  graalpython/com.oracle.graal.python.test/src/tests/test_sys.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/python-libposix/src/posix.c
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Fix PBaseExceptionGroup copyright year
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/PBaseExceptionGroup.java
Due: eclipseformat, checkstyle

Implement basic Windows console support
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SysModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/AbstractBufferedIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedWriterBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/CommonFileIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/FileIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/PFileIO.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/WindowsConsoleIOBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/EmulatedPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/LoggingPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/NativePosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PreInitPosixSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/python-libposix/src/posix.c
Due: eclipseformat, checkstyle

Fix async generator aclose
  graalpython/com.oracle.graal.python.test/src/tests/test_generators.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_asyncgen.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/asyncio/AsyncGenThrowBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Enable Cython fast calling conventions
  graalpython/lib-graalpython/patches/cython-3.2.4.patch
Due: none

Keep native method descriptors unbound
  graalpython/com.oracle.graal.python.cext/src/object.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_object.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextObjectBuiltins.java
Due: eclipseformat, checkstyle
