Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

disable test_native_executable_venv_and_one_file test
  graalpython/com.oracle.graal.python.test/src/tests/standalone/test_standalone.py
Due: none

release GraalVM 25.0.4.1
  mx.graalpython/suite.py
Due: pylint

Update torch patch
  graalpython/lib-graalpython/patches/torch-2.10.0.patch
Due: none

Fix cell access in frame proxy
  graalpython/com.oracle.graal.python.test/src/tests/test_frame_tests.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/frame/FrameLocalsProxyBuiltins.java
Due: eclipseformat, checkstyle

Fix annotations test on CPython
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
Due: none

Unpin cloudpickle patch
  graalpython/lib-graalpython/patches/cloudpickle-2.2.1.patch
  graalpython/lib-graalpython/patches/metadata.toml
Due: none

Update librt patch
  graalpython/lib-graalpython/patches/librt-0.10.0.patch
Due: none

Implement missing PyCode C accessors
  graalpython/com.oracle.graal.python.cext/include/cpython/code.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_codeobject.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextCodeBuiltins.java
Due: eclipseformat, checkstyle

Add sysconfig INSTSONAME var
  graalpython/com.oracle.graal.python.test/src/tests/test_sysconfig.py
  graalpython/graalpy-pyconfig/CMakeLists.txt
  graalpython/graalpy-pyconfig/_sysconfigdata_template.py
Due: none

Add new ABI baseline
  abi/abi-graalpy253.xml
Due: none

Implement PyFunction C getters
  graalpython/com.oracle.graal.python.cext/include/cpython/funcobject.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextFuncBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Fix sending NoDefault to native
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_object.py
  graalpython/com.oracle.graal.python.test/src/tests/test_id.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/PythonLanguage.java
Due: eclipseformat, checkstyle

Add missing C type registrations
  graalpython/com.oracle.graal.python.cext/src/capi.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_context.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_dict.py
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_misc.py
Due: none

Add more constants to opcode and dis
  graalpython/lib-python/3/dis.py
  graalpython/lib-python/3/opcode.py
Due: none

Add _Py_IsFinalizing compatiblity alias for pybind11
  graalpython/com.oracle.graal.python.cext/include/pylifecycle.h
  graalpython/com.oracle.graal.python.cext/src/pylifecycle.c
Due: none

Implement PyCell C accessors
  graalpython/com.oracle.graal.python.cext/include/cpython/cellobject.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextFuncBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CApiFunction.java
Due: eclipseformat, checkstyle

Add accessor indirection for PyMemoryView
  graalpython/com.oracle.graal.python.cext/include/cpython/memoryobject.h
  graalpython/com.oracle.graal.python.cext/src/memoryobject.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_memoryview.py
Due: none

Add new Cython-specific APIs to support their array module
  graalpython/com.oracle.graal.python.cext/CMakeLists.txt
  graalpython/com.oracle.graal.python.cext/include/listobject.h
  graalpython/com.oracle.graal.python.cext/src/graalpyarray.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_array.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextArrayBuiltins.java
  graalpython/lib-graalpython/patches/cython-3.2.4.patch
Due: eclipseformat, checkstyle

Make PCell inherit from PythonBuiltinObject
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cell/CellBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cell/PCell.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/object/ObjectNodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/object/GetClassNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
Due: eclipseformat, checkstyle

Fix PyDict_GET_SIZE
  graalpython/com.oracle.graal.python.cext/include/cpython/dictobject.h
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_dict.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/cext/PythonCextDictBuiltins.java
Due: eclipseformat, checkstyle

Fix unused variable warning
  graalpython/com.oracle.graal.python.cext/include/cpython/tupleobject.h
Due: none

Update imports
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/graalos_versions.json
  mx.graalpython/mx_pominit.py
  mx.graalpython/suite.py
  pom.xml
Due: pylint

Fix test issues on windows
  graalpython/com.oracle.graal.python.cext/src/graalpyarray.c
  graalpython/com.oracle.graal.python.test/src/tests/cpyext/test_functions.py
Due: none

Fix: ensure SubstringNode receives PE constant lazy argument from TextIOWrapper
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/TextIOWrapperBuiltins.java
Due: eclipseformat, checkstyle

Update imports
  ci/graal/ci/common.jsonnet
  mx.graalpython/graalos_versions.json
  mx.graalpython/suite.py
Due: pylint

Adapt to updated GraalOS launcher
  graalpython/graalpy_graalos_standalone_payload/graalpy-sandbox-launcher.sh
Due: none

Fetch the right JDK for coverage jobs
  ci/python-gate.libsonnet
Due: none

Fix keeping the right graal in bisect script
  mx.graalpython/mx_graalpython_bisect.py
Due: pylint

Remove pyo3 test workaround
  mx.graalpython/downstream_tests.py
Due: pylint

Make the --force arg in bisect script repush new branch
  scripts/bisect_benchmark_regression.py
Due: none

Make it possible to bisect pyperformance
  .agents/skills/rota-bench-regression-analysis/SKILL.md
  scripts/bisect_benchmark_regression.py
Due: none

Use clean --aggressive in bisect benchmark
  mx.graalpython/mx_graalpython_bisect.py
Due: pylint

Implement marshal allow_code parameter
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_marshal.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Fix get_pypi_source.py shebang
  scripts/get_pypi_source.py
Due: none

Use uncached nodes in slice repr
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/slice/SliceBuiltins.java
Due: eclipseformat, checkstyle

[GR-78840] Make BouncyCastle opt-in
  graalpython/com.oracle.graal.python.annotations/pom.xml
  graalpython/com.oracle.graal.python.bouncycastle/pom.xml
  graalpython/com.oracle.graal.python.pegparser/pom.xml
  graalpython/com.oracle.graal.python.processor/pom.xml
  graalpython/com.oracle.graal.python.resources/pom.xml
  graalpython/com.oracle.graal.python.shell/pom.xml
  graalpython/com.oracle.graal.python/pom.xml
  mx.graalpython/mx_graalpython.py
  mx.graalpython/suite.py
Due: pylint

More robust Windows test runner process cleanup
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none
