Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: checkcopyrights
    name: Copyright check
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkcopyrights.sh
    types: [text]
  - id: eclipseformat
    name: Eclipse formatter
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-eclipseformat.sh
    types: [text]
    files: '\.java$'
  - id: checkstyle
    name: Checkstyle
    language: system
    require_serial: true
    entry: bash scripts/pre-commit-checkstyle.sh
    types: [text]
    files: '\.java$'
  - id: pylint
    name: Pylint on mx files
    language: system
    pass_filenames: false
    require_serial: true
    entry: bash scripts/pre-commit-pylint.sh
    types: [text]
    files: '^mx\.graalpython/.*\.py$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    name: Trim Trailing Whitespace
    entry: trailing-whitespace-fixer
    language: python
    types: [text]
    files: '\.(java|py|md|c|h|sh)$'
    exclude: '^graalpython/lib-python/.*'

Add sandboxed XML tests
  mx.graalpython/mx_graalpython.py
Due: pylint

Add accessors for handlers
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PXMLParser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
  graalpython/lib-python/3/test/test_pyexpat.py
Due: eclipseformat, checkstyle

Add changelog entry
  CHANGELOG.md
Due: none

Clean up pyexpat module
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PXMLParser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PyExpatModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/ErrorMessages.java
Due: eclipseformat, checkstyle

Add reachability metadata for xerces
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/reflect-config.json
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/resource-config.json
Due: none

Merge posix tests gate into sanboxed gate
  ci.jsonnet
  mx.graalpython/mx_graalpython.py
Due: pylint

Skip tests that don't pass on pyexpat Java backend
  graalpython/lib-python/3/test/test_pyexpat.py
  graalpython/lib-python/3/test/test_xml_etree.py
Due: none

Make more xml tests pass
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PXMLParser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
Due: eclipseformat, checkstyle

Fix more tests
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PXMLParser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PyExpatModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
  graalpython/lib-python/3/test/test_sax.py
Due: eclipseformat, checkstyle

Flip the default of PyExpatModuleBackend
  graalpython/com.oracle.graal.python.shell/src/com/oracle/graal/python/shell/GraalPythonMain.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Make test_parse_file pass
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
  graalpython/lib-python/3/test/test_pyexpat.py
Due: eclipseformat, checkstyle

Add missing xml parser accessors
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PXMLParser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PyExpatModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
Due: eclipseformat, checkstyle

Skip sandboxed tagged tests on Darwin
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix missing boundary call data
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
Due: eclipseformat, checkstyle

[GR-73709] Fix Java pyexpat XML declaration semantics
  graalpython/com.oracle.graal.python.test/src/tests/test_xml.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PXMLParser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PyExpatModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
Due: eclipseformat, checkstyle

Implement Java-based pyexpat backend
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/Python3Core.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/PythonBuiltinClassType.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/GraalPythonModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PXMLParser.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/PyExpatModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/BuiltinNames.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonOptions.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/object/PFactory.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Fix one more test
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
  graalpython/lib-python/3/test/test_sax.py
Due: eclipseformat, checkstyle

Parse files incrementally
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
Due: eclipseformat, checkstyle

Make test_parse_parse_str pass
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
  graalpython/lib-python/3/test/test_pyexpat.py
Due: eclipseformat, checkstyle

Fix hardcoded constant
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/pyexpat/XMLParserBuiltins.java
Due: eclipseformat, checkstyle

[GR-71860] Isolate C microbenchmark extension modules
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-call-classmethod.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-issubtype-monorphic.py
  graalpython/com.oracle.graal.python.benchmarks/python/micro/c-issubtype-polymorphic.py
Due: none

[GR-71710] Preserve large unicode error positions
  graalpython/com.oracle.graal.python.test/src/tests/test_codecs.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/BaseExceptionAttrNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/UnicodeDecodeErrorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/UnicodeEncodeErrorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/UnicodeErrorBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/exception/UnicodeTranslateErrorBuiltins.java
Due: eclipseformat, checkstyle

[GR-71591] Preserve signed zero in math.modf
  graalpython/com.oracle.graal.python.test/src/tests/test_math.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MathModuleBuiltins.java
Due: eclipseformat, checkstyle

[GR-72206] Suppress stdout shutdown lock noise
  graalpython/com.oracle.graal.python.test/src/tests/test_io.py
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/io/BufferedIONodes.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Retrieve code units from constants by index
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/MarshalModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Add a skill to deal with jira tickets autonomously
  .agents/skills/jira/SKILL.md
Due: none

[GR-69544] Add Darwin reproducer for launcher path spaces
  graalpython/com.oracle.graal.python.test/src/tests/test_venv.py
Due: none

[GR-74148] Relax multiprocessing wait timeout upper bound
  graalpython/com.oracle.graal.python.test/src/tests/test_multiprocessing_graalpy.py
Due: none

[GR-74159] Make flock shared-lock test wait deterministically
  graalpython/com.oracle.graal.python.test/src/tests/test_fcntl.py
Due: none

[GR-69544] Use direct macOS venv launcher reproducer
  graalpython/com.oracle.graal.python.test/src/tests/test_venv.py
Due: none

[GR-72206] Align stdout shutdown handling with CPython
  graalpython/com.oracle.graal.python.test/src/tests/test_io.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PythonContext.java
Due: eclipseformat, checkstyle

Keep code units for reparse
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/BytecodeDSLCompiler.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Re-enable disabled test
  graalpython/com.oracle.graal.python.test/src/tests/test_code.py
Due: none

Use constants array directly instead of childCode map
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/PCode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/MakeFunctionNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode/PBytecodeRootNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

[GR-69544] Fix macOS venv launcher command parsing
  graalpython/python-macos-launcher/src/venvlauncher.c
Due: none

[GR-69544] Trim macOS launcher command from pyvenv.cfg
  graalpython/python-macos-launcher/src/venvlauncher.c
Due: none

[GR-72206] Normalize shutdown stderr newlines in test
  graalpython/com.oracle.graal.python.test/src/tests/test_io.py
Due: none

[GR-69544] Match quoted macOS venv launcher command
  graalpython/com.oracle.graal.python.test/src/tests/test_venv.py
Due: none

Use dedicated interface in `LookupNativeI64MemberFromBaseNode`
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/CExtNodes.java
Due: eclipseformat, checkstyle

[GR-74145] Address PR 4321 review comments
  graalpython/com.oracle.graal.python.cext/src/graalpy_stacktrace.c
  graalpython/com.oracle.graal.python.cext/src/obmalloc.c
Due: none
