Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Add check for trigger type, always run on fork PR
  .github/workflows/ci-unittests.yml
Due: none

Skip if PR by graalvmbot is already merged
  .github/workflows/ci-unittests.yml
Due: none

Update changelog
  CHANGELOG.md
  docs/user/Interoperability.md
Due: none

Use `:git` source for Jekyll theme.
  docs/site/Gemfile
  docs/site/Gemfile.lock
Due: none

Switch to SGC with compacting old gen and enable relative code pointers to reduce rss
  mx.graalpython/mx_graalpython.py
Due: pylint

[GR-74749] Address PR review feedback
  docs/user/Interoperability.md
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/buffer/ForeignBufferAcquireExports.java
Due: eclipseformat, checkstyle

Harden path check in cpyext helper by avoiding getsitepackages.
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
Due: none

Update imports
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Fix #497: bump Jinja2 to 3.1.6 in HPy docs requirements
  graalpython/hpy/docs/requirements.txt
Due: none

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_bdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_import.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_io.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_isinstance.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_signal.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_trace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
Due: none

Update unittest tags
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_capi.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_cmd_line.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_concurrent_futures.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_functools.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_typing.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_ucn.txt
Due: none

[GR-70922] Add changelog entry for native footprint change
  CHANGELOG.md
Due: none

[GR-70922] Drop explicit CompactingOldGen flag
  mx.graalpython/mx_graalpython.py
Due: pylint

Fix: elementWantedForTraceback should unwrap generator frames
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/traceback/LazyTraceback.java
Due: eclipseformat, checkstyle

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecencodings_jp.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Apply retags for linux-aarch64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecencodings_jp.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_fork.txt
Due: none

Apply retags for win32-AMD64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecencodings_jp.txt
Due: none

Update imports
  mx.graalpython/suite.py
Due: pylint

Update ROTA skill
  .agents/skills/graalpython-rota/SKILL.md
  .gitignore
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_codecencodings_jp.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_multiprocessing_spawn.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_socket.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_tarfile.txt
Due: none

Revise Python and JVM docs audience split
  docs/site/01-jvm-developers.md
  docs/site/01-python-developers.md
  docs/site/02-jvm-developers-docs.md
  docs/site/02-python-developers-docs.md
  docs/user/Embedding-Native-Extensions.md
  docs/user/Embedding-Permissions.md
  docs/user/Interoperability.md
  docs/user/Native-Extensions.md
  docs/user/Python-Runtime.md
  docs/user/README.md
  docs/user/Standalone-Getting-Started.md
  docs/user/Troubleshooting.md
Due: none

Improve Python frame asserts message
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/function/PArguments.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/frame/ReadFrameNode.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/ExecutionContext.java
Due: eclipseformat, checkstyle

Replace _imp source hash SipHash dependency
  graalpython/com.oracle.graal.python.test/src/tests/test_imports.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/ImpModuleBuiltins.java
Due: eclipseformat, checkstyle

Use JDK certificate parsing for PEM certs
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SSLModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLContextBuiltins.java
Due: eclipseformat, checkstyle

Drop core BouncyCastle dependencies
  mx.graalpython/suite.py
Due: pylint

Use JDK PKCS8 key parsing for SSL
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
Due: eclipseformat, checkstyle

Add optional BC support SPI for SSL
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/services/com.oracle.graal.python.builtins.objects.ssl.SSLBouncyCastleSupport
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BCSSLBouncyCastleSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLBouncyCastleSupport.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/SSLBouncyCastleSupportProvider.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Decode PKCS1 RSA keys without BC provider
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
Due: eclipseformat, checkstyle

Remove BouncyCastle security provider registration
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/BouncyCastleFeature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/LazyBouncyCastleProvider.java
Due: eclipseformat, checkstyle

Update copyright years for BouncyCastle files
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/BouncyCastleFeature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/LazyBouncyCastleProvider.java
Due: eclipseformat, checkstyle

Make SSL BouncyCastle support optional
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/native-image.properties
  graalpython/com.oracle.graal.python.bouncycastle/src/META-INF/native-image/org.graalvm.python/python-bouncycastle/reflect-config.json
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BCSSLBouncyCastleSupport.java
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/bouncycastle/BouncyCastleFeature.java
  graalpython/com.oracle.graal.python.bouncycastle/src/com/oracle/graal/python/builtins/objects/ssl/LazyBouncyCastleProvider.java
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/reflect-config.json
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/CertUtils.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Restore BC native-image metadata for SSL fallback
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/reflect-config.json
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/BouncyCastleFeature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/ssl/LazyBouncyCastleProvider.java
Due: eclipseformat, checkstyle

Stop eager BouncyCastle provider initialization
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/SSLModuleBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
Due: eclipseformat, checkstyle

Use JDK PBKDF2 implementation in hashlib
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/hashlib/HashlibModuleBuiltins.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Clean BC native-image reachability hooks
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/native-image.properties
  graalpython/com.oracle.graal.python/src/META-INF/native-image/org.graalvm.python/python-language/reflect-config.json
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/BouncyCastleFeature.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/SSLCryptoFeature.java
Due: eclipseformat, checkstyle

Remove stale BouncyCastleFeature imports
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/BouncyCastleFeature.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
