Repository oracle/graalpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: eclipseformat, checkstyle, pylint

eclipseformat:
  name: Eclipse formatter
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-eclipseformat.sh

checkstyle:
  name: Checkstyle
  language: system
  require_serial: true
  entry: bash scripts/pre-commit-checkstyle.sh

pylint:
  name: Pylint on mx files
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash scripts/pre-commit-pylint.sh

Use ci-matrix-gen to call retagger and run retagger merge script
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittest-retagger.yml
Due: none

Run retagger on Linux aarch64
  .github/workflows/ci-unittest-retagger.yml
  .github/workflows/ci-unittests.yml
Due: none

disable tests on draft
  .github/workflows/ci-unittests.yml
Due: none

Rm redundant check
  .github/scripts/merge_retagger_results.py
Due: none

Fix Windows arch name in retagger merge
  .github/workflows/ci-unittest-retagger.yml
Due: none

rm redundant check
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Extract PR test to a single workflow
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  .github/workflows/ci-unittests.yml
Due: none

Add retagger label to PR
  .github/workflows/ci-unittest-retagger.yml
Due: none

Merge oracle/graalpython master and fixes issues
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_asyncio.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_code.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_contextlib_async.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_coroutines.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_datetime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_genexps.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_grammar.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_pdb.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_strptime.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_sys_settrace.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_threading.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/test_unittest.txt
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags_bytecode_dsl/todo.sh
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
Due: eclipseformat, checkstyle

Enable Windows in ci-unittest workflow
  .github/workflows/ci-unittests.yml
Due: none

Rm debugs, fix github_ci_build_args not used
  .github/workflows/ci-unittests.yml
  graalpython/com.oracle.graal.python.test/src/runner.py
  mx.graalpython/mx_graalpython.py
Due: pylint

Apply retags for linux-x86_64
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_configparser.txt
Due: none

Update PR unittest trigger
  .github/workflows/ci-unittests.yml
Due: none

Update imports
  ci/graal/ci/ci_common/bench-common.libsonnet
  ci/graal/ci/common.jsonnet
  ci/graal/common.json
  mx.graalpython/suite.py
Due: pylint

Revert 'update imports', mx labsjdk version isn't up to date yet.
  mx.graalpython/suite.py
Due: pylint

tmp: Add debug to retagger
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Excluce 'bench' from pr unittest
  .github/workflows/ci-unittests.yml
Due: none

Fix tagged test platform sort order
  graalpython/com.oracle.graal.python.test/src/runner.py
Due: none

Handle case when no tag has changed
  .github/workflows/ci-unittest-retagger.yml
Due: none

Revert retagger gate to weekly, allow weekly in matrix
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
  ci.jsonnet
Due: none

Fix choco / maven in PATH
  .github/workflows/ci-matrix-gen.yml
  ci/python-gate.libsonnet
Due: none

Remove comments
  .github/scripts/extract_matrix.py
  .github/workflows/ci-matrix-gen.yml
Due: none

Fix psutil package removed by mx update imports
  ci/python-gate.libsonnet
Due: none

Add retagger workflow input
  .github/workflows/ci-unittest-retagger.yml
Due: none

Build standalone artifacts before unittest/retags to avoid re-building them
  .github/workflows/ci-unittest-retagger.yml
  .github/workflows/ci-unittests.yml
Due: none

Run weekly jobs only in tier1 otherwise it would run multiple times
  .github/scripts/extract_matrix.py
Due: none

test_repr_deep broken after mx update ?
  graalpython/com.oracle.graal.python.test/src/tests/unittest_tags/test_userlist.txt
Due: none

Fix .github/scripts/ path in github path
  .github/workflows/ci-matrix-gen.yml
  ci/python-gate.libsonnet
Due: none

Revert mx update in ci/graal/common.jsonnet
  ci/graal/ci/common.jsonnet
Due: none

Update msbuild action / graal versions
  .github/workflows/ci-matrix-gen.yml
  mx.graalpython/suite.py
Due: pylint

Fix empty weekly retagger branch
  .github/workflows/ci-unittest-retagger.yml
Due: none

Rebase ci/graal on master
  ci/graal/ci/ci_common/bench-common.libsonnet
  ci/graal/common.json
  graalpython/com.oracle.graal.python.benchmarks/python/micro/phase_shift_warmup_baseline.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/code/CodeBuiltins.java
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/compiler/bytecode_dsl/RootNodeCompiler.java
  mx.graalpython/suite.py
Due: eclipseformat, checkstyle, pylint

Override linux aarch64 python version
  .github/scripts/extract_matrix.py
  ci/python-gate.libsonnet
Due: none

Add specs for Pattern and Match classes
  graalpython/com.oracle.graal.python.test/src/tests/test_re.py
Due: none

Do not pass EnableBytecodeDSLInterpreter flag to pip install setuptools in get_setuptools
  graalpython/com.oracle.graal.python.test/src/tests/__init__.py
Due: none

Fix potential deopt loop in CheckAndLoadLocal
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/nodes/bytecode_dsl/PBytecodeDSLRootNode.java
Due: eclipseformat, checkstyle

Make native slot wrappers context-specific
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/objects/cext/capi/PyProcsWrapper.java
Due: eclipseformat, checkstyle

Remove Bytecode DSL handling in fork_exec to fix pip installation in venv
  graalpython/com.oracle.graal.python.test/src/tests/standalone/test_standalone.py
  graalpython/com.oracle.graal.python/src/com/oracle/graal/python/builtins/modules/PosixSubprocessModuleBuiltins.java
Due: eclipseformat, checkstyle

Path conditions:
  eclipseformat: any of: \.java$
  checkstyle: any of: \.java$
  pylint: any of: ^mx\.graalpython/.*\.py$
